extends html
snippet blurb-2
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-3 col-lg-3 col-xl-3">
	        <!-- Start Blurb -->
	        <div class="row mb-2">
	            <div class="col text-center">
	                <i class="fa fa-check fa-4x mt-3" aria-hidden="true"></i>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col text-center">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet blurb-circle-2
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-3 col-lg-3 col-xl-3">
	        <!-- Start Blurb -->
	        <div class="row mb-2">
	            <div class="col text-center">
	                <div class="rounded-circle bg-primary text-white d-inline-block">
	                    <i class="fa fa-check fa-4x mt-3 mb-3 ml-3 mr-3" aria-hidden="true"></i>
	                </div>                
	            </div>
	        </div>
	        <div class="row">
	            <div class="col text-center">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet blurb-circle
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-4 col-lg-4 col-xl-4">
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-3">
	                <div class="rounded-circle bg-primary text-white">
	                    <i class="fa fa-check fa-2x ml-3 mt-3 mr-3 mb-3" aria-hidden="true"></i>
	                </div>                
	            </div>
	            <div class="col-9">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet blurb
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-4 col-lg-4 col-xl-4">
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet blurb-list-2
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-3 col-lg-3 col-xl-3">
	        <!-- Start Blurb -->
	        <div class="row mb-2">
	            <div class="col text-center">
	                <div class="rounded-circle bg-primary text-white d-inline-block">
	                    <i class="fa fa-check fa-4x mt-3 mb-3 ml-3 mr-3" aria-hidden="true"></i>
	                </div>                
	            </div>
	        </div>
	        <div class="row">
	            <div class="col text-center">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	    <div class="col-md-3 col-lg-3 col-xl-3">
	        <!-- Start Blurb -->
	        <div class="row mb-2">
	            <div class="col text-center">
	                <div class="rounded-circle bg-primary text-white d-inline-block">
	                    <i class="fa fa-check fa-4x mt-3 mb-3 ml-3 mr-3" aria-hidden="true"></i>
	                </div>                
	            </div>
	        </div>
	        <div class="row">
	            <div class="col text-center">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	    <div class="col-md-3 col-lg-3 col-xl-3">
	        <!-- Start Blurb -->
	        <div class="row mb-2">
	            <div class="col text-center">
	                <div class="rounded-circle bg-primary text-white d-inline-block">
	                    <i class="fa fa-check fa-4x mt-3 mb-3 ml-3 mr-3" aria-hidden="true"></i>
	                </div>                
	            </div>
	        </div>
	        <div class="row">
	            <div class="col text-center">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet blurb-list
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-4 col-lg-4 col-xl-4">
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-lock fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->      
	        <br>  
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-users fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet blurb-product-2
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">    
	    <div class="col-md-4 col-lg-4 col-xl-4">
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-lock fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Feature #2</strong><br>
	                In sollicitudin mauris posuere nulla accumsan ullamcorper.
	            </div>
	        </div>
	        <!-- End Blurb -->      
	        <br>  
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-users fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Some Other Feature</strong><br>
	                Curabitur sodales elit at eleifend hendrerit.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Some Strange Thing</strong><br>
	                Nunc nec enim elementum, sagittis nisl vel, dignissim tellus.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Exhilarating Title</strong><br>
	                Vivamus quis est vel arcu scelerisque tempor.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>An Awesome Feature</strong><br>
	                Pellentesque placerat enim a magna blandit, eu finibus lacus hendrerit.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	    <div class="col-md-6 col-lg-6 col-xl-6">
	        <img src="http://placekitten.com/g/600/600" alt="" class="img-fluid border border-dark mb-4">
	    </div>
	</div>
	<br>
	<p>Code:</p>
	{% highlight html %}
	<div class="row justify-content-md-center">    
	    <div class="col-md-4 col-lg-4 col-xl-4">
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-lock fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Feature #2</strong><br>
	                In sollicitudin mauris posuere nulla accumsan ullamcorper.
	            </div>
	        </div>
	        <!-- End Blurb -->      
	        <br>  
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-users fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Some Other Feature</strong><br>
	                Curabitur sodales elit at eleifend hendrerit.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Some Strange Thing</strong><br>
	                Nunc nec enim elementum, sagittis nisl vel, dignissim tellus.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Exhilarating Title</strong><br>
	                Vivamus quis est vel arcu scelerisque tempor.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>An Awesome Feature</strong><br>
	                Pellentesque placerat enim a magna blandit, eu finibus lacus hendrerit.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	    <div class="col-md-6 col-lg-6 col-xl-6">
	        <img src="http://placekitten.com/g/600/600" alt="" class="img-fluid border border-dark mb-4">
	    </div>
	</div>
	{% endhighlight %}
	<hr>
	<br>https://github.com/shadowcodex/codex-ui
	


snippet blurb-product-3
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">    
	    <div class="col-md-4 col-lg-4 col-xl-4">
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-lock fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Feature #2</strong><br>
	                In sollicitudin mauris posuere nulla accumsan ullamcorper.
	            </div>
	        </div>
	        <!-- End Blurb -->      
	        <br>  
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-users fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Some Other Feature</strong><br>
	                Curabitur sodales elit at eleifend hendrerit.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Some Strange Thing</strong><br>
	                Nunc nec enim elementum, sagittis nisl vel, dignissim tellus.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Exhilarating Title</strong><br>
	                Vivamus quis est vel arcu scelerisque tempor.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>An Awesome Feature</strong><br>
	                Pellentesque placerat enim a magna blandit, eu finibus lacus hendrerit.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	    <div class="col-md-4 col-lg-4 col-xl-4">
	        <img src="http://placekitten.com/g/401/701" alt="" class="img-fluid border border-dark mb-4">
	    </div>
	    <div class="col-md-4 col-lg-4 col-xl-4">
	            <!-- Start Blurb -->
	            <div class="row">
	                <div class="col-2">
	                    <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	                </div>
	                <div class="col-10">
	                    <strong>A Catchy Title</strong><br>
	                    Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	                </div>
	            </div>
	            <!-- End Blurb -->
	            <br>
	            <!-- Start Blurb -->
	            <div class="row">
	                <div class="col-2">
	                    <i class="fa fa-lock fa-2x mt-3" aria-hidden="true"></i>
	                </div>
	                <div class="col-10">
	                    <strong>Feature #2</strong><br>
	                    In sollicitudin mauris posuere nulla accumsan ullamcorper.
	                </div>
	            </div>
	            <!-- End Blurb -->      
	            <br>  
	            <!-- Start Blurb -->
	            <div class="row">
	                <div class="col-2">
	                    <i class="fa fa-users fa-2x mt-3" aria-hidden="true"></i>
	                </div>
	                <div class="col-10">
	                    <strong>Some Other Feature</strong><br>
	                    Curabitur sodales elit at eleifend hendrerit.
	                </div>
	            </div>
	            <!-- End Blurb -->
	            <br>
	            <!-- Start Blurb -->
	            <div class="row">
	                <div class="col-2">
	                    <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	                </div>
	                <div class="col-10">
	                    <strong>Some Strange Thing</strong><br>
	                    Nunc nec enim elementum, sagittis nisl vel, dignissim tellus.
	                </div>
	            </div>
	            <!-- End Blurb -->
	            <br>
	            <!-- Start Blurb -->
	            <div class="row">
	                <div class="col-2">
	                    <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	                </div>
	                <div class="col-10">
	                    <strong>A Exhilarating Title</strong><br>
	                    Vivamus quis est vel arcu scelerisque tempor.
	                </div>
	            </div>
	            <!-- End Blurb -->
	            <br>
	            <!-- Start Blurb -->
	            <div class="row">
	                <div class="col-2">
	                    <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	                </div>
	                <div class="col-10">
	                    <strong>An Awesome Feature</strong><br>
	                    Pellentesque placerat enim a magna blandit, eu finibus lacus hendrerit.
	                </div>
	            </div>
	            <!-- End Blurb -->
	        </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet blurb-product
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-6 col-lg-6 col-xl-6">
	        <img src="http://placekitten.com/g/600/600" alt="" class="img-fluid border border-dark mb-4">
	    </div>
	    <div class="col-md-4 col-lg-4 col-xl-4">
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Catchy Title</strong><br>
	                Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-lock fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Feature #2</strong><br>
	                In sollicitudin mauris posuere nulla accumsan ullamcorper.
	            </div>
	        </div>
	        <!-- End Blurb -->      
	        <br>  
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-users fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Some Other Feature</strong><br>
	                Curabitur sodales elit at eleifend hendrerit.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>Some Strange Thing</strong><br>
	                Nunc nec enim elementum, sagittis nisl vel, dignissim tellus.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>A Exhilarating Title</strong><br>
	                Vivamus quis est vel arcu scelerisque tempor.
	            </div>
	        </div>
	        <!-- End Blurb -->
	        <br>
	        <!-- Start Blurb -->
	        <div class="row">
	            <div class="col-2">
	                <i class="fa fa-check fa-2x mt-3" aria-hidden="true"></i>
	            </div>
	            <div class="col-10">
	                <strong>An Awesome Feature</strong><br>
	                Pellentesque placerat enim a magna blandit, eu finibus lacus hendrerit.
	            </div>
	        </div>
	        <!-- End Blurb -->
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet call-to-action
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row">
	    <div class="col">
	        <div class="card bg-info text-white">
	            <div class="card-body">
	                <div class="row">
	                    <div class="col-8">
	                        <h4 class="card-title">A Catchy Title</h4>
	                        <p>And some background information</p>
	                    </div>
	                    <div class="col-4">          
	                        <br>             
	                        <button class="btn btn-dark btn-block">Buy Now!
	                            &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
	                        </button>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<h2 id="warning">Warning - Button Callout</h2>
	<div class="row">
	    <div class="col">
	        <div class="card bg-warning">
	            <div class="card-body">
	                <div class="row">
	                    <div class="col-8">
	                        <h4 class="card-title">A Catchy Title</h4>
	                        <p>And some background information</p>
	                    </div>
	                    <div class="col-4">
	                        <br>
	                        <button class="btn btn-dark btn-block">Buy Now!
	                            &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
	                        </button>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<h2 id="danger">Danger - Email Subscribe Callout</h2>
	<div class="row">
	    <div class="col">
	        <div class="card bg-danger text-white">
	            <div class="card-body">
	                <div class="row">
	                    <div class="col-8">
	                        <h4 class="card-title">A Catchy Title</h4>
	                        <p>And some background information</p>
	                    </div>
	                    <div class="col-4">
	                        <form action="#">
	                            <input class="form-control" type="text" placeholder="your@email.com">
	                            <button class="btn btn-dark btn-block">Subscribe!
	                                &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
	                            </button>
	                        </form>
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet contact-form-2
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-6">
	        <div class="card border-primary">
	            <div class="card-header bg-primary text-white"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Contact Us</div>
	            <div class="card-body">
	                <form action="#">
	                    <div class="form-group">
	                        <label for="exampleInputEmail">Your Email:</label>
	                        <div class="input-group">
	                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
	                            <input type="email" class="form-control" placeholder="your@email.com">                        
	                        </div>
	                        
	                    </div>
	                    <div class="form-group">
	                        <label for="exampleInputName">Your Name:</label>
	                        <div class="input-group">
	                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
	                            <input type="text" class="form-control" placeholder="John Doe">
	                        </div>                        
	                    </div>
	                    <div class="form-group">
	                        <label for="exampleInputMessage">Your Message:</label>
	                        <textarea name="message" class="form-control" rows="5"></textarea>
	                    </div>
	                    <button type="submit" class="btn btn-primary">Send Message</button>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet contact-form
	<div class="row justify-content-md-center">
	    <div class="col-md-6">
	        <div class="card">
	            <div class="card-header">Contact Us</div>
	            <div class="card-body">
	                <form action="#">
	                    <div class="form-group">
	                        <label for="exampleInputEmail">Your Email:</label>
	                        <input type="email" class="form-control" placeholder="your@email.com">                        
	                    </div>
	                    <div class="form-group">
	                        <label for="exampleInputName">Your Name:</label>
	                        <input type="text" class="form-control" placeholder="John Doe">
	                    </div>
	                    <div class="form-group">
	                        <label for="exampleInputMessage">Your Message:</label>
	                        <textarea name="message" class="form-control" rows="5"></textarea>
	                    </div>
	                    <button type="submit" class="btn btn-primary">Send Message</button>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet dashboard-tiles
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row">    
	    <div class="col"> 
	        <div class="card">           
	            <div class="card-body bg-primary text-white">
	                <div class="row">
	                    <div class="col">
	                        <i class="fa fa-users fa-4x" aria-hidden="true"></i>
	                    </div>
	                    <div class="col">
	                        <h2 class="card-title">238</h2>
	                        <p>Users Online</p>
	                    </div>
	                </div>
	                
	            </div>
	            <div class="card-footer">
	                <a href="#" class="text-dark">Link To Data 
	                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
	            </div>
	        </div>
	    </div>
	    <div class="col"> 
	        <div class="card">           
	            <div class="card-body bg-success text-white">
	                <div class="row">
	                    <div class="col">
	                        <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
	                    </div>
	                    <div class="col">
	                        <h2 class="card-title">21</h2>
	                        <p>Messages</p>
	                    </div>
	                </div>                
	            </div>
	            <div class="card-footer">
	                <a href="#" class="text-dark">Link To Data 
	                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
	            </div>
	        </div>
	    </div>
	    <div class="col"> 
	        <div class="card">           
	            <div class="card-body bg-dark text-white">
	                <div class="row">
	                    <div class="col">
	                        <i class="fa fa-line-chart fa-4x" aria-hidden="true"></i>
	                    </div>
	                    <div class="col">
	                        <h2 class="card-title">5</h2>
	                        <p>Metrics</p>
	                    </div>
	                </div>                
	            </div>
	            <div class="card-footer">
	                <a href="#" class="text-dark">Link To Data 
	                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
	            </div>
	        </div>
	    </div>
	    <div class="col"> 
	        <div class="card">           
	            <div class="card-body bg-danger text-white">
	                <div class="row">
	                    <div class="col">
	                            <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
	                    </div>
	                    <div class="col">
	                        <h2 class="card-title">5</h2>
	                        <p>Errors</p>
	                    </div>
	                </div>                
	            </div>
	            <div class="card-footer">
	                <a href="#" class="text-dark">Link To Data 
	                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet large-circle-blob
	<div class="row">
	    <div class="col-md-3">
	        <img src="http://via.placeholder.com/500x500" alt="" class="img-fluid rounded-circle border border-primary mt-2">
	        <a href="#" class="btn btn-dark btn-block mt-2">Lorem Ipsum</a>
	    </div>
	    <div class="col-md-3">
	        <img src="http://via.placeholder.com/500x500" alt="" class="img-fluid rounded-circle border border-primary mt-2">
	        <a href="#" class="btn btn-dark btn-block mt-2">Lorem Ipsum 2</a>
	    </div>
	    <div class="col-md-3">
	        <img src="http://via.placeholder.com/500x500" alt="" class="img-fluid rounded-circle border border-primary mt-2">
	        <a href="#" class="btn btn-dark btn-block mt-2">Lorem Ipsum 3</a>
	    </div>
	    <div class="col-md-3">
	        <img src="http://via.placeholder.com/500x500" alt="" class="img-fluid rounded-circle border border-primary mt-2">
	        <a href="#" class="btn btn-dark btn-block mt-2">Lorem Ipsum 4</a>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet login-form-2
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-4">
	        <div class="card bg-primary text-white">
	            <div class="card-header">
	                <h5 class="card-title">Login via Site</h5>
	            </div>
	            <div class="card-body">
	                <form accept-charset="UTF-8" role="form" action="#">
	                    <fieldset>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
	                                <input type="text" placeholder="your@email.com" name="email" class="form-control">
	                            </div>                            
	                        </div>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
	                                <input type="password" placeholder="Password" name="password" class="form-control" value="">
	                            </div>
	                            
	                        </div>
	                        <div class="checkbox">
	                            <label>
	                                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
	                            </label>
	                        </div>
	                        <div class="row">
	                            <div class="col">
	                                <input class="btn btn-lg btn-dark btn-block" type="submit" value="Login">
	                            </div>
	                            <div class="col">
	                                <a href="#" class="btn btn-lg btn-light btn-block">Sign Up</a>
	                            </div>
	                        </div>
	                        
	                    </fieldset>
	                </form>                         
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet login-form-3
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-4">
	        <div class="card border-primary">
	            <div class="card-header bg-primary text-white">
	                <h5 class="card-title">Login via Site</h5>
	            </div>
	            <div class="card-body">
	                <form accept-charset="UTF-8" role="form" action="#">
	                    <fieldset>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
	                                <input type="text" placeholder="your@email.com" name="email" class="form-control">
	                            </div>                            
	                        </div>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
	                                <input type="password" placeholder="Password" name="password" class="form-control" value="">
	                            </div>
	                            
	                        </div>
	                        <div class="checkbox">
	                            <label>
	                                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
	                            </label>
	                        </div>
	                        <div class="row">
	                            <div class="col">
	                                <input class="btn btn-lg btn-dark btn-block" type="submit" value="Login">
	                            </div>
	                            <div class="col">
	                                <a href="#" class="btn btn-lg btn-light btn-block">Register</a>
	                            </div>
	                        </div>
	                        
	                    </fieldset>
	                </form>                         
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet login-form
	<div class="row justify-content-md-center">
	    <div class="col-md-4">
	        <div class="card">
	            <div class="card-header">
	                <h5 class="card-title">Login via Site</h5>
	            </div>
	            <div class="card-body">
	                <form accept-charset="UTF-8" role="form" action="#">
	                    <fieldset>
	                        <div class="form-group">
	                            <input type="text" placeholder="your@email.com" name="email" class="form-control">
	                        </div>
	                        <div class="form-group">
	                            <input type="password" placeholder="Password" name="password" class="form-control" value="">
	                        </div>
	                        <div class="checkbox">
	                            <label>
	                                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
	                            </label>
	                        </div>
	                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
	                    </fieldset>
	                </form>
	                <hr/>
	                <h4 class="text-center">OR</h4>                
	                <a href="#" class="btn btn-lg btn-primary btn-block">Sign Up</a>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet newsletter-tile-2
	<div class="row justify-content-md-center">
	    <div class="col-md-4">
	        <div class="card bg-dark text-white">
	            <div class="card-body">
	                <form action="#">
	                    <label for="email"><h4>Subscribe Now! <small>Get news and information updates.</small></h4></label>
	                    <div class="input-group">
	                            <input type="text" name="email" class="form-control border border-danger" placeholder="your@email.com">
	                            <span class="input-group-btn">
	                                <button class="btn btn-danger" type="button">Subscribe!</button>
	                            </span>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet newsletter-tile-3
	<div class="row justify-content-md-center">
	    <div class="col-md-6">
	        <div class="card bg-light">            
	            <div class="card-body">
	                <span class="float-right text-muted"><strong>x</strong></span>
	                <h5>Join 200,000 like minded individuals!</h5>
	                <br>
	                <p>Get news and information updates. Lorem ipsum dolar sit, Phasellus ultrices sem faucibus, dapibus sem at, ornare quam.<p>
	                <button class="btn btn-primary btn-sm btn-block">Subscribe!</button>
	            </div>
	            <div class="card-footer text-center">
	                <a href="#" class="text-muted"><small>Not Using XYZ yet?</small></a>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet newsletter-tile-4
	<div class="row justify-content-md-center">
	    <div class="col-md-6">
	        <div class="card">           
	            <div class="card-header bg-success text-white text-center">Get Started Today!</div> 
	            <div class="card-body bg-light">
	                <div class="row">
	                    <div class="col">
	                        <input type="text" class="form-control" placeholder="First Name *">
	                    </div>
	                    <div class="col">
	                        <input type="text" class="form-control" placeholder="Last Name *">
	                    </div>
	                </div>
	                <br>
	                <div class="row">
	                    <div class="col">
	                        <input type="text" class="form-control" placeholder="Email Address *">
	                    </div>
	                </div>
	                <hr>
	                <div class="row">
	                    <div class="col">
	                        <button class="btn btn-lg btn-success">Claim Your Free Trial</button>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet newsletter-tile
	<div class="row justify-content-md-center">
	        <div class="col-md-4">
	            <div class="card bg-dark text-white">
	                <div class="card-body">
	                    <form action="#">
	                        <label for="email"><h3>Subscribe Now!</h3>Get news and information updates.</label>
	                        <input type="text" name="email" class="form-control" placeholder="your@email.com"><br>
	                        <input type="button" class="btn btn-light btn-lg btn-block" value="Subscribe">
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>https://github.com/shadowcodex/codex-ui
	


snippet panel
	<h2 id="default">Default</h2>
	<div class="card">
	    <div class="card-header">Header</div>
	    <div class="card-body">
	        This is your normal body of the panel
	    </div>
	    <div class="card-footer">
	        An example panel footer
	    </div>
	</div>
	<h2 id="primary">Primary</h2>
	<div class="card border-primary">
	    <div class="card-header bg-primary text-white">Header</div>
	    <div class="card-body">
	        This is your normal body of the panel
	    </div>
	    <div class="card-footer">
	        An example panel footer
	    </div>
	</div>
	<h2 id="secondary">Secondary</h2>
	<div class="card border-secondary">
	    <div class="card-header bg-secondary text-white">Header</div>
	    <div class="card-body">
	        This is your normal body of the panel
	    </div>
	    <div class="card-footer">
	        An example panel footer
	    </div>
	</div>
	<h2 id="success">Success</h2>
	<div class="card border-success">
	    <div class="card-header bg-success text-white">Header</div>
	    <div class="card-body">
	        This is your normal body of the panel
	    </div>
	    <div class="card-footer">
	        An example panel footer
	    </div>
	</div>
	<h2 id="danger">Danger</h2>
	<div class="card border-danger">
	    <div class="card-header bg-danger text-white">Header</div>
	    <div class="card-body">
	        This is your normal body of the panel
	    </div>
	    <div class="card-footer">
	        An example panel footer
	    </div>
	</div>
	<h2 id="warning">Warning</h2>
	<div class="card border-warning">
	    <div class="card-header bg-warning">Header</div>
	    <div class="card-body">
	        This is your normal body of the panel
	    </div>
	    <div class="card-footer">
	        An example panel footer
	    </div>
	</div>
	<h2 id="info">Info</h2>
	<div class="card border-info">
	    <div class="card-header bg-info text-white">Header</div>
	    <div class="card-body">
	        This is your normal body of the panel
	    </div>
	    <div class="card-footer">
	        An example panel footer
	    </div>
	</div>
	<h2 id="light">Light</h2>
	<div class="card">
	    <div class="card-header bg-light">Header</div>
	    <div class="card-body">
	        This is your normal body of the panel
	    </div>
	    <div class="card-footer">
	        An example panel footer
	    </div>
	</div>
	<h2 id="dark">Dark</h2>
	<div class="card border-dark">
	    <div class="card-header bg-dark text-white">Header</div>
	    <div class="card-body">
	        This is your normal body of the panel
	    </div>
	    <div class="card-footer">
	        An example panel footer
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet pricing-table-2
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row">
	    <div class="col">       
	        <br> 
	        <div class="card bg-primary text-white">
	            <div class="card-header">
	                <div class="text-center">Small Package</div>
	            </div>
	            <div class="card-body">                
	                <h2 class="display-3 text-center">$9.99</h2>
	                <p class="card-text text-center">per month</p>
	            </div>
	            <ul class="list-group list-group-flush">
	                <li class="list-group-item list-group-item-primary">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Cras justo odio
	                </li>
	                <li class="list-group-item list-group-item-primary">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Dapibus ac facilisis in
	                </li>
	                <li class="list-group-item list-group-item-primary">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Vestibulum at eros
	                </li>
	            </ul>
	            <div class="card-body">
	                <button class="btn btn-primary btn-block">Buy Now</button>
	            </div>
	        </div>  
	    </div>
	    <div class="col">
	        <div class="card bg-success text-white">
	            <div class="card-header">
	                <div class="text-center">Medium Package</div>
	            </div>
	            <div class="card-body">                
	                <h2 class="display-3 text-center">$19.99</h2>
	                <p class="card-text text-center">per month</p>
	            </div>
	            <ul class="list-group list-group-flush">
	                <li class="list-group-item list-group-item-success">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Cras justo odio
	                </li>
	                <li class="list-group-item list-group-item-success">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Dapibus ac facilisis in
	                </li>
	                <li class="list-group-item list-group-item-success">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Vestibulum at eros
	                </li>
	                <li class="list-group-item list-group-item-success">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Lorem Ipsum dolar sit
	                </li>
	            </ul>
	            <div class="card-body">
	                <button class="btn btn-success btn-block">Buy Now</button>
	            </div>
	        </div>  
	    </div>
	    <div class="col">
	        <br>
	        <div class="card bg-danger text-white">
	            <div class="card-header">
	                <div class="text-center">Large Package</div>
	            </div>
	            <div class="card-body">                
	                <h2 class="display-3 text-center">$29.99</h2>
	                <p class="card-text text-center">per month</p>
	            </div>
	            <ul class="list-group list-group-flush">
	                <li class="list-group-item list-group-item-danger">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Cras justo odio
	                </li>
	                <li class="list-group-item list-group-item-danger">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Dapibus ac facilisis in
	                </li>
	                <li class="list-group-item list-group-item-danger">
	                    <i class="fa fa-check" aria-hidden="true"></i> 
	                    Vestibulum at eros
	                </li>
	            </ul>
	            <div class="card-body">
	                <button class="btn btn-danger btn-block">Buy Now</button>
	            </div>
	        </div>  
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet pricing-table
	<div class="row">
	    <div class="col">
	        <br>
	        <div class="card bg-primary text-white">
	            <div class="card-body">
	                <h4 class="card-title">Small</h4>
	                <p class="card-text">$9.99 / Per Month</p>
	            </div>
	            <ul class="list-group list-group-flush">
	                <li class="list-group-item list-group-item-primary">Cras justo odio</li>
	                <li class="list-group-item list-group-item-primary">Dapibus ac facilisis in</li>
	                <li class="list-group-item list-group-item-primary">Vestibulum at eros</li>
	            </ul>
	            <div class="card-body">
	                <button class="btn btn-light btn-block">Buy Now</button>
	            </div>
	        </div>  
	    </div>
	    <div class="col">
	        <div class="card bg-success text-white">
	            <div class="card-body">
	                <h4 class="card-title">Medium</h4>
	                <p class="card-text">$19.99 / Per Month</p>
	            </div>
	            <ul class="list-group list-group-flush">
	                <li class="list-group-item list-group-item-success">Cras justo odio</li>
	                <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
	                <li class="list-group-item list-group-item-success">Vestibulum at eros</li>
	                <li class="list-group-item list-group-item-success">Lorem ipsum</li>
	            </ul>
	            <div class="card-body">
	                    <button class="btn btn-light btn-block">Buy Now</button>
	            </div>
	        </div>  
	    </div>
	    <div class="col">
	        <br>
	        <div class="card bg-danger text-white">
	            <div class="card-body">
	                <h4 class="card-title">Large</h4>
	                <p class="card-text">$39.99 / Per Month</p>
	            </div>
	            <ul class="list-group list-group-flush">
	                <li class="list-group-item list-group-item-danger">Cras justo odio</li>
	                <li class="list-group-item list-group-item-danger">Dapibus ac facilisis in</li>
	                <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
	            </ul>
	            <div class="card-body">
	                    <button class="btn btn-light btn-block">Buy Now</button>
	            </div>
	        </div>  
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet reset-password-form-2
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-4">
	        <div class="card bg-primary text-white">
	            <div class="card-header">
	                <h5 class="card-title">Reset Password</h5>
	            </div>
	            <div class="card-body">
	                <form accept-charset="UTF-8" role="form" action="#">
	                    <fieldset>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
	                                <input type="password" placeholder="Current Password" name="password" class="form-control" value="">
	                            </div>                            
	                        </div>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-lock text-danger" aria-hidden="true"></i></span>
	                                <input type="password" placeholder="New Password" name="password" class="form-control" value="">
	                            </div>                            
	                        </div>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-lock text-danger" aria-hidden="true"></i></span>
	                                <input type="password" placeholder="Confirm New Password" name="password" class="form-control" value="">
	                            </div>                            
	                        </div>
	                        <div class="row">
	                            <div class="col">
	                                <input class="btn btn-lg btn-dark btn-block" type="submit" value="Reset Password">
	                            </div>
	                            <div class="col">
	                                <a href="#" class="btn btn-lg btn-light btn-block">Cancel</a>
	                            </div>
	                        </div>
	                        
	                    </fieldset>
	                </form>                         
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet reset-password-form-3
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<div class="row justify-content-md-center">
	    <div class="col-md-4">
	        <div class="card border-primary">
	            <div class="card-header bg-primary text-white">
	                <h5 class="card-title">Login via Site</h5>
	            </div>
	            <div class="card-body">
	                <form accept-charset="UTF-8" role="form" action="#">
	                    <fieldset>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
	                                <input type="password" placeholder="Current Password" name="password" class="form-control" value="">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-lock text-danger" aria-hidden="true"></i></span>
	                                <input type="password" placeholder="New Password" name="password" class="form-control" value="">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><i class="fa fa-lock text-danger" aria-hidden="true"></i></span>
	                                <input type="password" placeholder="Confirm New Password" name="password" class="form-control" value="">
	                            </div>                        
	                        </div>                        
	                        <div class="row">
	                            <div class="col">
	                                <input class="btn btn-lg btn-dark btn-block" type="submit" value="Reset Password">
	                            </div>
	                            <div class="col">
	                                <a href="#" class="btn btn-lg btn-light btn-block">Cancel</a>
	                            </div>
	                        </div>                        
	                    </fieldset>
	                </form>                         
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet reset-password-form
	<div class="row justify-content-md-center">
	    <div class="col-md-4">
	        <div class="card">
	            <div class="card-header">
	                <h5 class="card-title">Reset Password</h5>
	            </div>
	            <div class="card-body">
	                <form accept-charset="UTF-8" role="form" action="#">
	                    <fieldset>
	                        <div class="form-group">
	                            <input type="password" placeholder="Current" name="password" class="form-control" value="">
	                        </div>
	                        <div class="form-group">
	                            <input type="password" placeholder="New Password" name="password" class="form-control" value="">
	                        </div>
	                        <div class="form-group">
	                            <input type="password" placeholder="Confirm New Password" name="password" class="form-control" value="">
	                        </div>
	                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Reset Password">
	                    </fieldset>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet team-member-multi-profile-cards
	<div class="row">
	    <div class="col">
	        <div class="card-deck">
	            <div class="card bg-dark text-white">
	                <!-- Heading Area (name/title) -->
	                <div class="card-body">
	                    <div class="row">
	                        <div class="col text-center">
	                            <h2 class="display-4">John Doe</h2>                    
	                            <p>Position or Title</p>
	                        </div>
	                    </div>                
	                </div>
	                <!-- Description Area (skills and social links) -->
	                <div class="card-body">
	                    <div class="row">
	                        <div class="col">
	                            Skill 1 / Skill 2 / Skill 3 / Skill 4
	                            <div class="progress">
	                                <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
	                                <div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
	                                <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
	                                <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
	                            </div>                                               
	                        </div>
	                    </div>                
	                </div>
	                <div class="card-body text-center">
	                    <strong>Twitter: </strong><a href="#" class="text-warning">twitterHandle</a>
	                </div>
	            </div>
	            <div class="card bg-dark text-white">
	                <!-- Heading Area (name/title) -->
	                <div class="card-body">
	                    <div class="row">
	                        <div class="col text-center">
	                            <h2 class="display-4">John Doe</h2>                    
	                            <p>Position or Title</p>
	                        </div>
	                    </div>                
	                </div>
	                <!-- Description Area (skills and social links) -->
	                <div class="card-body">
	                    <div class="row">
	                        <div class="col">
	                            Skill 1
	                            <div class="progress">
	                                <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
	                            </div>                                               
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col">
	                            Skill 2
	                            <div class="progress">
	                                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
	                            </div>                                               
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col">
	                            Skill 3
	                            <div class="progress">
	                                <div class="progress-bar bg-warning" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
	                            </div>                                               
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col">
	                            Skill 4
	                            <div class="progress">
	                                <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
	                            </div>                                               
	                        </div>
	                    </div>
	                </div>
	                <div class="card-body text-center">
	                    <strong>Twitter: </strong><a href="#" class="text-warning">twitterHandle</a>
	                </div>
	            </div>
	            <div class="card bg-dark text-white">
	                <!-- Heading Area (image and name/title) -->
	                <div class="card-body">
	                    <div class="row">
	                        <div class="col">
	                            <img src="http://placekitten.com/201/201" alt="user team member profile image" class="img-fluid rounded-circle mx-auto d-block">
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col text-center">
	                            <h2 class="display-4">John Doe</h2>                    
	                            <p>Position or Title</p>
	                        </div>
	                    </div>                
	                </div>
	                <!-- Description Area (skills and social links) -->
	                <div class="card-body">
	                    <div class="row">
	                        <div class="col text-center">
	                            <p>Skill 1 / Skill 2 / Skill 3 / Skill 4</p>
	                            <strong>Twitter: </strong><a href="#" class="text-warning">twitterHandle</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>                
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet team-member-profile-card-2
	<div class="row justify-content-md-center">
	    <div class="col-lg-4 col-md-6">
	        <div class="card bg-dark text-white">
	            <!-- Heading Area (image and name/title) -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col">
	                        <img src="http://placekitten.com/201/201" alt="user team member profile image" class="img-fluid rounded-circle mx-auto d-block">
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col text-center">
	                        <h2 class="display-4">John Doe</h2>                    
	                        <p>Position or Title</p>
	                    </div>
	                </div>                
	            </div>
	            <!-- Description Area (skills and social links) -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col text-center">
	                        <p>Skill 1 / Skill 2 / Skill 3 / Skill 4</p>
	                        <strong>Twitter: </strong><a href="#" class="text-warning">twitterHandle</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet team-member-profile-card-3
	<div class="row justify-content-md-center">
	    <div class="col-lg-4 col-md-6">
	        <div class="card bg-dark text-white">
	            <!-- Heading Area (name/title) -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col text-center">
	                        <h2 class="display-4">John Doe</h2>                    
	                        <p>Position or Title</p>
	                    </div>
	                </div>                
	            </div>
	            <!-- Description Area (skills and social links) -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col">
	                        Skill 1
	                        <div class="progress">
	                            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
	                        </div>                                               
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col">
	                        Skill 2
	                        <div class="progress">
	                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
	                        </div>                                               
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col">
	                        Skill 3
	                        <div class="progress">
	                            <div class="progress-bar bg-warning" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
	                        </div>                                               
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col">
	                        Skill 4
	                        <div class="progress">
	                            <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
	                        </div>                                               
	                    </div>
	                </div>
	            </div>
	            <div class="card-body text-center">
	                <strong>Twitter: </strong><a href="#" class="text-warning">twitterHandle</a>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet team-member-profile-card-4
	<div class="row justify-content-md-center">
	    <div class="col-lg-4 col-md-6">
	        <div class="card bg-dark text-white">
	            <!-- Heading Area (name/title) -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col text-center">
	                        <h2 class="display-4">John Doe</h2>                    
	                        <p>Position or Title</p>
	                    </div>
	                </div>                
	            </div>
	            <!-- Description Area (skills and social links) -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col">
	                        Skill 1 / Skill 2 / Skill 3 / Skill 4
	                        <div class="progress">
	                            <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
	                            <div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
	                            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
	                            <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
	                        </div>                                               
	                    </div>
	                </div>                
	            </div>
	            <div class="card-body text-center">
	                <strong>Twitter: </strong><a href="#" class="text-warning">twitterHandle</a>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet team-member-profile-card
	<div class="row justify-content-md-center">
	    <div class="col-lg-4 col-md-6">
	        <div class="card">
	            <!-- Heading Area (image and name/title) -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col">
	                        <img src="http://placekitten.com/g/200/200" alt="user team member profile image" class="img-fluid rounded-circle mx-auto d-block">
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col text-center">
	                        <h2 class="display-4">John Doe</h2>                    
	                        <p>Position or Title</p>
	                    </div>
	                </div>                
	            </div>
	            <!-- Description Area (skills and social links) -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col text-center">
	                        <h4>Skills:</h4>
	                        <p>Skill 1 / Skill 2 / Skill 3 / Skill 4</p>
	                        <h4>Bio:</h4>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis posuere massa. </p>
	                        <h4>Social:</h4>
	                        <strong>Twitter: </strong><a href="#">twitterHandle</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>https://github.com/shadowcodex/codex-ui
	


snippet h6_h5_h4_h3_h2_1
	ref: h1_h2_h3_h4_h5_h6

snippet h1_h2_h3_h4_h5_h6
	<div class="media-left media-middle">
	<h1>
	  h1 <small>small</small>
	</h1>
	</div>
	<div class="media-left media-middle">
	<div class="h2">
	  .h2 <small>small</small>
	</div>
	</div>
	<div class="media-left media-middle">
	<h3>
	  h3 <small>small</small>
	</h3>
	</div>
	<div class="media-left media-middle">
	<div class="h4">
	  .h4 <small>small</small>
	</div>
	</div>
	<div class="media-left media-middle">
	<h5>
	  h5 <small>small</small>
	</h5>
	</div>
	<div class="media-left media-middle">
	<div class="h6">
	  .h6 <small>small</small>
	</div>
	</div>

snippet bold_text
	<div class="col-sm-2 col-xs-4">
	<!-- Lead body copy -->
	<span class="lead">.lead</span><br>
	<!-- Bold -->
	<b>b (bold)</b><br>
	<strong>strong</strong>
	</div>

snippet alignment_text
	<div class="col-xs-4">
	<p class="text-left">.text-left</p>
	</div>
	<div class="col-xs-4">
	<p class="text-center">.text-center</p>
	</div>
	<div class="col-xs-4">
	<p class="text-right">.text-right</p>
	</div>
	<div class="col-xs-12">
	<div class="text-justify">.text-justify</div>
	</div>
	</div>


snippet transformation_text
	<span class="text-lowercase">.text-lowercase</span>
	<span class="text-uppercase">.text-uppercase</span>
	<span class="text-capitalize">.text-capitalize</span>


snippet component_list
	#ref:
	alerts
	breadcrumbs
	button-groups
	dropdowns
	glyphicons
	input-groups
	jumbotron
	labels
	list-group
	media-object
	navbar
	navs
	page-header
	pagination
	panels
	progress-bars
	thumbnails
	wells

snippet component_list_css
	buttons
	forms
	helper-classes
	images
	tables
	typography


snippet component_list_js
	js-modals
	js-alerts
	js-buttons
	js-carousel
	js-collapse
	js-dropdowns
	js-popovers
	js-tabs
	js-tooltips


snippet well_component
	<div class="row " data-replace-target="> div">
	  <div class="col-sm-4">
		<div class="well well-lg">.well.well-lg</div>
	  </div>
	  <div class="col-sm-4">
		<div class="well">.well</div>
	  </div>
	  <div class="col-sm-4">
		<div class="well well-sm">.well.well-sm</div>
	  </div>
	</div>


snippet panel_componet
	<div class="row">
	  <div class="col-sm-6 " data-remove-target="p:first">
		<p><strong>.panel.panel-warning (with table)</strong></p>
		<div class="panel panel-warning">
		  <div class="panel-heading">.panel-heading</div>
		  <table class="table">
			<thead>
			  <tr><th>Header</th><th>Header</th><th>Header</th></tr>
			</thead>
			<tbody>
			  <tr><td>Data</td><td>Data</td><td>Data</td></tr>
			  <tr><td>Data</td><td>Data</td><td>Data</td></tr>
			</tbody>
		  </table>
		</div>
	  </div>
	  <div class="col-sm-6 " data-remove-target="p:first">
		<p><strong>.panel.panel-danger (with list group)</strong></p>
		<div class="panel panel-danger">
		  <div class="panel-heading">.panel-heading</div>
		  <ul class="list-group">
			<li class="list-group-item">List item</li>
			<li class="list-group-item">List item</li>
			<li class="list-group-item">List item</li>
		  </ul>
		</div>
	  </div>
	</div>


snippet list-group_demo_2
	<div class="row" data-remove-target="p:first">
	  <p><strong>div.list-group</strong></p>
	  <div class="list-group">
		<a class="list-group-item active" href="#">
		  <h4 class="list-group-item-heading">h4.list-group-item-heading</h4>
		  <p class="list-group-item-text">p.list-group-item-text</p>
		</a>
		<a class="list-group-item" href="#">
		  <h4 class="list-group-item-heading">List group item heading</h4>
		  <p class="list-group-item-text">Paragraph</p>
		</a>
	  </div>
	</div>



snippet code_generator_bootstrap
	https://github.com/oscarmlage/django-cruds-adminlte
	https://github.com/VinceG/Bootstrap-Admin-Theme-3
	https://github.com/anvoz/bootstrap-tldr

	autolayit
	1112 https://github.com/littlezong/glayoutit/index.html
	1337 https://github.com/megatontech/gWebCodeGenerate/index.html
	1392 https://github.com/danielxiaowxx/gDLayout/index.html
	1450 https://github.com/mingch-it/gLayoutit-bootStrap3/index.html
	2113 https://github.com/SmartJavaer/glayoutit/index.html
	2116 https://github.com/runningxk/glayoutit_v3_zh/index.html
	2442 https://github.com/Vegetam/gBootstrapPageGenerator/index.html
	2556 https://github.com/savokiss/glayoutit/index.html

	openstack develop webpage 



snippet btn-group_button_group
	btn-group_button_group
	https://github.com/anvoz/bootstrap-tldr

snippet wrapper_template_
	<div class="row">
		<div class="col-md-6">
			first thing 
		</div>
		<div class="col-md-6">
			second thing 
		</div>
	</div>


snippet line_template
	<div class="row">
		<div class="col-md-6">
			first thing 
		</div>
		<div class="col-md-6">
			second thing 
		</div>
	</div>

snippet layout_row
	<div class="row">
		<div class="col-md-6">
			first thing 
		</div>
		<div class="col-md-6">
			second thing 
		</div>
	</div>

snippet label_span_demo
	<span class="label label-default">.label.label-default</span>
	<span class="label label-primary">.label.label-primary</span>
	<span class="label label-success">.label.label-success</span>
	<span class="label label-info">.label.label-info</span>
	<span class="label label-warning">.label.label-warning</span>
	<span class="label label-danger">.label.label-danger</span>

snippet tooltips_demo
	<button class="btn btn-primary" data-toggle="tooltip" data-placement="left" type="button" title="" data-original-title="[title]">
	Left
	</button>
	<button class="btn btn-primary" data-toggle="tooltip" data-placement="top" type="button" title="" data-original-title="[title]">
	Top
	</button>
	<button class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" type="button" title="" data-original-title="[title]">
	Bottom
	</button>
	<button class="btn btn-primary" data-toggle="tooltip" data-placement="right" type="button" title="" data-original-title="[title]">
	Right
	</button>



snippet thumbnail_demo
	<div class="thumbnail">
		<img style="width: 100%" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="thumbnail">
		<div class="caption">
		<h3>.caption h3</h3>
		<p>Paragraph</p>
		<p><a class="btn btn-default" href="#">Button</a></p>
		</div>
	</div>


snippet panel_pie_component
	<div class="row">
		<div class="col-md-6">
			<div class="content-box-large">
				<div class="panel-heading">
					<div class="panel-title">Pie Chart</div>
					
					<div class="panel-options">
						<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
						<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<div id="piechart1" style="width:100%;height:200px"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="content-box-large">
				<div class="panel-heading">
					<div class="panel-title">Pie Chart</div>
					
					<div class="panel-options">
						<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
						<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<div id="piechart2" style="width:100%;height:200px"></div>
				</div>
			</div>
		</div>
	</div>


snippet images_demo
	<img class="img-rounded" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt=".img-rounded">
	<img class="img-circle" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt=".img-circle">
	<img class="img-thumbnail" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt=".img-thumbnail">
	<img class="img-responsive" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt=".img-responsive">
	
snippet dropdown_demo
	<div class="dropdown">
		<!-- Only use inline style for static display -->
		<ul class="dropdown-menu" style="display: block; position: static;">
			<li class="dropdown-header">li.dropdown-header</li>
			<li><a href="#">li a</a></li>
			<li><a href="#">Another link</a></li>
			<li class="disabled"><a href="#">li.disabled a</a></li>
			<li class="divider"></li>
			<li class="dropdown-header">Dropdown header</li>
			<li><a href="#">Separated link</a></li>
		</ul>
	</div>

snippet page_pagination_demo
	<ul class="pagination pagination-lg">
		<li><a href="#">«</a></li>
		<li><a href="#">#1</a></li>
		<li class="active"><a href="#">#2</a></li>
		<li><a href="#">#3</a></li>
		<li><a href="#">»</a></li>
	</ul>


snippet jumbotron_large_focus
	<div class="jumbotron">
		<h1>Heading</h1>
		<p>Paragraph</p>
		<p><a class="btn btn-primary">Button</a></p>
	</div>

snippet page_header_demo
	<div class="page-header">
		<h3>
		.page-header h3
		<small>small</small>
		</h3>
	</div>

snippet list-group_demo
	<ul class="list-group">
		<li class="list-group-item">li.list-group-item</li>
		<li class="list-group-item">
		List item #2
		<span class="badge">.badge</span>
		</li>
		<li class="list-group-item">List item #3</li>
	</ul>


snippet panel_demo
	<div class="panel panel-default">
		<div class="panel-heading">.panel-heading</div>
		<div class="panel-heading">
			<h3 class="panel-title">
			.panel-heading h3.panel-title
			</h3>
		</div>
		<div class="panel-body">.panel-body</div>
		<div class="panel-footer">.panel-footer</div>
	</div>

snippet table_striped
	<table class="table table-striped">
		<thead>
			<tr>
			<th>Header</th>
			<th>Header</th>
			</tr>
		</thead>

		<tbody>
		<tr><td>1.1</td><td>1.2</td></tr>
		<tr><td>2.1</td><td>2.2</td></tr>
		</tbody>
	</table>

snippet table_bordered
	<table class="table table-bordered">
	<thead>
	<tr><th>Header</th><th>Header</th></tr>
	</thead>
	<tbody>
	<tr><td>Data</td><td>Data</td></tr>
	<tr><td>Data</td><td>Data</td></tr>
	</tbody>
	</table>

snippet table_hover_demo
	<table class="table table-hover">
	<thead>
	<tr><th>Header</th><th>Header</th></tr>
	</thead>
	<tbody>
	<tr><td>Data</td><td>Data</td></tr>
	<tr><td>Data</td><td>Data</td></tr>
	</tbody>
	</table>

snippet buttons_demo_btn
	<button class="btn btn-default" type="button">
		button.btn.btn-default
	</button>
	<button class="btn btn-primary" type="button">.btn-primary</button>
	<button class="btn btn-success" type="button">.btn-success</button>
	<button class="btn btn-info" type="button">.btn-info</button>
	<button class="btn btn-warning" type="button">.btn-warning</button>
	<button class="btn btn-danger" type="button">.btn-danger</button>
	<button class="btn btn-link" type="button">.btn-link</button>

snippet search_demo
	from gentelella  dashboard 
	<div class="title_right">
		<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go!</button>
				</span>
			</div>
		</div>
	</div>

snippet container_row_clearfix
	from layoutit 
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h3> 标题 </h3>
				<p> 是的，这部分就是内容啦！ </p>
				<p>
					<a rel="nofollow" class="btn" href="#">查看更多 »</a>
				</p>
			</div>
		</div>
	</div>

snippet process_demo
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="progress nofollow">
					<div class="progress-bar progress-success">
					</div>
				</div>
			</div>
		</div>
	</div>

snippet layout_line_444
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-4 column">
					</div>
					<div class="col-md-4 column">
					</div>
					<div class="col-md-4 column">
					</div>
				</div>
			</div>
		</div>
	</div>


snippet layout_line_246
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-2 column">
					</div>
					<div class="col-md-4 column">
					</div>
					<div class="col-md-6 column">
					</div>
				</div>
			</div>
		</div>
	</div>



snippet layout_line_66
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-6 column">
					</div>
					<div class="col-md-6 column">
					</div>
				</div>
			</div>
		</div>
	</div>

snippet layout_12_12_12
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-12 column">
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-md-12 column">
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-md-12 column">
					</div>
				</div>
			</div>
		</div>
	</div>

snippet ulli
	  <ul class="list-group">
			<li class="list-group-item">List item1</li>
			<li class="list-group-item">List item2</li>
			<li class="list-group-item">List item3</li>
		  </ul>

