snippet DISPLAY_usage_SOFTLINK
	/root/bin/develop_perl/DISPLAY_usage.pl

snippet DISPLAY_usage_0_SOFTLINK
	/root/bin/develop_perl/DISPLAY_usage_0.pl

snippet Data_Dumper_SOFTLINK
	/root/bin/develop_perl/Data_Dumper.pl

snippet ENV_LANG_utf8_SOFTLINK
	/root/bin/develop_perl/ENV_LANG_utf8.pl

snippet GD__SecurityImage_SOFTLINK
	/root/bin/develop_perl/GD__SecurityImage.pl

snippet List_Util_uniq_max_shuffle_SOFTLINK
	/root/bin/develop_perl/List_Util_uniq_max_shuffle.pl

snippet List_UtilsBy_SOFTLINK
	/root/bin/develop_perl/List_UtilsBy.pl

snippet Net_SSH2_SOFTLINK
	/root/bin/develop_perl/Net_SSH2.pl

snippet NetworkInfo_Discovery_SOFTLINK
	/root/bin/develop_perl/NetworkInfo_Discovery.pl

snippet RandPartOfFile_SOFTLINK
	/root/bin/develop_perl/RandPartOfFile.pl

snippet SED_grammer.txt_SOFTLINK
	/root/bin/develop_perl/SED_grammer.txt.pl

snippet Test__More_SOFTLINK
	/root/bin/develop_perl/Test__More.pl

snippet Text_Password_Pronounceable_SOFTLINK
	/root/bin/develop_perl/Text_Password_Pronounceable.pl

snippet WWW_Alexa_TrafficRank_SOFTLINK
	/root/bin/develop_perl/WWW_Alexa_TrafficRank.pl

snippet WWW_Search_all_SOFTLINK
	/root/bin/develop_perl/WWW_Search_all.pl

snippet WWW__Mechanize_api.txt_SOFTLINK
	/root/bin/develop_perl/WWW__Mechanize_api.txt.pl

snippet WWW___Mechanize_api.txt_SOFTLINK
	/root/bin/develop_perl/WWW___Mechanize_api.txt.pl

snippet WksName_sprintf_SOFTLINK
	/root/bin/develop_perl/WksName_sprintf.pl

snippet abstract_factory_pattern_SOFTLINK
	/root/bin/develop_perl/abstract_factory_pattern.pl

snippet adapter_pattern_SOFTLINK
	/root/bin/develop_perl/adapter_pattern.pl

snippet add_header_define_ifdef_SOFTLINK
	/root/bin/develop_perl/add_header_define_ifdef.pl

snippet add_one_col_SOFTLINK
	/root/bin/develop_perl/add_one_col.pl

snippet add_one_col_row_SOFTLINK
	/root/bin/develop_perl/add_one_col_row.pl

snippet add_php_include_login_SOFTLINK
	/root/bin/develop_perl/add_php_include_login.pl

snippet add_service_reg_import_win_Hivex_win_SOFTLINK
	/root/bin/develop_perl/add_service_reg_import_win_Hivex_win.pl

snippet all_header_define_SOFTLINK
	/root/bin/develop_perl/all_header_define.pl

snippet anonymous_array_SOFTLINK
	/root/bin/develop_perl/anonymous_array.pl

snippet anonymous_usage_SOFTLINK
	/root/bin/develop_perl/anonymous_usage.pl

snippet argc_argv_SOFTLINK
	/root/bin/develop_perl/argc_argv.pl

snippet argv_SOFTLINK
	/root/bin/develop_perl/argv.pl

snippet argv_myself_SOFTLINK
	/root/bin/develop_perl/argv_myself.pl

snippet array.array.array.array_SOFTLINK
	/root/bin/develop_perl/array.array.array.array.pl

snippet array.array.array_SOFTLINK
	/root/bin/develop_perl/array.array.array.pl

snippet array.array_SOFTLINK
	/root/bin/develop_perl/array.array.pl

snippet array.hash_SOFTLINK
	/root/bin/develop_perl/array.hash.pl

snippet array_add_array_SOFTLINK
	/root/bin/develop_perl/array_add_array.pl

snippet array_diff_SOFTLINK
	/root/bin/develop_perl/array_diff.pl

snippet array_fun_ptr_match_regex_SOFTLINK
	/root/bin/develop_perl/array_fun_ptr_match_regex.pl

snippet array_init_array.ref_array_SOFTLINK
	/root/bin/develop_perl/array_init_array.ref_array.pl

snippet array_part_SOFTLINK
	/root/bin/develop_perl/array_part.pl

snippet array_ref_arg_SOFTLINK
	/root/bin/develop_perl/array_ref_arg.pl

snippet array_split_splice_shift_part_SOFTLINK
	/root/bin/develop_perl/array_split_splice_shift_part.pl

snippet array_subarray_split_SOFTLINK
	/root/bin/develop_perl/array_subarray_split.pl

snippet array_to_hash_SOFTLINK
	/root/bin/develop_perl/array_to_hash.pl

snippet arrow_class_SOFTLINK
	/root/bin/develop_perl/arrow_class.pl

snippet as4_distributions_create_last_qianlong_SOFTLINK
	/root/bin/develop_perl/as4_distributions_create_last_qianlong.pl

snippet as4_gnome_depends_SOFTLINK
	/root/bin/develop_perl/as4_gnome_depends.pl

snippet as5_distributions_create_SOFTLINK
	/root/bin/develop_perl/as5_distributions_create.pl

snippet as5_distributions_create_0_SOFTLINK
	/root/bin/develop_perl/as5_distributions_create_0.pl

snippet asc_sed_global_array_SOFTLINK
	/root/bin/develop_perl/asc_sed_global_array.pl

snippet asc_sed_global_hash_SOFTLINK
	/root/bin/develop_perl/asc_sed_global_hash.pl

snippet asc_sed_global_var_SOFTLINK
	/root/bin/develop_perl/asc_sed_global_var.pl

snippet ascii_splashscreen_SOFTLINK
	/root/bin/develop_perl/ascii_splashscreen.pl

snippet ascii_splashscreen_v4_SOFTLINK
	/root/bin/develop_perl/ascii_splashscreen_v4.pl

snippet asm_nasm_hello_intel_SOFTLINK
	/root/bin/develop_perl/asm_nasm_hello_intel.pl

snippet assert_SOFTLINK
	/root/bin/develop_perl/assert.pl

snippet autoexec_nwfs_gen_bat_freedos_SOFTLINK
	/root/bin/develop_perl/autoexec_nwfs_gen_bat_freedos.pl

snippet autoinstall_vmware_SOFTLINK
	/root/bin/develop_perl/autoinstall_vmware.pl

snippet average_SOFTLINK
	/root/bin/develop_perl/average.pl

snippet back_dir_SOFTLINK
	/root/bin/develop_perl/back_dir.pl

snippet back_dir_mtime_less_than_n_day_SOFTLINK
	/root/bin/develop_perl/back_dir_mtime_less_than_n_day.pl

snippet back_dir_mtime_less_than_n_day_0_SOFTLINK
	/root/bin/develop_perl/back_dir_mtime_less_than_n_day_0.pl

snippet back_dir_mtime_less_than_n_day_1_SOFTLINK
	/root/bin/develop_perl/back_dir_mtime_less_than_n_day_1.pl

snippet back_dir_mtime_less_than_n_day_2_SOFTLINK
	/root/bin/develop_perl/back_dir_mtime_less_than_n_day_2.pl

snippet back_dir_mtime_less_than_n_day_3_SOFTLINK
	/root/bin/develop_perl/back_dir_mtime_less_than_n_day_3.pl

snippet back_dir_mtime_less_than_n_day_4_SOFTLINK
	/root/bin/develop_perl/back_dir_mtime_less_than_n_day_4.pl

snippet back_file_SOFTLINK
	/root/bin/develop_perl/back_file.pl

snippet back_show2003_SOFTLINK
	/root/bin/develop_perl/back_show2003.pl

snippet back_sjshq_SOFTLINK
	/root/bin/develop_perl/back_sjshq.pl

snippet backgroundss_SOFTLINK
	/root/bin/develop_perl/background.css.pl

snippet baidu_count_number_SOFTLINK
	/root/bin/develop_perl/baidu_count_number.pl

snippet baidu_pan_dump_sqlite_SOFTLINK
	/root/bin/develop_perl/baidu_pan_dump_sqlite.pl

snippet baidu_yun_dump_sqlite_SOFTLINK
	/root/bin/develop_perl/baidu_yun_dump_sqlite.pl

snippet bash-prompt-xterm_SOFTLINK
	/root/bin/develop_perl/bash-prompt-xterm.pl

snippet bash-prompt-xterm_hook_SOFTLINK
	/root/bin/develop_perl/bash-prompt-xterm_hook.pl

snippet bash-prompt-xterm_hook_0_SOFTLINK
	/root/bin/develop_perl/bash-prompt-xterm_hook_0.pl

snippet bash_pwd_777_SOFTLINK
	/root/bin/develop_perl/bash_pwd_777.pl

snippet bash_template_SOFTLINK
	/root/bin/develop_perl/bash_template.pl

snippet bash_template_0_SOFTLINK
	/root/bin/develop_perl/bash_template_0.pl

snippet bash_var_in_sed.sh_SOFTLINK
	/root/bin/develop_perl/bash_var_in_sed.sh.pl

snippet bashrc_SOFTLINK
	/root/bin/develop_perl/bashrc.pl

snippet bask_hook_SOFTLINK
	/root/bin/develop_perl/bask_hook.pl

snippet bbbbbbbb_md5_SOFTLINK
	/root/bin/develop_perl/bbbbbbbb_md5.pl

snippet bin2c_SOFTLINK
	/root/bin/develop_perl/bin2c.pl

snippet bin_grep_bingrep_SOFTLINK
	/root/bin/develop_perl/bin_grep_bingrep.pl

snippet bing_search_SOFTLINK
	/root/bin/develop_perl/bing_search.pl

snippet bitmap_header.txt_SOFTLINK
	/root/bin/develop_perl/bitmap_header.txt.pl

snippet bresenham_line_algo_SOFTLINK
	/root/bin/develop_perl/bresenham_line_algo.pl

snippet bridge_pattern_SOFTLINK
	/root/bin/develop_perl/bridge_pattern.pl

snippet browser_SOFTLINK
	/root/bin/develop_perl/browser.pl

snippet builder_pattern_SOFTLINK
	/root/bin/develop_perl/builder_pattern.pl

snippet c++_cpp_template_isc_14882_SOFTLINK
	/root/bin/develop_perl/c++_cpp_template_isc_14882.pl

snippet c_template_SOFTLINK
	/root/bin/develop_perl/c_template.pl

snippet capture_SOFTLINK
	/root/bin/develop_perl/capture.pl

snippet chain_of_responsibility_pattern_SOFTLINK
	/root/bin/develop_perl/chain_of_responsibility_pattern.pl

snippet change_asp_php_2_html_SOFTLINK
	/root/bin/develop_perl/change_asp_php_2_html.pl

snippet change_bash_shell_txt_to_perl_system_SOFTLINK
	/root/bin/develop_perl/change_bash_shell_txt_to_perl_system.pl

snippet change_characters_array_to_array_SOFTLINK
	/root/bin/develop_perl/change_characters_array_to_array.pl

snippet change_download_lst_2_wget_SOFTLINK
	/root/bin/develop_perl/change_download_lst_2_wget.pl

snippet change_download_lst_2_wget_v2_SOFTLINK
	/root/bin/develop_perl/change_download_lst_2_wget_v2.pl

snippet change_fs_path_to_one_filename_SOFTLINK
	/root/bin/develop_perl/change_fs_path_to_one_filename.pl

snippet change_include_to_abs_path.sh_SOFTLINK
	/root/bin/develop_perl/change_include_to_abs_path.sh.pl

snippet change_port_rtiosrv_0996_patch_SOFTLINK
	/root/bin/develop_perl/change_port_rtiosrv_0996_patch.pl

snippet change_rich_img_to_raw_disk_SOFTLINK
	/root/bin/develop_perl/change_rich_img_to_raw_disk.pl

snippet change_txt_to_perl_print_SOFTLINK
	/root/bin/develop_perl/change_txt_to_perl_print.pl

snippet check_exe_from_targz_SOFTLINK
	/root/bin/develop_perl/check_exe_from_targz.pl

snippet check_ip_regex_SOFTLINK
	/root/bin/develop_perl/check_ip_regex.pl

snippet check_ipv6_regex_SOFTLINK
	/root/bin/develop_perl/check_ipv6_regex.pl

snippet check_obj_md5sum_SOFTLINK
	/root/bin/develop_perl/check_obj_md5sum.pl

snippet check_samba_compile_ok_SOFTLINK
	/root/bin/develop_perl/check_samba_compile_ok.pl

snippet rl_SOFTLINK
	/root/bin/develop_perl/rl.pl

snippet check_selinux_SOFTLINK
	/root/bin/develop_perl/check_selinux.pl

snippet check_software_compile_ok_SOFTLINK
	/root/bin/develop_perl/check_software_compile_ok.pl

snippet chinese_char_hanzhi_line_SOFTLINK
	/root/bin/develop_perl/chinese_char_hanzhi_line.pl

snippet chinese_char_hanzhi_line_0_SOFTLINK
	/root/bin/develop_perl/chinese_char_hanzhi_line_0.pl

snippet cl_link_md_SOFTLINK
	/root/bin/develop_perl/cl_link_md.pl

snippet class_iso_autoinst_SOFTLINK
	/root/bin/develop_perl/class_iso_autoinst.pl

snippet class_iso_cfg_SOFTLINK
	/root/bin/develop_perl/class_iso_cfg.pm

snippet clearVcFile_4_linux_SOFTLINK
	/root/bin/develop_perl/clearVcFile_4_linux.pl

snippet clearVcFile_4_linux_0_SOFTLINK
	/root/bin/develop_perl/clearVcFile_4_linux_0.pl

snippet clearVcFile_4_linux_1_SOFTLINK
	/root/bin/develop_perl/clearVcFile_4_linux_1.pl

snippet cmd_find_SOFTLINK
	/root/bin/develop_perl/cmd_find.pl

snippet color_Imager_SOFTLINK
	/root/bin/develop_perl/color_Imager.pl

snippet colors_table_SOFTLINK
	/root/bin/develop_perl/colors_table.pl

snippet colrm_SOFTLINK
	/root/bin/develop_perl/colrm.pl

snippet combine_diff_SOFTLINK
	/root/bin/develop_perl/combine_diff.pl

snippet combine_diff_array_SOFTLINK
	/root/bin/develop_perl/combine_diff_array.pl

snippet command_pattern_SOFTLINK
	/root/bin/develop_perl/command_pattern.pl

snippet command_windows_SOFTLINK
	/root/bin/develop_perl/command_windows.pl

snippet compile_library_SOFTLINK
	/root/bin/develop_perl/compile_library.pl

snippet compile_mfc_SOFTLINK
	/root/bin/develop_perl/compile_mfc.pl

snippet compile_windows_bat_SOFTLINK
	/root/bin/develop_perl/compile_windows_bat.pl

snippet compile_wxWidgets_SOFTLINK
	/root/bin/develop_perl/compile_wxWidgets.pl

snippet compiler_SOFTLINK
	/root/bin/develop_perl/compiler.pl

snippet composite_pattern_SOFTLINK
	/root/bin/develop_perl/composite_pattern.pl

snippet continue_next_SOFTLINK
	/root/bin/develop_perl/continue_next.pl

snippet convert-mozilla-cookies_sqlite3_select_SOFTLINK
	/root/bin/develop_perl/convert-mozilla-cookies_sqlite3_select.pl

snippet convert_annotate_comment_SOFTLINK
	/root/bin/develop_perl/convert_annotate_comment.pl

snippet convert_bin2hex-2004.1215_SOFTLINK
	/root/bin/develop_perl/convert_bin2hex-2004.1215.pl

snippet convert_txt2html-2001.0805_SOFTLINK
	/root/bin/develop_perl/convert_txt2html-2001.0805.pl

snippet copy_file_SOFTLINK
	/root/bin/develop_perl/copy_file.pl

snippet copy_with_dir_SOFTLINK
	/root/bin/develop_perl/copy_with_dir.pl

snippet cpan_auto_install_from_bin_depends_SOFTLINK
	/root/bin/develop_perl/cpan_auto_install_from_bin_depends.pl

snippet cpan_common_modules_SOFTLINK
	/root/bin/develop_perl/cpan_common_modules.pl

snippet cpan_search_match_SOFTLINK
	/root/bin/develop_perl/cpan_search_match.pl

snippet cpp_delete_local_include.sh_SOFTLINK
	/root/bin/develop_perl/cpp_delete_local_include.sh.pl

snippet cpp_delete_void_main.sh_SOFTLINK
	/root/bin/develop_perl/cpp_delete_void_main.sh.pl

snippet cpp_file_add_append_include_in_header.sh_SOFTLINK
	/root/bin/develop_perl/cpp_file_add_append_include_in_header.sh.pl

snippet cpp_file_append_int_main.sh_SOFTLINK
	/root/bin/develop_perl/cpp_file_append_int_main.sh.pl

snippet cpp_file_append_int_main_tail.sh_SOFTLINK
	/root/bin/develop_perl/cpp_file_append_int_main_tail.sh.pl

snippet cpp_file_del_tail_line.sh_SOFTLINK
	/root/bin/develop_perl/cpp_file_del_tail_line.sh.pl

snippet cpp_insert_header.sh_SOFTLINK
	/root/bin/develop_perl/cpp_insert_header.sh.pl

snippet cpp_template_SOFTLINK
	/root/bin/develop_perl/cpp_template.pl

snippet cpp_template_0_SOFTLINK
	/root/bin/develop_perl/cpp_template_0.pl

snippet cpp_template_1_SOFTLINK
	/root/bin/develop_perl/cpp_template_1.pl

snippet cpp_template_2_SOFTLINK
	/root/bin/develop_perl/cpp_template_2.pl

snippet cpp_template_3_SOFTLINK
	/root/bin/develop_perl/cpp_template_3.pl

snippet cpp_testunit_SOFTLINK
	/root/bin/develop_perl/cpp_testunit.pl

snippet cpu_usage_killer_SOFTLINK
	/root/bin/develop_perl/cpu_usage_killer.pl

snippet cpu_usage_perl_SOFTLINK
	/root/bin/develop_perl/cpu_usage_perl.pl

snippet cpu_usage_simplest_SOFTLINK
	/root/bin/develop_perl/cpu_usage_simplest.pl

snippet cpu_usage_simplest_0_SOFTLINK
	/root/bin/develop_perl/cpu_usage_simplest_0.pl

snippet createFileLength_v4_SOFTLINK
	/root/bin/develop_perl/createFileLength_v4.pl

snippet create_100000_files_from_cur_dir_SOFTLINK
	/root/bin/develop_perl/create_100000_files_from_cur_dir.pl

snippet create_autoinst_iso_SOFTLINK
	/root/bin/develop_perl/create_autoinst_iso.pl

snippet create_many_files_from_cur_dir_SOFTLINK
	/root/bin/develop_perl/create_many_files_from_cur_dir.pl

snippet create_many_files_from_cur_dir_0_SOFTLINK
	/root/bin/develop_perl/create_many_files_from_cur_dir_0.pl

snippet create_many_txt_files_from_cur_dir_SOFTLINK
	/root/bin/develop_perl/create_many_txt_files_from_cur_dir.pl

snippet create_process_no_wait_async_SOFTLINK
	/root/bin/develop_perl/create_process_no_wait_async.pl

snippet create_tmpdir_tree_with_datastruct_SOFTLINK
	/root/bin/develop_perl/create_tmpdir_tree_with_datastruct.pl

snippet cron_bash_template_SOFTLINK
	/root/bin/develop_perl/cron_bash_template.pl

snippet crontab_syntax.txt_SOFTLINK
	/root/bin/develop_perl/crontab_syntax.txt.pl

snippet crontab_syntax.txt_0_SOFTLINK
	/root/bin/develop_perl/crontab_syntax.txt_0.pl

snippet crypt_mysql_SOFTLINK
	/root/bin/develop_perl/crypt_mysql.pl

snippet crypt_primes_generator_SOFTLINK
	/root/bin/develop_perl/crypt_primes_generator.pl

snippet cvs_server_usage_SOFTLINK
	/root/bin/develop_perl/cvs_server_usage.pl

snippet cwd_pwd_dirname_basename_SOFTLINK
	/root/bin/develop_perl/cwd_pwd_dirname_basename.pl

snippet cygwin_rename_exe_SOFTLINK
	/root/bin/develop_perl/cygwin_rename_exe.pl

snippet daemon_SOFTLINK
	/root/bin/develop_perl/daemon.pl

snippet daemon_du_SOFTLINK
	/root/bin/develop_perl/daemon_du.pl

snippet daemon_fork_template_SOFTLINK
	/root/bin/develop_perl/daemon_fork_template.pl

snippet daemon_fork_template_0_SOFTLINK
	/root/bin/develop_perl/daemon_fork_template_0.pl

snippet daemon_fork_template_1_SOFTLINK
	/root/bin/develop_perl/daemon_fork_template_1.pl

snippet daemon_route_SOFTLINK
	/root/bin/develop_perl/daemon_route.pl

snippet daemon_tcpdump_SOFTLINK
	/root/bin/develop_perl/daemon_tcpdump.pl

snippet daemon_win32_b_SOFTLINK
	/root/bin/develop_perl/daemon_win32_b.pl

snippet danger_hazard_c_func_vsprintf_SOFTLINK
	/root/bin/develop_perl/danger_hazard_c_func_vsprintf.pl

snippet data__dumper_hash_SOFTLINK
	/root/bin/develop_perl/data__dumper_hash.pl

snippet data_struct_tree_SOFTLINK
	/root/bin/develop_perl/data_struct_tree.pl

snippet dbf_header_SOFTLINK
	/root/bin/develop_perl/dbf_header.pl

snippet dbi_perl_simplest_SOFTLINK
	/root/bin/develop_perl/dbi_perl_simplest.pl

snippet de_troff_SOFTLINK
	/root/bin/develop_perl/de_troff.pl

snippet decorator_pattern_SOFTLINK
	/root/bin/develop_perl/decorator_pattern.pl

snippet delete_dup_tar_gz_bzip2_zip_SOFTLINK
	/root/bin/develop_perl/delete_dup_tar_gz_bzip2_zip.pl

snippet delete_lmy_line.sh_SOFTLINK
	/root/bin/develop_perl/delete_lmy_line.sh.pl

snippet delete_space_for_bash_SOFTLINK
	/root/bin/develop_perl/delete_space_for_bash.pl

snippet design_pattern_SOFTLINK
	/root/bin/develop_perl/design_pattern.pl

snippet devcpp_project_gen_SOFTLINK
	/root/bin/develop_perl/devcpp_project_gen.pl

snippet device_mapper_lvm_usage_SOFTLINK
	/root/bin/develop_perl/device_mapper_lvm_usage.pl

snippet dhcp_client_SOFTLINK
	/root/bin/develop_perl/dhcp_client.pl

snippet dhcpd-lib_webmin_SOFTLINK
	/root/bin/develop_perl/dhcpd-lib_webmin.pl

snippet dhcpd_conf_template_SOFTLINK
	/root/bin/develop_perl/dhcpd_conf_template.pl

snippet dialog_usage_SOFTLINK
	/root/bin/develop_perl/dialog_usage.pl

snippet diary_check_SOFTLINK
	/root/bin/develop_perl/diary_check.pl

snippet dict_gtest.txt_SOFTLINK
	/root/bin/develop_perl/dict_gtest.txt.pl

snippet dir_empty_SOFTLINK
	/root/bin/develop_perl/dir_empty.pl

snippet dir_to_cab_conf_SOFTLINK
	/root/bin/develop_perl/dir_to_cab_conf.pl

snippet disasm_SOFTLINK
	/root/bin/develop_perl/disasm.pl

snippet diskplat_check_thread_SOFTLINK
	/root/bin/develop_perl/diskplat_check_thread.pl

snippet diskplat_tcpdump_dst_port_SOFTLINK
	/root/bin/develop_perl/diskplat_tcpdump_dst_port.pl

snippet do_while_0_next_last_redo_bug_SOFTLINK
	/root/bin/develop_perl/do_while_0_next_last_redo_bug.pl

snippet dotproject_usage_SOFTLINK
	/root/bin/develop_perl/dotproject_usage.pl

snippet download_lst_final_SOFTLINK
	/root/bin/develop_perl/download_lst_final.pl

snippet download_lst_final_4_SOFTLINK
	/root/bin/develop_perl/download_lst_final_4.pl

snippet doxygen_usage_conf_SOFTLINK
	/root/bin/develop_perl/doxygen_usage_conf.pl

snippet du-b_dir_size_split_chm_byte_SOFTLINK
	/root/bin/develop_perl/du-b_dir_size_split_chm_byte.pl

snippet dump_DB_File_SOFTLINK
	/root/bin/develop_perl/dump_DB_File.pl

snippet dump_DB_File_BTree_SOFTLINK
	/root/bin/develop_perl/dump_DB_File_BTree.pl

snippet dump_DB_File_Hash_SOFTLINK
	/root/bin/develop_perl/dump_DB_File_Hash.pl

snippet dump_get_all_ip_range_unpack_SOFTLINK
	/root/bin/develop_perl/dump_get_all_ip_range_unpack.pl

snippet dump_hash_SOFTLINK
	/root/bin/develop_perl/dump_hash.pl

snippet duplicate_line_SOFTLINK
	/root/bin/develop_perl/duplicate_line.pl

snippet dwarf_debug_elf_SOFTLINK
	/root/bin/develop_perl/dwarf_debug_elf.pl

snippet emacs_usage_SOFTLINK
	/root/bin/develop_perl/emacs_usage.pl

snippet english_punctuation_SOFTLINK
	/root/bin/develop_perl/english_punctuation.pl

snippet english_symbols_chars_sed_replace_ascii_SOFTLINK
	/root/bin/develop_perl/english_symbols_chars_sed_replace_ascii.pl

snippet env_PATH_environment_SOFTLINK
	/root/bin/develop_perl/env_PATH_environment.pl

snippet espeak_SOFTLINK
	/root/bin/develop_perl/espeak.pl

snippet eval_SOFTLINK
	/root/bin/develop_perl/eval.pl

snippet eval_reqire_check_package_Hash_Diff_SOFTLINK
	/root/bin/develop_perl/eval_reqire_check_package_Hash_Diff.pl

snippet extract_recurise_SOFTLINK
	/root/bin/develop_perl/extract_recurise.pl

snippet facade_pattern_SOFTLINK
	/root/bin/develop_perl/facade_pattern.pl

snippet factory_method_pattern_SOFTLINK
	/root/bin/develop_perl/factory_method_pattern.pl

snippet fat_info.txt_SOFTLINK
	/root/bin/develop_perl/fat_info.txt.pl

snippet fat_info.txt_0_SOFTLINK
	/root/bin/develop_perl/fat_info.txt_0.pl

snippet fd_set.txt_SOFTLINK
	/root/bin/develop_perl/fd_set.txt.pl

snippet fdset.txt_SOFTLINK
	/root/bin/develop_perl/fdset.txt.pl

snippet file_2_perl_script_SOFTLINK
	/root/bin/develop_perl/file_2_perl_script.pl

snippet file_FILE_handle_as_para_SOFTLINK
	/root/bin/develop_perl/file_FILE_handle_as_para.pl

snippet file_append_one_file.sh_SOFTLINK
	/root/bin/develop_perl/file_append_one_file.sh.pl

snippet file_copy_recursive_fcopy_SOFTLINK
	/root/bin/develop_perl/file_copy_recursive_fcopy.pl

snippet file_distribution_2_dirs_SOFTLINK
	/root/bin/develop_perl/file_distribution_2_dirs.pl

snippet file_get_contents_SOFTLINK
	/root/bin/develop_perl/file_get_contents.pl

snippet file_readcontent_split_undef_SOFTLINK
	/root/bin/develop_perl/file_readcontent_split_undef.pl

snippet file_slurp_sed_SOFTLINK
	/root/bin/develop_perl/file_slurp_sed.pl

snippet file_slurp_sed_wxwidgets_broadcast_SOFTLINK
	/root/bin/develop_perl/file_slurp_sed_wxwidgets_broadcast.pl

snippet file_sort_mtime_df_space_unlink_img_SOFTLINK
	/root/bin/develop_perl/file_sort_mtime_df_space_unlink_img.pl

snippet file_sort_mtime_recursive_SOFTLINK
	/root/bin/develop_perl/file_sort_mtime_recursive.pl

snippet file_tempdir_CLEANUP_SOFTLINK
	/root/bin/develop_perl/file_tempdir_CLEANUP.pl

snippet file_type_cmd_dump_SOFTLINK
	/root/bin/develop_perl/file_type_cmd_dump.pl

snippet filename_increase_copy_v2_SOFTLINK
	/root/bin/develop_perl/filename_increase_copy_v2.pl

snippet filename_utf8_2_gb2312_SOFTLINK
	/root/bin/develop_perl/filename_utf8_2_gb2312.pl

snippet filter_knr2ansi_sed_source_mdf_SOFTLINK
	/root/bin/develop_perl/filter_knr2ansi_sed_source_mdf.pl

snippet find_by_date_my_SOFTLINK
	/root/bin/develop_perl/find_by_date_my.pl

snippet find_command_SOFTLINK
	/root/bin/develop_perl/find_command.pl

snippet find_have_not_subdir_SOFTLINK
	/root/bin/develop_perl/find_have_not_subdir.pl

snippet find_in_tmp_dir_SOFTLINK
	/root/bin/develop_perl/find_in_tmp_dir.pl

snippet find_tempfile_creator_v0_SOFTLINK
	/root/bin/develop_perl/find_tempfile_creator_v0.pl

snippet find_tempfile_creator_v4_SOFTLINK
	/root/bin/develop_perl/find_tempfile_creator_v4.pl

snippet find_usage_SOFTLINK
	/root/bin/develop_perl/find_usage.pl

snippet flyweight_pattern_SOFTLINK
	/root/bin/develop_perl/flyweight_pattern.pl

snippet fmove_mv_move_SOFTLINK
	/root/bin/develop_perl/fmove_mv_move.pl

snippet for_each_disk_SOFTLINK
	/root/bin/develop_perl/for_each_disk.pl

snippet for_each_ini_section_SOFTLINK
	/root/bin/develop_perl/for_each_ini_section.pl

snippet for_each_same_size_img_SOFTLINK
	/root/bin/develop_perl/for_each_same_size_img.pl

snippet for_each_same_size_img_jpg_SOFTLINK
	/root/bin/develop_perl/for_each_same_size_img_jpg.pl

snippet format_SOFTLINK
	/root/bin/develop_perl/format.pl

snippet fping_hosts_comment_SOFTLINK
	/root/bin/develop_perl/fping_hosts_comment.pl

snippet ftp_client_SOFTLINK
	/root/bin/develop_perl/ftp_client.pl

snippet ftp_sino_pet_SOFTLINK
	/root/bin/develop_perl/ftp_sino_pet.pl

snippet ftp_sino_pet_0_SOFTLINK
	/root/bin/develop_perl/ftp_sino_pet_0.pl

snippet ftp_sino_pet_1_SOFTLINK
	/root/bin/develop_perl/ftp_sino_pet_1.pl

snippet func_array_passing_para_with_ref_SOFTLINK
	/root/bin/develop_perl/func_array_passing_para_with_ref.pl

snippet func_code_ref_SOFTLINK
	/root/bin/develop_perl/func_code_ref.pl

snippet func_ref_SOFTLINK
	/root/bin/develop_perl/func_ref.pl

snippet function_by_val_hash_hash_SOFTLINK
	/root/bin/develop_perl/function_by_val_hash_hash.pl

snippet function_pointer_ptr_SOFTLINK
	/root/bin/develop_perl/function_pointer_ptr.pl

snippet function_ptr_ref_SOFTLINK
	/root/bin/develop_perl/function_ptr_ref.pl

snippet funnel_expect_ttys_pty_SOFTLINK
	/root/bin/develop_perl/funnel_expect_ttys_pty.pl

snippet gcc_option_SOFTLINK
	/root/bin/develop_perl/gcc_option.pl

snippet gcc_version_SOFTLINK
	/root/bin/develop_perl/gcc_version.pl

snippet gcc_with_asm_SOFTLINK
	/root/bin/develop_perl/gcc_with_asm.pl

snippet gd_add_png_border_SOFTLINK
	/root/bin/develop_perl/gd_add_png_border.pl

snippet gd_add_rand_circle_SOFTLINK
	/root/bin/develop_perl/gd_add_rand_circle.pl

snippet gd_image_img_diff_SOFTLINK
	/root/bin/develop_perl/gd_image_img_diff.pl

snippet gdb_help_all_f16_7.3.50.txt_SOFTLINK
	/root/bin/develop_perl/gdb_help_all_f16_7.3.50.txt.pl

snippet gdb_help_all_f17_7.4.50.txt_SOFTLINK
	/root/bin/develop_perl/gdb_help_all_f17_7.4.50.txt.pl

snippet gdb_help_all_f18_7.5.0.txt_SOFTLINK
	/root/bin/develop_perl/gdb_help_all_f18_7.5.0.txt.pl

snippet gdb_help_all_rhel58_7.0.1.txt_SOFTLINK
	/root/bin/develop_perl/gdb_help_all_rhel58_7.0.1.txt.pl

snippet gdbinit_SOFTLINK
	/root/bin/develop_perl/gdbinit.pl

snippet gdbinit_0_SOFTLINK
	/root/bin/develop_perl/gdbinit_0.pl

snippet gen_bakefile_bkl_SOFTLINK
	/root/bin/develop_perl/gen_bakefile_bkl.pl

snippet gen_bakefile_bkl_0_SOFTLINK
	/root/bin/develop_perl/gen_bakefile_bkl_0.pl

snippet gen_bakefile_bkl_1_SOFTLINK
	/root/bin/develop_perl/gen_bakefile_bkl_1.pl

snippet gen_bakefile_from_makefile_SOFTLINK
	/root/bin/develop_perl/gen_bakefile_from_makefile.pl

snippet gen_bakefile_from_vcproj_simplest_SOFTLINK
	/root/bin/develop_perl/gen_bakefile_from_vcproj_simplest.pl

snippet gen_blue_logo__from_pic_SOFTLINK
	/root/bin/develop_perl/gen_blue_logo__from_pic.pl

snippet gen_ddk_build_files_SOFTLINK
	/root/bin/develop_perl/gen_ddk_build_files.pl

snippet gen_file_name_with_time_SOFTLINK
	/root/bin/develop_perl/gen_file_name_with_time.pl

snippet gen_huge_dlxp_vmx_diskplat_SOFTLINK
	/root/bin/develop_perl/gen_huge_dlxp_vmx_diskplat.pl

snippet gen_lang_hash_struct_from_file_SOFTLINK
	/root/bin/develop_perl/gen_lang_hash_struct_from_file.pl

snippet gen_lftp_update_script_with_mtime_SOFTLINK
	/root/bin/develop_perl/gen_lftp_update_script_with_mtime.pl

snippet gen_makefile_from_file_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file.pl

snippet gen_makefile_from_file_0_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_0.pl

snippet gen_makefile_from_file_1_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_1.pl

snippet gen_makefile_from_file_10_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_10.pl

snippet gen_makefile_from_file_11_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_11.pl

snippet gen_makefile_from_file_2_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_2.pl

snippet gen_makefile_from_file_3_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_3.pl

snippet gen_makefile_from_file_4_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_4.pl

snippet gen_makefile_from_file_5_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_5.pl

snippet gen_makefile_from_file_6_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_6.pl

snippet gen_makefile_from_file_7_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_7.pl

snippet gen_makefile_from_file_8_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_8.pl

snippet gen_makefile_from_file_9_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_9.pl

snippet gen_makefile_from_file_latest_SOFTLINK
	/root/bin/develop_perl/gen_makefile_from_file_latest.pl

snippet gen_makefile_mutil_files_SOFTLINK
	/root/bin/develop_perl/gen_makefile_mutil_files.pl

snippet gen_makefile_mutil_files_0_SOFTLINK
	/root/bin/develop_perl/gen_makefile_mutil_files_0.pl

snippet gen_makefile_mutil_files_2_SOFTLINK
	/root/bin/develop_perl/gen_makefile_mutil_files_2.pl

snippet gen_makefile_mutil_files_4_SOFTLINK
	/root/bin/develop_perl/gen_makefile_mutil_files_4.pl

snippet gen_one_website_from_subject_SOFTLINK
	/root/bin/develop_perl/gen_one_website_from_subject.pl

snippet gen_perl_Lang_hash_from_file_SOFTLINK
	/root/bin/develop_perl/gen_perl_Lang_hash_from_file.pl

snippet gen_perl_Lang_hash_from_file_0_SOFTLINK
	/root/bin/develop_perl/gen_perl_Lang_hash_from_file_0.pl

snippet gen_perl_Lang_hash_from_file_1_SOFTLINK
	/root/bin/develop_perl/gen_perl_Lang_hash_from_file_1.pl

snippet gen_pic_table_SOFTLINK
	/root/bin/develop_perl/gen_pic_table.pl

snippet gen_png_pic_gray_xy_SOFTLINK
	/root/bin/develop_perl/gen_png_pic_gray_xy.pl

snippet gen_png_pic_string_SOFTLINK
	/root/bin/develop_perl/gen_png_pic_string.pl

snippet gen_rand_huge_many_much_cpp_src_SOFTLINK
	/root/bin/develop_perl/gen_rand_huge_many_much_cpp_src.pl

snippet gen_rand_huge_many_much_cpp_src_0_SOFTLINK
	/root/bin/develop_perl/gen_rand_huge_many_much_cpp_src_0.pl

snippet gen_rand_mysql_table_SOFTLINK
	/root/bin/develop_perl/gen_rand_mysql_table.pl

snippet gen_struct_dump_type_code_SOFTLINK
	/root/bin/develop_perl/gen_struct_dump_type_code.pl

snippet getWeather_SOFTLINK
	/root/bin/develop_perl/getWeather.pl

snippet gen_vim_insert_script_SOFTLINK
	/root/bin/develop_perl/gen_vim_insert_script.pl

snippet gen_win32_dll_project_SOFTLINK
	/root/bin/develop_perl/gen_win32_dll_project.pl

snippet generator_main_function_switch_code_SOFTLINK
	/root/bin/develop_perl/generator_main_function_switch_code.pl

snippet gentoo_mirror_SOFTLINK
	/root/bin/develop_perl/gentoo_mirror.pl

snippet get_alive_running_eclipse_time_SOFTLINK
	/root/bin/develop_perl/get_alive_running_eclipse_time.pl

snippet get_all_global_vars_SOFTLINK
	/root/bin/develop_perl/get_all_global_vars.pl

snippet get_c_function_SOFTLINK
	/root/bin/develop_perl/get_c_function.pl

snippet get_cur_frequent_image_size_SOFTLINK
	/root/bin/develop_perl/get_cur_frequent_image_size.pl

snippet get_dbx_mbx_to_addr_SOFTLINK
	/root/bin/develop_perl/get_dbx_mbx_to_addr.pl

snippet get_dvd_ide_hdx_SOFTLINK
	/root/bin/develop_perl/get_dvd_ide_hdx.pl

snippet get_first_word_in_word_with_sep_SOFTLINK
	/root/bin/develop_perl/get_first_word_in_word_with_sep.pl

snippet get_function_SOFTLINK
	/root/bin/develop_perl/get_function.pl

snippet get_hostip_SOFTLINK
	/root/bin/develop_perl/get_hostip.pl

snippet get_html_in_body_SOFTLINK
	/root/bin/develop_perl/get_html_in_body.pl

snippet get_iso_filelist_SOFTLINK
	/root/bin/develop_perl/get_iso_filelist.pl

snippet get_iso_filelist_linux_SOFTLINK
	/root/bin/develop_perl/get_iso_filelist_linux.pl

snippet get_left_space_cur_dir_df_SOFTLINK
	/root/bin/develop_perl/get_left_space_cur_dir_df.pl

snippet get_lib_change_from_dll_SOFTLINK
	/root/bin/develop_perl/get_lib_change_from_dll.pl

snippet get_main_header_SOFTLINK
	/root/bin/develop_perl/get_main_header.pl

snippet get_max_from_dir_number_svn_SOFTLINK
	/root/bin/develop_perl/get_max_from_dir_number_svn.pl

snippet get_nth_item_one_line_SOFTLINK
	/root/bin/develop_perl/get_nth_item_one_line.pl

snippet get_os_version_rhel_centos_fedora_SOFTLINK
	/root/bin/develop_perl/get_os_version_rhel_centos_fedora.pl

snippet get_php_code_in_txt_SOFTLINK
	/root/bin/develop_perl/get_php_code_in_txt.pl

snippet get_phy_net_card_SOFTLINK
	/root/bin/develop_perl/get_phy_net_card.pl

snippet get_root_svn_dir_SOFTLINK
	/root/bin/develop_perl/get_root_svn_dir.pl

snippet get_title_SOFTLINK
	/root/bin/develop_perl/get_title.pl

snippet get_today_tar_gz_SOFTLINK
	/root/bin/develop_perl/get_today_tar_gz.pl

snippet get_today_tar_gz_0_SOFTLINK
	/root/bin/develop_perl/get_today_tar_gz_0.pl

snippet get_txt_n_block_SOFTLINK
	/root/bin/develop_perl/get_txt_n_block.pl

snippet get_txt_n_block_section_SOFTLINK
	/root/bin/develop_perl/get_txt_n_block_section.pl

snippet get_username_win_linux_administrator_SOFTLINK
	/root/bin/develop_perl/get_username_win_linux_administrator.pl

snippet get_weekday_SOFTLINK
	/root/bin/develop_perl/get_weekday.pl

snippet get_wxWidgets_Version_SOFTLINK
	/root/bin/develop_perl/get_wxWidgets_Version.pl

snippet getopt_SOFTLINK
	/root/bin/develop_perl/getopt.pl

snippet getpid_SOFTLINK
	/root/bin/develop_perl/getpid.pl

snippet getservent_port_SOFTLINK
	/root/bin/develop_perl/getservent_port.pl

snippet gettext_i18n_i10n_SOFTLINK
	/root/bin/develop_perl/gettext_i18n_i10n.pl

snippet gf_sf_back_s_trace_all_SOFTLINK
	/root/bin/develop_perl/gf_sf_back_s_trace_all.pl

snippet git_exclude_SOFTLINK
	/root/bin/develop_perl/git_exclude.pl

snippet git_gitignore_SOFTLINK
	/root/bin/develop_perl/git_gitignore.pl

snippet git_usage_SOFTLINK
	/root/bin/develop_perl/git_usage.pl

snippet glob_SOFTLINK
	/root/bin/develop_perl/glob.pl

snippet glob_brace_multi_dir_SOFTLINK
	/root/bin/develop_perl/glob_brace_multi_dir.pl

snippet glob_cur_file_2_include_sed.sh_SOFTLINK
	/root/bin/develop_perl/glob_cur_file_2_include_sed.sh.pl

snippet glob_gen_classpath_SOFTLINK
	/root/bin/develop_perl/glob_gen_classpath.pl

snippet glob_lambda_funptr_SOFTLINK
	/root/bin/develop_perl/glob_lambda_funptr.pl

snippet glob_one_depth_dir_recursive_harddisk_SOFTLINK
	/root/bin/develop_perl/glob_one_depth_dir_recursive_harddisk.pl

snippet glob_sort_perl_number_SOFTLINK
	/root/bin/develop_perl/glob_sort_perl_number.pl

snippet glob_sort_perl_number_0_SOFTLINK
	/root/bin/develop_perl/glob_sort_perl_number_0.pl

snippet glob_sort_perl_number_1_SOFTLINK
	/root/bin/develop_perl/glob_sort_perl_number_1.pl

snippet global_vars_class_SOFTLINK
	/root/bin/develop_perl/global_vars_class.pl

snippet gmail_pop3_ssl_SOFTLINK
	/root/bin/develop_perl/gmail_pop3_ssl.pl

snippet gnugo_fuseki19_change_2_sgf_SOFTLINK
	/root/bin/develop_perl/gnugo_fuseki19_change_2_sgf.pl

snippet google_code_SOFTLINK
	/root/bin/develop_perl/google_code.pl

snippet google_translate_dir_file_name_to_english_SOFTLINK
	/root/bin/develop_perl/google_translate_dir_file_name_to_english.pl

snippet google_translate_dir_file_name_to_english_0_SOFTLINK
	/root/bin/develop_perl/google_translate_dir_file_name_to_english_0.pl

snippet google_translate_lwp_SOFTLINK
	/root/bin/develop_perl/google_translate_lwp.pl

snippet google_translate_lwp_5_SOFTLINK
	/root/bin/develop_perl/google_translate_lwp_5.pl

snippet google_translate_lwp_en_2_zh_SOFTLINK
	/root/bin/develop_perl/google_translate_lwp_en_2_zh.pl

snippet google_translate_lwp_en_2_zh_0_SOFTLINK
	/root/bin/develop_perl/google_translate_lwp_en_2_zh_0.pl

snippet google_translate_lwp_zh_2_en_SOFTLINK
	/root/bin/develop_perl/google_translate_lwp_zh_2_en.pl

snippet google_translate_lwp_zh_2_en_0_SOFTLINK
	/root/bin/develop_perl/google_translate_lwp_zh_2_en_0.pl

snippet google_word_SOFTLINK
	/root/bin/develop_perl/google_word.pl

snippet goto_SOFTLINK
	/root/bin/develop_perl/goto.pl

snippet goto_lable_SOFTLINK
	/root/bin/develop_perl/goto_lable.pl

snippet grep_block_section_SOFTLINK
	/root/bin/develop_perl/grep_block_section.pl

snippet grep_foreach_bracket_SOFTLINK
	/root/bin/develop_perl/grep_foreach_bracket.pl

snippet grep_function_SOFTLINK
	/root/bin/develop_perl/grep_function.pl

snippet grep_not_undefined_undef_SOFTLINK
	/root/bin/develop_perl/grep_not_undefined_undef.pl

snippet grep_number_SOFTLINK
	/root/bin/develop_perl/grep_number.pl

snippet grep_sed_line_number_rename_function_SOFTLINK
	/root/bin/develop_perl/grep_sed_line_number_rename_function.pl

snippet grid_ncurses_SOFTLINK
	/root/bin/develop_perl/grid_ncurses.pl

snippet grub2_conf_cfg_SOFTLINK
	/root/bin/develop_perl/grub2_conf_cfg.pl

snippet grub_install_in_vfat_SOFTLINK
	/root/bin/develop_perl/grub_install_in_vfat.pl

snippet gsl-randist_dump_SOFTLINK
	/root/bin/develop_perl/gsl-randist_dump.pl

snippet gtest_simple_SOFTLINK
	/root/bin/develop_perl/gtest_simple.cpp.pl

snippet gtest_simple_0_SOFTLINK
	/root/bin/develop_perl/gtest_simple.cpp_0.pl

snippet gtest_simple_2_SOFTLINK
	/root/bin/develop_perl/gtest_simple.cpp_2.pl

snippet gtest_template_SOFTLINK
	/root/bin/develop_perl/gtest_template.pl

snippet guid_root_uid_SOFTLINK
	/root/bin/develop_perl/guid_root_uid.pl

snippet h3c_get_startupfg_SOFTLINK
	/root/bin/develop_perl/h3c_get_startup.cfg.pl

snippet h3c_telnet_SOFTLINK
	/root/bin/develop_perl/h3c_telnet.pl

snippet hash.array.hash_SOFTLINK
	/root/bin/develop_perl/hash.array.hash.pl

snippet hash.array_SOFTLINK
	/root/bin/develop_perl/hash.array.pl

snippet hash.array_normalize_SOFTLINK
	/root/bin/develop_perl/hash.array_normalize.pl

snippet hash.array_nwservonf_SOFTLINK
	/root/bin/develop_perl/hash.array_nwserv.conf.pl

snippet hash.fun_ptr_SOFTLINK
	/root/bin/develop_perl/hash.fun_ptr.pl

snippet hash.hash.hash_SOFTLINK
	/root/bin/develop_perl/hash.hash.hash.pl

snippet hash.hash.hash_ptr_ref_inifile_SOFTLINK
	/root/bin/develop_perl/hash.hash.hash_ptr_ref_inifile.pl

snippet hash_array_convert_SOFTLINK
	/root/bin/develop_perl/hash_array_convert.pl

snippet hash_copy_SOFTLINK
	/root/bin/develop_perl/hash_copy.pl

snippet hash_diff_comm_SOFTLINK
	/root/bin/develop_perl/hash_diff_comm.pl

snippet hash_left_diff_SOFTLINK
	/root/bin/develop_perl/hash_left_diff.pl

snippet hash_merge_SOFTLINK
	/root/bin/develop_perl/hash_merge.pl

snippet hash_ptr_hash_point_anonymous_SOFTLINK
	/root/bin/develop_perl/hash_ptr_hash_point_anonymous.pl

snippet hash_regex_mathc_SOFTLINK
	/root/bin/develop_perl/hash_regex_mathc.pl

snippet hash_reverse_SOFTLINK
	/root/bin/develop_perl/hash_reverse.pl

snippet hash_sort_get_max_SOFTLINK
	/root/bin/develop_perl/hash_sort_get_max.pl

snippet hash_sort_with_multi_key_SOFTLINK
	/root/bin/develop_perl/hash_sort_with_multi_key.pl

snippet hash_static_init_SOFTLINK
	/root/bin/develop_perl/hash_static_init.pl

snippet hash_traverse_each_SOFTLINK
	/root/bin/develop_perl/hash_traverse_each.pl

snippet header_bin_hex_SOFTLINK
	/root/bin/develop_perl/header_bin_hex.pl

snippet hosts_SOFTLINK
	/root/bin/develop_perl/hosts.pl

snippet href_add_base_sed.sh_SOFTLINK
	/root/bin/develop_perl/href_add_base_sed.sh.pl

snippet html_body_centerss_SOFTLINK
	/root/bin/develop_perl/html_body_center.css.pl

snippet html_escape_nbsp_amp__SOFTLINK
	/root/bin/develop_perl/html_escape_nbsp_amp_.pl

snippet html_form_generator_SOFTLINK
	/root/bin/develop_perl/html_form_generator.pl

snippet html_form_generator_1_SOFTLINK
	/root/bin/develop_perl/html_form_generator_1.pl

snippet html_meta_gb2312_SOFTLINK
	/root/bin/develop_perl/html_meta_gb2312.pl

snippet html_template_SOFTLINK
	/root/bin/develop_perl/html_template.pl

snippet http_client_SOFTLINK
	/root/bin/develop_perl/http_client.pl

snippet huanqiuweb_sql_SOFTLINK
	/root/bin/develop_perl/huanqiuweb_sql.pl

snippet human_number_change_K_M_G_T_P_SOFTLINK
	/root/bin/develop_perl/human_number_change_K_M_G_T_P.pl

snippet idle_do_thing_SOFTLINK
	/root/bin/develop_perl/idle_do_thing.pl

snippet ifdef_define_SOFTLINK
	/root/bin/develop_perl/ifdef_define.pl

snippet image_size_fun_ptr_reference_SOFTLINK
	/root/bin/develop_perl/image_size_fun_ptr_reference.pl

snippet increasement_++_plus_operator_SOFTLINK
	/root/bin/develop_perl/increasement_++_plus_operator.pl

snippet index_cpp_src_code_SOFTLINK
	/root/bin/develop_perl/index_cpp_src_code.pl

snippet index_dir_txt_keyword_SOFTLINK
	/root/bin/develop_perl/index_dir_txt_keyword.pl

snippet index_get_file_path_SOFTLINK
	/root/bin/develop_perl/index_get_file_path.pl

snippet index_opt_string_from_txt_SOFTLINK
	/root/bin/develop_perl/index_opt_string_from_txt.pl

snippet ini_parse_to_hash_SOFTLINK
	/root/bin/develop_perl/ini_parse_to_hash.pl

snippet init_ruiqi_netconfig_SOFTLINK
	/root/bin/develop_perl/init_ruiqi_netconfig.pl

snippet inode_lonld_ls_SOFTLINK
	/root/bin/develop_perl/inode_lonld_ls.pl

snippet inode_lonld_ls_3_SOFTLINK
	/root/bin/develop_perl/inode_lonld_ls_3.pl

snippet insert_file_with_tie_file_SOFTLINK
	/root/bin/develop_perl/insert_file_with_tie_file.pl

snippet insert_template_check_proto_SOFTLINK
	/root/bin/develop_perl/insert_template_check_proto.pl

snippet install_cpan_mod_from_bin_perl_scripts_SOFTLINK
	/root/bin/develop_perl/install_cpan_mod_from_bin_perl_scripts.pl

snippet install_cpan_mod_from_bin_perl_scripts_0_SOFTLINK
	/root/bin/develop_perl/install_cpan_mod_from_bin_perl_scripts_0.pl

snippet install_cpan_mod_from_bin_perl_scripts_1_SOFTLINK
	/root/bin/develop_perl/install_cpan_mod_from_bin_perl_scripts_1.pl

snippet interface_net_SOFTLINK
	/root/bin/develop_perl/interface_net.pl

snippet intergrated_install_cd_SOFTLINK
	/root/bin/develop_perl/intergrated_install_cd.pl

snippet interpreter_pattern_SOFTLINK
	/root/bin/develop_perl/interpreter_pattern.pl

snippet ipaddr_netmask_ioctl_SOFTLINK
	/root/bin/develop_perl/ipaddr_netmask_ioctl.pl

snippet ipaddr_unpack_hex_ipString_dword_int_netmask_convert_SOFTLINK
	/root/bin/develop_perl/ipaddr_unpack_hex_ipString_dword_int_netmask_convert.pl

snippet ipconfig_ifconfig_windows_SOFTLINK
	/root/bin/develop_perl/ipconfig_ifconfig_windows.pl

snippet ipinfo_IPInfoDB_from_www_SOFTLINK
	/root/bin/develop_perl/ipinfo_IPInfoDB_from_www.pl

snippet iptables_usage_SOFTLINK
	/root/bin/develop_perl/iptables_usage.pl

snippet ipx_client_setup_SOFTLINK
	/root/bin/develop_perl/ipx_client_setup.pl

snippet iscsi_admin_tool_SOFTLINK
	/root/bin/develop_perl/iscsi_admin_tool.pl

snippet iso_get_mobile_disk_label_SOFTLINK
	/root/bin/develop_perl/iso_get_mobile_disk_label.pl

snippet iterator_pattern_SOFTLINK
	/root/bin/develop_perl/iterator_pattern.pl

snippet java_all_package_f13_SOFTLINK
	/root/bin/develop_perl/java_all_package_f13.pl

snippet java_sdk_install_SOFTLINK
	/root/bin/develop_perl/java_sdk_install.pl

snippet java_template_SOFTLINK
	/root/bin/develop_perl/java_template.pl

snippet javascript_js_makemini_SOFTLINK
	/root/bin/develop_perl/javascript_js_makemini.pl

snippet javatar_usage_SOFTLINK
	/root/bin/develop_perl/javatar_usage.pl

snippet js_jquery_ctags_SOFTLINK
	/root/bin/develop_perl/js_jquery_ctags.pl

snippet json_SOFTLINK
	/root/bin/develop_perl/json.pl

snippet kernel-watch_SOFTLINK
	/root/bin/develop_perl/kernel-watch.pl

snippet kernel_newest_version_SOFTLINK
	/root/bin/develop_perl/kernel_newest_version.pl

snippet kexec_SOFTLINK
	/root/bin/develop_perl/kexec.pl

snippet kickstart_file_ks_anaconda_SOFTLINK
	/root/bin/develop_perl/kickstart_file_ks_anaconda.pl

snippet kill_taskkill_win_SOFTLINK
	/root/bin/develop_perl/kill_taskkill_win.pl

snippet ks_kickstart_cfg_conf_SOFTLINK
	/root/bin/develop_perl/ks_kickstart_cfg_conf.pl

snippet kv_extract_SOFTLINK
	/root/bin/develop_perl/kv_extract.pl

snippet lang_array_data_usage_SOFTLINK
	/root/bin/develop_perl/lang_array_data_usage.pl

snippet language_dev_SOFTLINK
	/root/bin/develop_perl/language_dev.pl

snippet last_row_SOFTLINK
	/root/bin/develop_perl/last_row.pl

snippet ld_cmd_dump_SOFTLINK
	/root/bin/develop_perl/ld_cmd_dump.pl

snippet ld_usage_asm_SOFTLINK
	/root/bin/develop_perl/ld_usage_asm.pl

snippet ld_usage_asm_as_SOFTLINK
	/root/bin/develop_perl/ld_usage_asm_as.pl

snippet lianhuanhua_get_title_SOFTLINK
	/root/bin/develop_perl/lianhuanhua_get_title.pl

snippet lianhuanhua_mirror_SOFTLINK
	/root/bin/develop_perl/lianhuanhua_mirror.pl

snippet libguestfs_inspect_vm_img_issue_SOFTLINK
	/root/bin/develop_perl/libguestfs_inspect_vm_img_issue.pl

snippet linkextractor_SOFTLINK
	/root/bin/develop_perl/linkextractor.pl

snippet list_moreutils_union_diff_mesh_SOFTLINK
	/root/bin/develop_perl/list_moreutils_union_diff_mesh.pl

snippet livecd_f13_mkisofs_howto_SOFTLINK
	/root/bin/develop_perl/livecd_f13_mkisofs_howto.pl

snippet livecd_f8_kickstart_SOFTLINK
	/root/bin/develop_perl/livecd_f8_kickstart.pl

snippet lmy_template_SOFTLINK
	/root/bin/develop_perl/lmy_template.pl

snippet load_array_from_file_SOFTLINK
	/root/bin/develop_perl/load_array_from_file.pl

snippet logger_SOFTLINK
	/root/bin/develop_perl/logger.pl

snippet logic_bit_op_c_cpp_SOFTLINK
	/root/bin/develop_perl/logic_bit_op_c_cpp.pl

snippet losetup_usage_winaoe_SOFTLINK
	/root/bin/develop_perl/losetup_usage_winaoe.pl

snippet lost_file_scripts_bug_SOFTLINK
	/root/bin/develop_perl/lost_file_scripts_bug.pl

snippet lower_case_SOFTLINK
	/root/bin/develop_perl/lower_case.pl

snippet lower_case_filename_SOFTLINK
	/root/bin/develop_perl/lower_case_filename.pl

snippet lower_case_filename_0_SOFTLINK
	/root/bin/develop_perl/lower_case_filename_0.pl

snippet lower_case_filename_1_SOFTLINK
	/root/bin/develop_perl/lower_case_filename_1.pl

snippet lower_case_filename_2_SOFTLINK
	/root/bin/develop_perl/lower_case_filename_2.pl

snippet lucene_usage_jar_classpath_SOFTLINK
	/root/bin/develop_perl/lucene_usage_jar_classpath.pl

snippet mac_addr_netAddr_format_exchanage_SOFTLINK
	/root/bin/develop_perl/mac_addr_netAddr_format_exchanage.pl

snippet mail_html_SOFTLINK
	/root/bin/develop_perl/mail_html.pl

snippet mail_tnsoftomn_SOFTLINK
	/root/bin/develop_perl/mail_tnsoft.com.cn.pl

snippet make_photo_gallery_SOFTLINK
	/root/bin/develop_perl/make_photo_gallery.pl

snippet man_glob_SOFTLINK
	/root/bin/develop_perl/man_glob.pl

snippet mantis_comment_SOFTLINK
	/root/bin/develop_perl/mantis_comment.pl

snippet mantis_comment_0_SOFTLINK
	/root/bin/develop_perl/mantis_comment_0.pl

snippet map_hash.hash_to_array_SOFTLINK
	/root/bin/develop_perl/map_hash.hash_to_array.pl

snippet match_and_assert_one_line.sh_SOFTLINK
	/root/bin/develop_perl/match_and_assert_one_line.sh.pl

snippet match_and_assign_SOFTLINK
	/root/bin/develop_perl/match_and_assign.pl

snippet match_reg_as_var_SOFTLINK
	/root/bin/develop_perl/match_reg_as_var.pl

snippet match_regex_return_with_array_SOFTLINK
	/root/bin/develop_perl/match_regex_return_with_array.pl

snippet match_with_array_SOFTLINK
	/root/bin/develop_perl/match_with_array.pl

snippet match_with_multi_array_square_bracket_SOFTLINK
	/root/bin/develop_perl/match_with_multi_array_square_bracket.pl

snippet math_array_difference_SOFTLINK
	/root/bin/develop_perl/math_array_difference.pl

snippet math_seach_powerword2007_pwgcesx_simplex_SOFTLINK
	/root/bin/develop_perl/math_seach_powerword2007_pwgcesx_simplex.pl

snippet max_line_align_SOFTLINK
	/root/bin/develop_perl/max_line_align.pl

snippet max_line_align_txt_SOFTLINK
	/root/bin/develop_perl/max_line_align_txt.pl

snippet mediator_pattern_SOFTLINK
	/root/bin/develop_perl/mediator_pattern.pl

snippet memento_pattern_SOFTLINK
	/root/bin/develop_perl/memento_pattern.pl

snippet mencal_package_main_class_SOFTLINK
	/root/bin/develop_perl/mencal_package_main_class.pl

snippet mencoder_dvd_vcd_svcd_SOFTLINK
	/root/bin/develop_perl/mencoder_dvd_vcd_svcd.pl

snippet merge_block_line_SOFTLINK
	/root/bin/develop_perl/merge_block_line.pl

snippet mesh_cross_enum_SOFTLINK
	/root/bin/develop_perl/mesh_cross_enum.pl

snippet mingw_usage_SOFTLINK
	/root/bin/develop_perl/mingw_usage.pl

snippet mkpath_mkdir_tree_mktree_SOFTLINK
	/root/bin/develop_perl/mkpath_mkdir_tree_mktree.pl

snippet mktime_SOFTLINK
	/root/bin/develop_perl/mktime.pl

snippet mobile_harddisk_skeletion_SOFTLINK
	/root/bin/develop_perl/mobile_harddisk_skeletion.pl

snippet month_en_2_zh_SOFTLINK
	/root/bin/develop_perl/month_en_2_zh.pl

snippet move2dir_with_Year_SOFTLINK
	/root/bin/develop_perl/move2dir_with_Year.pl

snippet move2dir_with_Year_Month_SOFTLINK
	/root/bin/develop_perl/move2dir_with_Year_Month.pl

snippet move2dir_with_date_SOFTLINK
	/root/bin/develop_perl/move2dir_with_date.pl

snippet move2dir_with_mtime_SOFTLINK
	/root/bin/develop_perl/move2dir_with_mtime.pl

snippet moveWithDayMtime_SOFTLINK
	/root/bin/develop_perl/moveWithDayMtime.pl

snippet moveWithSuffic_SOFTLINK
	/root/bin/develop_perl/moveWithSuffic.pl

snippet moveWithSuffic_0_SOFTLINK
	/root/bin/develop_perl/moveWithSuffic_0.pl

snippet moveWithSuffic_1_SOFTLINK
	/root/bin/develop_perl/moveWithSuffic_1.pl

snippet moveWithSuffic_v2_SOFTLINK
	/root/bin/develop_perl/moveWithSuffic_v2.pl

snippet moveWithSuffic_v2_0_SOFTLINK
	/root/bin/develop_perl/moveWithSuffic_v2_0.pl

snippet moveWithSuffic_v2_1_SOFTLINK
	/root/bin/develop_perl/moveWithSuffic_v2_1.pl

snippet mp3_tag_SOFTLINK
	/root/bin/develop_perl/mp3_tag.pl

snippet mplayer_memcode_thomas_SOFTLINK
	/root/bin/develop_perl/mplayer_memcode_thomas.pl

snippet msidb-dump_SOFTLINK
	/root/bin/develop_perl/msidb-dump.pl

snippet mthread_static_func_SOFTLINK
	/root/bin/develop_perl/mthread_static_func.pl

snippet mtime_random_change_SOFTLINK
	/root/bin/develop_perl/mtime_random_change.pl

snippet mtime_stat_SOFTLINK
	/root/bin/develop_perl/mtime_stat.pl

snippet mtu_comm_SOFTLINK
	/root/bin/develop_perl/mtu_comm.pl

snippet multi_function_do_include_SOFTLINK
	/root/bin/develop_perl/multi_function_do_include.pl

snippet multi_netcard_Interface_SOFTLINK
	/root/bin/develop_perl/multi_netcard_Interface.pl

snippet my_crond_SOFTLINK
	/root/bin/develop_perl/my_crond.pl

snippet mygdi_tempalte_SOFTLINK
	/root/bin/develop_perl/mygdi_tempalte.pl

snippet mysql_all_database_SOFTLINK
	/root/bin/develop_perl/mysql_all_database.pl

snippet mysql_backup_SOFTLINK
	/root/bin/develop_perl/mysql_backup.pl

snippet mysql_db_table_SOFTLINK
	/root/bin/develop_perl/mysql_db_table.pl

snippet mysql_db_table_0_SOFTLINK
	/root/bin/develop_perl/mysql_db_table_0.pl

snippet mysql_help_topic_table_SOFTLINK
	/root/bin/develop_perl/mysql_help_topic_table.pl

snippet mysql_tree_depth3_table_info_SOFTLINK
	/root/bin/develop_perl/mysql_tree_depth3_table_info.pl

snippet mysql_tree_depth3_table_info_5_SOFTLINK
	/root/bin/develop_perl/mysql_tree_depth3_table_info_5.pl

snippet nasm_cmd_dump_SOFTLINK
	/root/bin/develop_perl/nasm_cmd_dump.pl

snippet nasm_usage_SOFTLINK
	/root/bin/develop_perl/nasm_usage.pl

snippet ncp_wireshare_filter_SOFTLINK
	/root/bin/develop_perl/ncp_wireshare_filter.pl

snippet ncpmount_usage_ipx_eth_nw_SOFTLINK
	/root/bin/develop_perl/ncpmount_usage_ipx_eth_nw.pl

snippet needle_in_haystack_SOFTLINK
	/root/bin/develop_perl/needle_in_haystack.pl

snippet netAddr_mac_format_SOFTLINK
	/root/bin/develop_perl/netAddr_mac_format.pl

snippet net_dhcp_watch_sniffer_monitor_SOFTLINK
	/root/bin/develop_perl/net_dhcp_watch_sniffer_monitor.pl

snippet net_ftp_get_product_ini_SOFTLINK
	/root/bin/develop_perl/net_ftp_get_product_ini.pl

snippet net_ftp_put_to_huilong_china_SOFTLINK
	/root/bin/develop_perl/net_ftp_put_to_huilong_china.pl

snippet net_ip_operator_lib_SOFTLINK
	/root/bin/develop_perl/net_ip_operator_lib.pl

snippet net_ping_mercury_reboot_SOFTLINK
	/root/bin/develop_perl/net_ping_mercury_reboot.pl

snippet netware_mac_to_name_gf_nlx_SOFTLINK
	/root/bin/develop_perl/netware_mac_to_name_gf_nlx.pl

snippet nftest_wireshark_usage_SOFTLINK
	/root/bin/develop_perl/nftest_wireshark_usage.pl

snippet nm_line_number_to_grep_vim_SOFTLINK
	/root/bin/develop_perl/nm_line_number_to_grep_vim.pl

snippet nm_usage_SOFTLINK
	/root/bin/develop_perl/nm_usage.pl

snippet nmap_autopasswd_ssh_diskplat_SOFTLINK
	/root/bin/develop_perl/nmap_autopasswd_ssh_diskplat.pl

snippet nthash_lmhash_ntlm_smbhash_SOFTLINK
	/root/bin/develop_perl/nthash_lmhash_ntlm_smbhash.pl

snippet ntlm_SOFTLINK
	/root/bin/develop_perl/ntlm.pl

snippet ntohl_hlton_inet_ntoa_network_order_pack_SOFTLINK
	/root/bin/develop_perl/ntohl_hlton_inet_ntoa_network_order_pack.pl

snippet null_array_empty_undef_SOFTLINK
	/root/bin/develop_perl/null_array_empty_undef.pl

snippet number_compare_SOFTLINK
	/root/bin/develop_perl/number_compare.pl

snippet numerical_math_template_SOFTLINK
	/root/bin/develop_perl/numerical_math_template.pl

snippet nutch_usage_jar_classpath_SOFTLINK
	/root/bin/develop_perl/nutch_usage_jar_classpath.pl

snippet nwconn_fcntl_daemon_SOFTLINK
	/root/bin/develop_perl/nwconn_fcntl_daemon.pl

snippet nwserv_log_clear_SOFTLINK
	/root/bin/develop_perl/nwserv_log_clear.pl

snippet objdump_usage_SOFTLINK
	/root/bin/develop_perl/objdump_usage.pl

snippet observer_pattern_SOFTLINK
	/root/bin/develop_perl/observer_pattern.pl

snippet od_hexdump_binfile_change_port_SOFTLINK
	/root/bin/develop_perl/od_hexdump_binfile_change_port.pl

snippet od_hexdump_to_perl_array_shellcode_SOFTLINK
	/root/bin/develop_perl/od_hexdump_to_perl_array_shellcode.pl

snippet operator_indication_usage_SOFTLINK
	/root/bin/develop_perl/operator_indication_usage.pl

snippet oracle_Install_create_user_SOFTLINK
	/root/bin/develop_perl/oracle_Install_create_user.pl

snippet oracle_bash_profile_SOFTLINK
	/root/bin/develop_perl/oracle_bash_profile.pl

snippet os_platform_windows_linux_win7_SOFTLINK
	/root/bin/develop_perl/os_platform_windows_linux_win7.pl

snippet overflowss_SOFTLINK
	/root/bin/develop_perl/overflow.css.pl

snippet passwd_gen_dict_SOFTLINK
	/root/bin/develop_perl/passwd_gen_dict.pl

snippet passwd_print_SOFTLINK
	/root/bin/develop_perl/passwd_print.pl

snippet paste_my_SOFTLINK
	/root/bin/develop_perl/paste_my.pl

snippet path_reg_SOFTLINK
	/root/bin/develop_perl/path_reg.pl

snippet pcapinfo_SOFTLINK
	/root/bin/develop_perl/pcapinfo.pl

snippet perl_class_demo_SOFTLINK
	/root/bin/develop_perl/perl_class_demo.pl

snippet perl_define_SOFTLINK
	/root/bin/develop_perl/perl_define.pl

snippet perl_global_SOFTLINK
	/root/bin/develop_perl/perl_global.pl

snippet perl_grep_cmd_SOFTLINK
	/root/bin/develop_perl/perl_grep_cmd.pl

snippet perl_hash.array_SOFTLINK
	/root/bin/develop_perl/perl_hash.array.pl

snippet perl_hash.hash.array_SOFTLINK
	/root/bin/develop_perl/perl_hash.hash.array.pl

snippet perl_hash.hash_SOFTLINK
	/root/bin/develop_perl/perl_hash.hash.pl

snippet perl_hash_SOFTLINK
	/root/bin/develop_perl/perl_hash.pl

snippet perl_hash_foreach_SOFTLINK
	/root/bin/develop_perl/perl_hash_foreach.pl

snippet perl_hash_from_file_SOFTLINK
	/root/bin/develop_perl/perl_hash_from_file.pl

snippet perl_hash_init_SOFTLINK
	/root/bin/develop_perl/perl_hash_init.pl

snippet perl_inc_goto_SOFTLINK
	/root/bin/develop_perl/perl_inc_goto.pl

snippet perl_op_split_win_path_SOFTLINK
	/root/bin/develop_perl/perl_op_split_win_path.pl

snippet perl_opvar_spliter_undef_SOFTLINK
	/root/bin/develop_perl/perl_opvar_spliter_undef.pl

snippet perl_regex_not_greedy_SOFTLINK
	/root/bin/develop_perl/perl_regex_not_greedy.pl

snippet perl_smtp_all_email_account_SOFTLINK
	/root/bin/develop_perl/perl_smtp_all_email_account.pl

snippet perl_smtp_qzj_all_email_account_SOFTLINK
	/root/bin/develop_perl/perl_smtp_qzj_all_email_account.pl

snippet perl_split_line_SOFTLINK
	/root/bin/develop_perl/perl_split_line.pl

snippet perl_sub_function_argc_SOFTLINK
	/root/bin/develop_perl/perl_sub_function_argc.pl

snippet perl_template_array_SOFTLINK
	/root/bin/develop_perl/perl_template_array.pl

snippet perl_template_array_1_SOFTLINK
	/root/bin/develop_perl/perl_template_array_1.pl

snippet perlvar_SOFTLINK
	/root/bin/develop_perl/perlvar.pl

snippet perlvar_usage_SOFTLINK
	/root/bin/develop_perl/perlvar_usage.pl

snippet permute_permutation_mesh_SOFTLINK
	/root/bin/develop_perl/permute_permutation_mesh.pl

snippet phone_mobile_number_SOFTLINK
	/root/bin/develop_perl/phone_mobile_number.pl

snippet php_cata_name.txt_SOFTLINK
	/root/bin/develop_perl/php_cata_name.txt.pl

snippet picturetile_thumbnail_SOFTLINK
	/root/bin/develop_perl/picturetile_thumbnail.pl

snippet pipe_zcat_mem_leak_SOFTLINK
	/root/bin/develop_perl/pipe_zcat_mem_leak.pl

snippet pkgconfig_usage_SOFTLINK
	/root/bin/develop_perl/pkgconfig_usage.pl

snippet pkgconfig_with_makefile_SOFTLINK
	/root/bin/develop_perl/pkgconfig_with_makefile.pl

snippet pltags_qzj_SOFTLINK
	/root/bin/develop_perl/pltags_qzj.pl

snippet pod_doc_demo_in_progs_SOFTLINK
	/root/bin/develop_perl/pod_doc_demo_in_progs.pl

snippet post_kickstart_codegen_SOFTLINK
	/root/bin/develop_perl/post_kickstart_codegen.pl

snippet power2_64_SOFTLINK
	/root/bin/develop_perl/power2_64.pl

snippet power_2_all_SOFTLINK
	/root/bin/develop_perl/power_2_all.pl

snippet powerword2007_pwgcesx_SOFTLINK
	/root/bin/develop_perl/powerword2007_pwgcesx.pl

snippet pragma_usage_vc_SOFTLINK
	/root/bin/develop_perl/pragma_usage_vc.pl

snippet prepend_file_header_sed_SOFTLINK
	/root/bin/develop_perl/prepend_file_header_sed.pl

snippet print_after_matched_line.sh_SOFTLINK
	/root/bin/develop_perl/print_after_matched_line.sh.pl

snippet print_eof_EOF_SOFTLINK
	/root/bin/develop_perl/print_eof_EOF.pl

snippet print_gd_string_jpg_v2_SOFTLINK
	/root/bin/develop_perl/print_gd_string_jpg_v2.pl

snippet print_include_SOFTLINK
	/root/bin/develop_perl/print_include.pl

snippet print_mac_vendor_SOFTLINK
	/root/bin/develop_perl/print_mac_vendor.pl

snippet process-Detail-0.1_SOFTLINK
	/root/bin/develop_perl/process-Detail-0.1.pl

snippet program_files_get_all_exe_SOFTLINK
	/root/bin/develop_perl/program_files_get_all_exe.pl

snippet program_files_glob_space_bug_SOFTLINK
	/root/bin/develop_perl/program_files_glob_space_bug.pl

snippet prototype_pattern_SOFTLINK
	/root/bin/develop_perl/prototype_pattern.pl

snippet proxy_pattern_SOFTLINK
	/root/bin/develop_perl/proxy_pattern.pl

snippet pssh_usage_SOFTLINK
	/root/bin/develop_perl/pssh_usage.pl

snippet pthread_usage_simple_SOFTLINK
	/root/bin/develop_perl/pthread_usage_simple.pl

snippet put_rmvb_to_every_dir_SOFTLINK
	/root/bin/develop_perl/put_rmvb_to_every_dir.pl

snippet pwd_dir_writable_SOFTLINK
	/root/bin/develop_perl/pwd_dir_writable.pl

snippet put_rmvb_to_every_dir_mv_number_SOFTLINK
	/root/bin/develop_perl/put_rmvb_to_every_dir_mv_number.pl

snippet put_rmvb_to_every_dir_mv_number_34_SOFTLINK
	/root/bin/develop_perl/put_rmvb_to_every_dir_mv_number_34.pl

snippet pxelinux_cfg_default_SOFTLINK
	/root/bin/develop_perl/pxelinux_cfg_default.pl

snippet python_pakcage_f13_SOFTLINK
	/root/bin/develop_perl/python_pakcage_f13.pl

snippet python_template_SOFTLINK
	/root/bin/develop_perl/python_template.pl

snippet qmail_useage.txt_SOFTLINK
	/root/bin/develop_perl/qmail_useage.txt.pl

snippet qmail_useage.txt_0_SOFTLINK
	/root/bin/develop_perl/qmail_useage.txt_0.pl

snippet qmail_useage.txt_33_SOFTLINK
	/root/bin/develop_perl/qmail_useage.txt_33.pl

snippet qmail_yet_another_domainom_20111123_install_SOFTLINK
	/root/bin/develop_perl/qmail_yet_another_domain.com_20111123_install.pl

snippet quan_tangshi_get_title_SOFTLINK
	/root/bin/develop_perl/quan_tangshi_get_title.pl

snippet quickcrypt_1_md5_SOFTLINK
	/root/bin/develop_perl/quickcrypt_1_md5.pl

snippet quotation_line_SOFTLINK
	/root/bin/develop_perl/quotation_line.pl

snippet qw_comment_SOFTLINK
	/root/bin/develop_perl/qw_comment.pl

snippet qzj_svn_check_SOFTLINK
	/root/bin/develop_perl/qzj_svn_check.pl

snippet rand_address_SOFTLINK
	/root/bin/develop_perl/rand_address.pl

snippet rand_function_cpp_src_SOFTLINK
	/root/bin/develop_perl/rand_function_cpp_src.pl

snippet rand_guid_SOFTLINK
	/root/bin/develop_perl/rand_guid.pl

snippet rand_matrix_2_c_SOFTLINK
	/root/bin/develop_perl/rand_matrix_2_c.pl

snippet rand_regex_pattern_SOFTLINK
	/root/bin/develop_perl/rand_regex_pattern.pl

snippet rand_word_SOFTLINK
	/root/bin/develop_perl/rand_word.pl

snippet rar_2_targz_SOFTLINK
	/root/bin/develop_perl/rar_2_targz.pl

snippet rar_2_targz_1_SOFTLINK
	/root/bin/develop_perl/rar_2_targz_1.pl

snippet reactos_build_evn_setup_SOFTLINK
	/root/bin/develop_perl/reactos_build_evn_setup.pl

snippet read_bin_file_hex_mbr_SOFTLINK
	/root/bin/develop_perl/read_bin_file_hex_mbr.pl

snippet read_file_content_get_string_SOFTLINK
	/root/bin/develop_perl/read_file_content_get_string.pl

snippet readme_append_SOFTLINK
	/root/bin/develop_perl/readme_append.pl

snippet rebuild_ini_from_cur_dir_SOFTLINK
	/root/bin/develop_perl/rebuild_ini_from_cur_dir.pl

snippet reduce_cur_dir_SOFTLINK
	/root/bin/develop_perl/reduce_cur_dir.pl

snippet reduce_cur_dir_files_SOFTLINK
	/root/bin/develop_perl/reduce_cur_dir_files.pl

snippet ref_CODE_in_array_init_function_ptr_SOFTLINK
	/root/bin/develop_perl/ref_CODE_in_array_init_function_ptr.pl

snippet ref_array_hash_SOFTLINK
	/root/bin/develop_perl/ref_array_hash.pl

snippet regex_invert-match_grev-p_SOFTLINK
	/root/bin/develop_perl/regex_invert-match_grev-p.pl

snippet regex_word_match_sed_SOFTLINK
	/root/bin/develop_perl/regex_word_match_sed.pl

snippet register_arm_SOFTLINK
	/root/bin/develop_perl/register_arm.pl

snippet register_intel_SOFTLINK
	/root/bin/develop_perl/register_intel.pl

snippet register_sparc_SOFTLINK
	/root/bin/develop_perl/register_sparc.pl

snippet reminder_ini_gen_SOFTLINK
	/root/bin/develop_perl/reminder_ini_gen.pl

snippet remove_columns_colrm_SOFTLINK
	/root/bin/develop_perl/remove_columns_colrm.pl

snippet rename_mp3info_id3_SOFTLINK
	/root/bin/develop_perl/rename_mp3info_id3.pl

snippet rename_with_weekday_SOFTLINK
	/root/bin/develop_perl/rename_with_weekday.pl

snippet repair_one_targz_rootdir_SOFTLINK
	/root/bin/develop_perl/repair_one_targz_rootdir.pl

snippet replace_space_chinese_SOFTLINK
	/root/bin/develop_perl/replace_space_chinese.pl

snippet repo_local_disk_yum_SOFTLINK
	/root/bin/develop_perl/repo_local_disk_yum.pl

snippet reshem_vs_qiqi_eden_SOFTLINK
	/root/bin/develop_perl/reshem_vs_qiqi_eden.pl

snippet return_hash_SOFTLINK
	/root/bin/develop_perl/return_hash.pl

snippet return_hash_array_multi_SOFTLINK
	/root/bin/develop_perl/return_hash_array_multi.pl

snippet return_shell_pipe_perlvar_system_SOFTLINK
	/root/bin/develop_perl/return_shell_pipe_perlvar_system.pl

snippet rich_check_in_svn_srv_SOFTLINK
	/root/bin/develop_perl/rich_check_in_svn_srv.pl

snippet rich_computer_all_SOFTLINK
	/root/bin/develop_perl/rich_computer_all.pl

snippet rich_ip_list_SOFTLINK
	/root/bin/develop_perl/rich_ip_list.pl

snippet rich_projects_SOFTLINK
	/root/bin/develop_perl/rich_projects.pl

snippet rich_svn_last_version_SOFTLINK
	/root/bin/develop_perl/rich_svn_last_version.pl

snippet rmrf_with_bash_space_filelist_SOFTLINK
	/root/bin/develop_perl/rmrf_with_bash_space_filelist.pl

snippet rot180_SOFTLINK
	/root/bin/develop_perl/rot180.pl

snippet rot290_SOFTLINK
	/root/bin/develop_perl/rot290.pl

snippet rot90_SOFTLINK
	/root/bin/develop_perl/rot90.pl

snippet route_usage_SOFTLINK
	/root/bin/develop_perl/route_usage.pl

snippet rsync_usage_SOFTLINK
	/root/bin/develop_perl/rsync_usage.pl

snippet rsyncd_root_SOFTLINK
	/root/bin/develop_perl/rsyncd_root.pl

snippet rtiosrv_0996_readelf_S_map_SOFTLINK
	/root/bin/develop_perl/rtiosrv_0996_readelf_S_map.pl

snippet ruby_include_bench_SOFTLINK
	/root/bin/develop_perl/ruby_include_bench.pl

snippet save_array_to_file_SOFTLINK
	/root/bin/develop_perl/save_array_to_file.pl

snippet screen_usage_SOFTLINK
	/root/bin/develop_perl/screen_usage.pl

snippet seconds_usage_SOFTLINK
	/root/bin/develop_perl/seconds_usage.pl

snippet seconds_usage_0_SOFTLINK
	/root/bin/develop_perl/seconds_usage_0.pl

snippet sed2perl_usage_SOFTLINK
	/root/bin/develop_perl/sed2perl_usage.pl

snippet sed2perl_usage_90_SOFTLINK
	/root/bin/develop_perl/sed2perl_usage_90.pl

snippet sed_array_html_href_website_tools_SOFTLINK
	/root/bin/develop_perl/sed_array_html_href_website_tools.pl

snippet sed_brackets_bash.sh_SOFTLINK
	/root/bin/develop_perl/sed_brackets_bash.sh.pl

snippet sed_delete_match_lines.sh_SOFTLINK
	/root/bin/develop_perl/sed_delete_match_lines.sh.pl

snippet sed_file_append_file.sh_SOFTLINK
	/root/bin/develop_perl/sed_file_append_file.sh.pl

snippet sed_file_append_one_line.sh_SOFTLINK
	/root/bin/develop_perl/sed_file_append_one_line.sh.pl

snippet sed_gentoo_description_join.txt_SOFTLINK
	/root/bin/develop_perl/sed_gentoo_description_join.txt.pl

snippet sed_html_space_in_file_SOFTLINK
	/root/bin/develop_perl/sed_html_space_in_file.pl

snippet sed_ini.txt_SOFTLINK
	/root/bin/develop_perl/sed_ini.txt.pl

snippet sed_insert_after_n_line_SOFTLINK
	/root/bin/develop_perl/sed_insert_after_n_line.pl

snippet sed_insert_line_after_nth_SOFTLINK
	/root/bin/develop_perl/sed_insert_line_after_nth.pl

snippet sed_join_two_line.txt_SOFTLINK
	/root/bin/develop_perl/sed_join_two_line.txt.pl

snippet sed_nl_nospace_SOFTLINK
	/root/bin/develop_perl/sed_nl_nospace.pl

snippet sed_nl_nospace_0_SOFTLINK
	/root/bin/develop_perl/sed_nl_nospace_0.pl

snippet sed_one_line_SOFTLINK
	/root/bin/develop_perl/sed_one_line.pl

snippet sed_part_in_two_line.sh_SOFTLINK
	/root/bin/develop_perl/sed_part_in_two_line.sh.pl

snippet sed_pattern_add_one_line.txt_SOFTLINK
	/root/bin/develop_perl/sed_pattern_add_one_line.txt.pl

snippet sed_pattern_add_two_lines.txt_SOFTLINK
	/root/bin/develop_perl/sed_pattern_add_two_lines.txt.pl

snippet sed_pattern_insert_one_file.txt_SOFTLINK
	/root/bin/develop_perl/sed_pattern_insert_one_file.txt.pl

snippet sed_perl_if_def_code_block_else_append_mdf_src_code_SOFTLINK
	/root/bin/develop_perl/sed_perl_if_def_code_block_else_append_mdf_src_code.pl

snippet sed_replace_SOFTLINK
	/root/bin/develop_perl/sed_replace.pl

snippet sed_rich_to_hangyue_SOFTLINK
	/root/bin/develop_perl/sed_rich_to_hangyue.pl

snippet sed_separator_line_windows.txt_SOFTLINK
	/root/bin/develop_perl/sed_separator_line_windows.txt.pl

snippet seek_SEEK_type.txt_SOFTLINK
	/root/bin/develop_perl/seek_SEEK_type.txt.pl

snippet seek_SEEK_type.txt_0_SOFTLINK
	/root/bin/develop_perl/seek_SEEK_type.txt_0.pl

snippet select_file_SOFTLINK
	/root/bin/develop_perl/select_file.pl

snippet seq_c_array_SOFTLINK
	/root/bin/develop_perl/seq_c_array.pl

snippet seq_c_lang_static_array_SOFTLINK
	/root/bin/develop_perl/seq_c_lang_static_array.pl

snippet sf_group_dump_SOFTLINK
	/root/bin/develop_perl/sf_group_dump.pl

snippet sf_mirror_search_desc_SOFTLINK
	/root/bin/develop_perl/sf_mirror_search_desc.pl

snippet sgf2misc_dump_SOFTLINK
	/root/bin/develop_perl/sgf2misc_dump.pl

snippet sgf_branch_a_ab_abc_rename_SOFTLINK
	/root/bin/develop_perl/sgf_branch_a_ab_abc_rename.pl

snippet sgf_read_SOFTLINK
	/root/bin/develop_perl/sgf_read.pl

snippet share_smb_2_linux_SOFTLINK
	/root/bin/develop_perl/share_smb_2_linux.pl

snippet shell_quote_SOFTLINK
	/root/bin/develop_perl/shell_quote.pl

snippet shellcode_to_binfile_SOFTLINK
	/root/bin/develop_perl/shellcode_to_binfile.pl

snippet shortcut_ddk_parse_SOFTLINK
	/root/bin/develop_perl/shortcut_ddk_parse.pl

snippet show_eth_status_SOFTLINK
	/root/bin/develop_perl/show_eth_status.pl

snippet shuffle_file_inode_SOFTLINK
	/root/bin/develop_perl/shuffle_file_inode.pl

snippet shuffle_file_inode_17_SOFTLINK
	/root/bin/develop_perl/shuffle_file_inode_17.pl

snippet shuffle_file_inode_2_SOFTLINK
	/root/bin/develop_perl/shuffle_file_inode_2.pl

snippet signal_INT_SOFTLINK
	/root/bin/develop_perl/signal_INT.pl

snippet signal_lst_SOFTLINK
	/root/bin/develop_perl/signal_lst.pl

snippet sox_usage_SOFTLINK
	/root/bin/develop_perl/sox_usage.pl

snippet singleton_pattern_SOFTLINK
	/root/bin/develop_perl/singleton_pattern.pl

snippet sino_pet_ftp_recurise_get_SOFTLINK
	/root/bin/develop_perl/sino_pet_ftp_recurise_get.pl

snippet sizeof_64bit_SOFTLINK
	/root/bin/develop_perl/sizeof_64bit.pl

snippet smarty_template_tpl.txt_SOFTLINK
	/root/bin/develop_perl/smarty_template_tpl.txt.pl

snippet snort_usage_SOFTLINK
	/root/bin/develop_perl/snort_usage.pl

snippet snort_usage_49_SOFTLINK
	/root/bin/develop_perl/snort_usage_49.pl

snippet socket_help_SOFTLINK
	/root/bin/develop_perl/socket_help.pl

snippet socket_srv_seq_order_SOFTLINK
	/root/bin/develop_perl/socket_srv_seq_order.pl

snippet socket_tcp_decodecgi_SOFTLINK
	/root/bin/develop_perl/socket_tcp_decodecgi.pl

snippet sort_file_size_SOFTLINK
	/root/bin/develop_perl/sort_file_size.pl

snippet sort_length_string_SOFTLINK
	/root/bin/develop_perl/sort_length_string.pl

snippet sort_with_length_string_lsort_SOFTLINK
	/root/bin/develop_perl/sort_with_length_string_lsort.pl

snippet sox_ogg_mp3_combine_SOFTLINK
	/root/bin/develop_perl/sox_ogg_mp3_combine.pl

snippet sox_sample_rate_SOFTLINK
	/root/bin/develop_perl/sox_sample_rate.pl

snippet space_table_file_type.sh_SOFTLINK
	/root/bin/develop_perl/space_table_file_type.sh.pl

snippet specialization_template_SOFTLINK
	/root/bin/develop_perl/specialization_template.pl

snippet split_file_block_to_single_SOFTLINK
	/root/bin/develop_perl/split_file_block_to_single.pl

snippet split_from_du_block_one_byte_SOFTLINK
	/root/bin/develop_perl/split_from_du_block_one_byte.pl

snippet split_match_suffix_SOFTLINK
	/root/bin/develop_perl/split_match_suffix.pl

snippet split_to_dd_SOFTLINK
	/root/bin/develop_perl/split_to_dd.pl

snippet split_to_dd_0_SOFTLINK
	/root/bin/develop_perl/split_to_dd_0.pl

snippet split_usage_SOFTLINK
	/root/bin/develop_perl/split_usage.pl

snippet sprintf_SOFTLINK
	/root/bin/develop_perl/sprintf.pl

snippet sprintf_hex_SOFTLINK
	/root/bin/develop_perl/sprintf_hex.pl

snippet sprintf_string_SOFTLINK
	/root/bin/develop_perl/sprintf_string.pl

snippet sqlite3_create_database_table_SOFTLINK
	/root/bin/develop_perl/sqlite3_create_database_table.pl

snippet sqlite_usage_SOFTLINK
	/root/bin/develop_perl/sqlite_usage.pl

snippet sqlite_yum_dump_SOFTLINK
	/root/bin/develop_perl/sqlite_yum_dump.pl

snippet ssh_SOFTLINK
	/root/bin/develop_perl/ssh.pl

snippet ssh2-net_exec_read_SOFTLINK
	/root/bin/develop_perl/ssh2-net_exec_read.pl

snippet start_all_dlxp_diskplat_SOFTLINK
	/root/bin/develop_perl/start_all_dlxp_diskplat.pl

snippet stat_block_device_SOFTLINK
	/root/bin/develop_perl/stat_block_device.pl

snippet stat_is_setuid_SOFTLINK
	/root/bin/develop_perl/stat_is_setuid.pl

snippet state_pattern_SOFTLINK
	/root/bin/develop_perl/state_pattern.pl

snippet statsvn_all_project_SOFTLINK
	/root/bin/develop_perl/statsvn_all_project.pl

snippet stl_algorithm_SOFTLINK
	/root/bin/develop_perl/stl_algorithm.pl

snippet storable_serializing_SOFTLINK
	/root/bin/develop_perl/storable_serializing.pl

snippet strace_prog_with_all_cmd_SOFTLINK
	/root/bin/develop_perl/strace_prog_with_all_cmd.pl

snippet strace_usage_SOFTLINK
	/root/bin/develop_perl/strace_usage.pl

snippet strategy_pattern_SOFTLINK
	/root/bin/develop_perl/strategy_pattern.pl

snippet strftime_getToday_SOFTLINK
	/root/bin/develop_perl/strftime_getToday.pl

snippet string_EOF_assign_SOFTLINK
	/root/bin/develop_perl/string_EOF_assign.pl

snippet string_a_ab_abc_dir_SOFTLINK
	/root/bin/develop_perl/string_a_ab_abc_dir.pl

snippet string_a_ab_abc_file_SOFTLINK
	/root/bin/develop_perl/string_a_ab_abc_file.pl

snippet string_array_SOFTLINK
	/root/bin/develop_perl/string_array.pl

snippet string_equal_SOFTLINK
	/root/bin/develop_perl/string_equal.pl

snippet string_member_fun_SOFTLINK
	/root/bin/develop_perl/string_member_fun.pl

snippet strlen_SOFTLINK
	/root/bin/develop_perl/strlen.pl

snippet strlen_55_SOFTLINK
	/root/bin/develop_perl/strlen_55.pl

snippet strptime_SOFTLINK
	/root/bin/develop_perl/strptime.pl

snippet substr_each_char_iterator_SOFTLINK
	/root/bin/develop_perl/substr_each_char_iterator.pl

snippet substr_testunit_SOFTLINK
	/root/bin/develop_perl/substr_testunit.pl

snippet subversion_install_rpm_rhel5_as5_SOFTLINK
	/root/bin/develop_perl/subversion_install_rpm_rhel5_as5.pl

snippet suffix_match_array_assign_testunit_SOFTLINK
	/root/bin/develop_perl/suffix_match_array_assign_testunit.pl

snippet svn_access_control_gen_SOFTLINK
	/root/bin/develop_perl/svn_access_control_gen.pl

snippet svn_access_control_gen_126_SOFTLINK
	/root/bin/develop_perl/svn_access_control_gen_126.pl

snippet svn_checkout_with_http_SOFTLINK
	/root/bin/develop_perl/svn_checkout_with_http.pl

snippet svn_checkout_with_http_104_SOFTLINK
	/root/bin/develop_perl/svn_checkout_with_http_104.pl

snippet svn_checkout_with_http_90_SOFTLINK
	/root/bin/develop_perl/svn_checkout_with_http_90.pl

snippet svn_comment_SOFTLINK
	/root/bin/develop_perl/svn_comment.pl

snippet svn_comment_90_SOFTLINK
	/root/bin/develop_perl/svn_comment_90.pl

snippet svn_import_local_to_server_SOFTLINK
	/root/bin/develop_perl/svn_import_local_to_server.pl

snippet svn_local_checkout_SOFTLINK
	/root/bin/develop_perl/svn_local_checkout.pl

snippet svn_log_one_file_SOFTLINK
	/root/bin/develop_perl/svn_log_one_file.pl

snippet svn_path_list_SOFTLINK
	/root/bin/develop_perl/svn_path_list.pl

snippet svn_server_usage_SOFTLINK
	/root/bin/develop_perl/svn_server_usage.pl

snippet svn_split_commit_SOFTLINK
	/root/bin/develop_perl/svn_split_commit.pl

snippet svn_usage_SOFTLINK
	/root/bin/develop_perl/svn_usage.pl

snippet svnserve_usage_SOFTLINK
	/root/bin/develop_perl/svnserve_usage.pl

snippet svnsync_usage_SOFTLINK
	/root/bin/develop_perl/svnsync_usage.pl

snippet symbols_english_char_ascii_special.txt_SOFTLINK
	/root/bin/develop_perl/symbols_english_char_ascii_special.txt.pl

snippet sync_with_two_dir_SOFTLINK
	/root/bin/develop_perl/sync_with_two_dir.pl

snippet system_exec_must_success_or_die_SOFTLINK
	/root/bin/develop_perl/system_exec_must_success_or_die.pl

snippet system_init_SOFTLINK
	/root/bin/develop_perl/system_init.pl

snippet tcp_client_socket_line_SOFTLINK
	/root/bin/develop_perl/tcp_client_socket_line.pl

snippet tcp_send_buffer_rmem_SOFTLINK
	/root/bin/develop_perl/tcp_send_buffer_rmem.pl

snippet tcp_server_socket_line_SOFTLINK
	/root/bin/develop_perl/tcp_server_socket_line.pl

snippet tcpdump_diff_math_time_SOFTLINK
	/root/bin/develop_perl/tcpdump_diff_math_time.pl

snippet tcpdump_usage_SOFTLINK
	/root/bin/develop_perl/tcpdump_usage.pl

snippet tcpdump_usage_11_SOFTLINK
	/root/bin/develop_perl/tcpdump_usage_11.pl

snippet tcpdump_usage_2_SOFTLINK
	/root/bin/develop_perl/tcpdump_usage_2.pl

snippet tcpdump_usage_33_SOFTLINK
	/root/bin/develop_perl/tcpdump_usage_33.pl

snippet tcpdump_usage_9_SOFTLINK
	/root/bin/develop_perl/tcpdump_usage_9.pl

snippet tdx_init_import_SOFTLINK
	/root/bin/develop_perl/tdx_init_import.pl

snippet telnet_SOFTLINK
	/root/bin/develop_perl/telnet.pl

snippet tempdir_find_SOFTLINK
	/root/bin/develop_perl/tempdir_find.pl

snippet template_method_pattern_SOFTLINK
	/root/bin/develop_perl/template_method_pattern.pl

snippet tengda_net_card_wireless.txt_SOFTLINK
	/root/bin/develop_perl/tengda_net_card_wireless.txt.pl

snippet term_ansicolor_SOFTLINK
	/root/bin/develop_perl/term_ansicolor.pl

snippet testunit_perl_usage_SOFTLINK
	/root/bin/develop_perl/testunit_perl_usage.pl

snippet testunit_python_usage_SOFTLINK
	/root/bin/develop_perl/testunit_python_usage.pl

snippet tie_hash_SDBM_File_SOFTLINK
	/root/bin/develop_perl/tie_hash_SDBM_File.pl

snippet tie_txt_file_SOFTLINK
	/root/bin/develop_perl/tie_txt_file.pl

snippet trace_my_SOFTLINK
	/root/bin/develop_perl/trace_my.pl

snippet trace_tools_SOFTLINK
	/root/bin/develop_perl/trace_tools.pl

snippet trans_svn_path_SOFTLINK
	/root/bin/develop_perl/trans_svn_path.pl

snippet translate_file_list_zh2en_SOFTLINK
	/root/bin/develop_perl/translate_file_list_zh2en.pl

snippet transoft_svn_path_SOFTLINK
	/root/bin/develop_perl/transoft_svn_path.pl

snippet trim_SOFTLINK
	/root/bin/develop_perl/trim.pl

snippet txt_file_2_cpp_string_SOFTLINK
	/root/bin/develop_perl/txt_file_2_cpp_string.pl

snippet txt_file_2_perl_script_SOFTLINK
	/root/bin/develop_perl/txt_file_2_perl_script.pl

snippet txt_file_2_perl_script_8_SOFTLINK
	/root/bin/develop_perl/txt_file_2_perl_script_8.pl

snippet txt_file_2_python_script_SOFTLINK
	/root/bin/develop_perl/txt_file_2_python_script.pl

snippet txt_image_utf8_truetype_ttf_gb2312_chinese_SOFTLINK
	/root/bin/develop_perl/txt_image_utf8_truetype_ttf_gb2312_chinese.pl

snippet txt_table_row_SOFTLINK
	/root/bin/develop_perl/txt_table_row.pl

snippet type_decision_cpp_SOFTLINK
	/root/bin/develop_perl/type_decision_cpp.pl

snippet type_decision_octave_SOFTLINK
	/root/bin/develop_perl/type_decision_octave.pl

snippet type_decision_perl_SOFTLINK
	/root/bin/develop_perl/type_decision_perl.pl

snippet type_decision_php_SOFTLINK
	/root/bin/develop_perl/type_decision_php.pl

snippet typelist.txt_SOFTLINK
	/root/bin/develop_perl/typelist.txt.pl

snippet typeperf_object_19_SOFTLINK
	/root/bin/develop_perl/typeperf_object_19.pl

snippet udhcpd.leases_bin_file_generator_SOFTLINK
	/root/bin/develop_perl/udhcpd.leases_bin_file_generator.pl

snippet udp_client_SOFTLINK
	/root/bin/develop_perl/udp_client.pl

snippet udp_server_SOFTLINK
	/root/bin/develop_perl/udp_server.pl

snippet uniq_SOFTLINK
	/root/bin/develop_perl/uniq.pl

snippet union_xor_not_or_and_operator_SOFTLINK
	/root/bin/develop_perl/union_xor_not_or_and_operator.pl

snippet unistd_4_win_SOFTLINK
	/root/bin/develop_perl/unistd_4_win.pl

snippet unless_SOFTLINK
	/root/bin/develop_perl/unless.pl

snippet unmangled_Compact_mangle_SOFTLINK
	/root/bin/develop_perl/unmangled_Compact_mangle.pl

snippet unrar_usage_SOFTLINK
	/root/bin/develop_perl/unrar_usage.pl

snippet upper_case_filename_SOFTLINK
	/root/bin/develop_perl/upper_case_filename.pl

snippet url_check_link_status_SOFTLINK
	/root/bin/develop_perl/url_check_link_status.pl

snippet urlview_regex_match_SOFTLINK
	/root/bin/develop_perl/urlview_regex_match.pl

snippet utime_mtime_random_change_touch_SOFTLINK
	/root/bin/develop_perl/utime_mtime_random_change_touch.pl

snippet utime_to_cur_month_SOFTLINK
	/root/bin/develop_perl/utime_to_cur_month.pl

snippet var_scope_perl_SOFTLINK
	/root/bin/develop_perl/var_scope_perl.pl

snippet verify-file_crc32_md5sum_SOFTLINK
	/root/bin/develop_perl/verify-file_crc32_md5sum.pl

snippet visitor_pattern_SOFTLINK
	/root/bin/develop_perl/visitor_pattern.pl

snippet vld_sys_VSS_tempfile_deleter_SOFTLINK
	/root/bin/develop_perl/vld_sys_VSS_tempfile_deleter.pl

snippet vmware_bench_install_SOFTLINK
	/root/bin/develop_perl/vmware_bench_install.pl

snippet vmware_esx_start_SOFTLINK
	/root/bin/develop_perl/vmware_esx_start.pl

snippet vmware_scsi_disk_dump_vmx_SOFTLINK
	/root/bin/develop_perl/vmware_scsi_disk_dump_vmx.pl

snippet vncviewer_connection_sniffer_SOFTLINK
	/root/bin/develop_perl/vncviewer_connection_sniffer.pl

snippet weekly_report_template_SOFTLINK
	/root/bin/develop_perl/weekly_report_template.pl

snippet wiki_usage_txt_file_gb2312_auto_change_to_utf8_SOFTLINK
	/root/bin/develop_perl/wiki_usage_txt_file_gb2312_auto_change_to_utf8.pl

snippet wiki_usage_txt_file_utf8_auto_change_to_gb2312_SOFTLINK
	/root/bin/develop_perl/wiki_usage_txt_file_utf8_auto_change_to_gb2312.pl

snippet win32_daemon_SOFTLINK
	/root/bin/develop_perl/win32_daemon.pl

snippet win32_registry_file_reg4_SOFTLINK
	/root/bin/develop_perl/win32_registry_file_reg4.pl

snippet win32_registry_hivex_SOFTLINK
	/root/bin/develop_perl/win32_registry_hivex.pl

snippet winaoe_usage_SOFTLINK
	/root/bin/develop_perl/winaoe_usage.pl

snippet windbg_comm_cmd_SOFTLINK
	/root/bin/develop_perl/windbg_comm_cmd.pl

snippet windbg_gdb_cmd_compare_SOFTLINK
	/root/bin/develop_perl/windbg_gdb_cmd_compare.pl

snippet windbg_meta_cmds_SOFTLINK
	/root/bin/develop_perl/windbg_meta_cmds.pl

snippet windows_cmd.list_SOFTLINK
	/root/bin/develop_perl/windows_cmd.list.pl

snippet windows_gui_cmd_SOFTLINK
	/root/bin/develop_perl/windows_gui_cmd.pl

snippet windows_path_space_cygwin_program_files_SOFTLINK
	/root/bin/develop_perl/windows_path_space_cygwin_program_files.pl

snippet windows_xp_services_SOFTLINK
	/root/bin/develop_perl/windows_xp_services.pl

snippet windres_cmd_rc_SOFTLINK
	/root/bin/develop_perl/windres_cmd_rc.pl

snippet write_bin_file_hex_mbr_SOFTLINK
	/root/bin/develop_perl/write_bin_file_hex_mbr.pl

snippet wtmp_dump_SOFTLINK
	/root/bin/develop_perl/wtmp_dump.pl

snippet wxApp_template_wxwidgets_SOFTLINK
	/root/bin/develop_perl/wxApp_template_wxwidgets.pl

snippet wxString_usage_SOFTLINK
	/root/bin/develop_perl/wxString_usage.pl

snippet wxlib_SOFTLINK
	/root/bin/develop_perl/wxlib.pl

snippet wxlib_0_SOFTLINK
	/root/bin/develop_perl/wxlib_0.pl

snippet wxlib_lst_SOFTLINK
	/root/bin/develop_perl/wxlib_lst.pl

snippet wxwidget_install_SOFTLINK
	/root/bin/develop_perl/wxwidget_install.pl

snippet wxwidgets_template_SOFTLINK
	/root/bin/develop_perl/wxwidgets_template.pl

snippet wxwidgets_windows.bkl_SOFTLINK
	/root/bin/develop_perl/wxwidgets_windows.bkl.pl

snippet xingbo_algo_sed_SOFTLINK
	/root/bin/develop_perl/xingbo_algo_sed.pl

snippet xingbo_change_to_multigo_SOFTLINK
	/root/bin/develop_perl/xingbo_change_to_multigo.pl

snippet xingbo_get_eden_wins_SOFTLINK
	/root/bin/develop_perl/xingbo_get_eden_wins.pl

snippet xingbo_go_mirror_SOFTLINK
	/root/bin/develop_perl/xingbo_go_mirror.pl

snippet xml_xpath_SOFTLINK
	/root/bin/develop_perl/xml_xpath.pl

snippet xpath_get_element_SOFTLINK
	/root/bin/develop_perl/xpath_get_element.pl

snippet xpath_get_jianpu_alt_img_SOFTLINK
	/root/bin/develop_perl/xpath_get_jianpu_alt_img.pl

snippet xpath_get_onegreen_cata_SOFTLINK
	/root/bin/develop_perl/xpath_get_onegreen_cata.pl

snippet xpath_get_onegreen_desc_SOFTLINK
	/root/bin/develop_perl/xpath_get_onegreen_desc.pl

snippet xpath_get_onegreen_keyword_SOFTLINK
	/root/bin/develop_perl/xpath_get_onegreen_keyword.pl

snippet yum_2013_01_22_1_log_SOFTLINK
	/root/bin/develop_perl/yum_2013_01_22_1_log.pl

snippet yum_2013_01_22_2_log_SOFTLINK
	/root/bin/develop_perl/yum_2013_01_22_2_log.pl

snippet yum_2013_01_29_1_log_SOFTLINK
	/root/bin/develop_perl/yum_2013_01_29_1_log.pl

snippet yum_2013_02_01_1_log_SOFTLINK
	/root/bin/develop_perl/yum_2013_02_01_1_log.pl

snippet yum_2013_02_01_2_log_SOFTLINK
	/root/bin/develop_perl/yum_2013_02_01_2_log.pl

snippet yum_2013_03_08_1_log_SOFTLINK
	/root/bin/develop_perl/yum_2013_03_08_1_log.pl

snippet yum_2013_04_09_1_log_SOFTLINK
	/root/bin/develop_perl/yum_2013_04_09_1_log.pl

snippet yum_2013_04_28_1_log_SOFTLINK
	/root/bin/develop_perl/yum_2013_04_28_1_log.pl

snippet yum_2013_09_24_1_log_SOFTLINK
	/root/bin/develop_perl/yum_2013_09_24_1_log.pl

snippet yum_2014_01_02_1_log_SOFTLINK
	/root/bin/develop_perl/yum_2014_01_02_1_log.pl

snippet yum_package_select_sqlite_dump_SOFTLINK
	/root/bin/develop_perl/yum_package_select_sqlite_dump.pl

snippet yum_rpm_qa_f16_SOFTLINK
	/root/bin/develop_perl/yum_rpm_qa_f16.pl

snippet zip_2_targz_SOFTLINK
	/root/bin/develop_perl/zip_2_targz.pl

snippet getopt3_tailong_SOFTLINK
	/root/bin/develop_perl/getopt3_tailong.pl

snippet dict_hash_2_json_SOFTLINK
	/root/bin/develop_perl/dict_hash_2_json.pl

snippet fun_ptr_SOFTLINK
	/root/bin/develop_perl/fun_ptr.pl

snippet City_SOFTLINK
	/root/bin/develop_perl/class_object/City.pm

snippet Player_SOFTLINK
	/root/bin/develop_perl/class_object/Player.pm

snippet Team_SOFTLINK
	/root/bin/develop_perl/class_object/Team.pm

snippet test_object_SOFTLINK
	/root/bin/develop_perl/class_object/test_object.pl

snippet get_desc_webmin_keyword_to_txt_SOFTLINK
	/root/bin/develop_perl/keyword_tools/get_desc_webmin_keyword_to_txt.pl

snippet grep_block_section_SOFTLINK
	/root/bin/develop_perl/keyword_tools/grep_block_section.pl

snippet line_to_txt_file_keyword_index_pre_cache_SOFTLINK
	/root/bin/develop_perl/keyword_tools/line_to_txt_file_keyword_index_pre_cache.pl

snippet sed_cpp_reverse_demangle_keyword_SOFTLINK
	/root/bin/develop_perl/keyword_tools/sed_cpp_reverse_demangle_keyword.pl

snippet sed_delete_space_for_bash_SOFTLINK
	/root/bin/develop_perl/keyword_tools/sed_delete_space_for_bash.pl

snippet sed_english_symbols_chars_replace_ascii_SOFTLINK
	/root/bin/develop_perl/keyword_tools/sed_english_symbols_chars_replace_ascii.pl

snippet sed_html_space_in_file_SOFTLINK
	/root/bin/develop_perl/keyword_tools/sed_html_space_in_file.pl

snippet split_file_block_to_single_file_SOFTLINK
	/root/bin/develop_perl/keyword_tools/split_file_block_to_single_file.pl

snippet split_file_line_to_txt_file_keyword_index_pre_cache_SOFTLINK
	/root/bin/develop_perl/keyword_tools/split_file_line_to_txt_file_keyword_index_pre_cache.pl

snippet 2_yum_package_select_SOFTLINK
	/root/bin/develop_perl/koji_mirror/2_yum_package_select.pl

snippet nm_2_idc_SOFTLINK
	/root/bin/develop_perl/koji_mirror/nm_2_idc.pl

snippet yum_search_file_size_SOFTLINK
	/root/bin/develop_perl/koji_mirror/old/yum_search_file_size.pl

snippet gen_sed_scripts_SOFTLINK
	/root/bin/develop_perl/oracle_install/gen_sed_scripts.pl

snippet dbf_header_unpack_SOFTLINK
	/root/bin/develop_perl/pack_unpack_bin_file_type/dbf_header_unpack.pl

snippet dump_taskdat_unpack_SOFTLINK
	/root/bin/develop_perl/pack_unpack_bin_file_type/dump_taskdat_unpack.pl

snippet ipaddr_netmask_ioctl_SOFTLINK
	/root/bin/develop_perl/pack_unpack_bin_file_type/ipaddr_netmask_ioctl.pl

snippet taskdat_pack_unpack_SOFTLINK
	/root/bin/develop_perl/pack_unpack_bin_file_type/taskdat_pack_unpack.pl

snippet udhcpd_lease_parse_mdf_SOFTLINK
	/root/bin/develop_perl/pack_unpack_bin_file_type/udhcpd_lease_parse_mdf.pl

snippet birthday_SOFTLINK
	/root/bin/develop_perl/passwd_dict/birthday.pl

snippet name_chinese_SOFTLINK
	/root/bin/develop_perl/passwd_dict/name_chinese.pl

snippet start_samba_version_SOFTLINK
	/root/bin/develop_perl/samba_all_version/start_samba_version.pl

snippet bigdata_client_SOFTLINK
	/root/bin/develop_perl/tailong_cmd_srv/bigdata_client.pl

snippet elizad_tailong_SOFTLINK
	/root/bin/develop_perl/tailong_cmd_srv/elizad_tailong.pl

snippet tailong_client_SOFTLINK
	/root/bin/develop_perl/tailong_cmd_srv/tailong_client.pl

snippet telnet_client_SOFTLINK
	/root/bin/develop_perl/tailong_cmd_srv/telnet_client.pl

snippet word_segment_SOFTLINK
	/root/bin/develop_perl/word_segment/word_segment.pl
