
snippet class_arrow
	reference: arrow_class_SOFTLINK 

snippet arrow_class
	reference: arrow_class_SOFTLINK 

snippet back_sjshq
	reference: back_sjshq_SOFTLINK 

snippet sjshq_back
	reference: back_sjshq_SOFTLINK 

snippet colrm
	reference: colrm_SOFTLINK 

snippet windows_command
	reference: command_windows_SOFTLINK 

snippet command_windows
	reference: command_windows_SOFTLINK 

snippet table_colors
	reference: colors_table_SOFTLINK 

snippet colors_table
	reference: colors_table_SOFTLINK 

snippet specialization_template
	reference: specialization_template_SOFTLINK 

snippet template_specialization
	reference: specialization_template_SOFTLINK 

snippet uniq
	reference: uniq_SOFTLINK 

snippet usage_unrar
	reference: unrar_usage_SOFTLINK 

snippet unrar_usage
	reference: unrar_usage_SOFTLINK 

snippet kernel_watch
	reference: kernel-watch_SOFTLINK 

snippet watch_kernel
	reference: kernel-watch_SOFTLINK 

snippet hash.hash.hash
	reference: hash.hash.hash_SOFTLINK 

snippet perlvar
	reference: perlvar_SOFTLINK 

snippet pwgcesx_powerword2007
	reference: powerword2007_pwgcesx_SOFTLINK 

snippet powerword2007_pwgcesx
	reference: powerword2007_pwgcesx_SOFTLINK 

snippet linkextractor
	reference: linkextractor_SOFTLINK 

snippet usage_screen
	reference: screen_usage_SOFTLINK 

snippet screen_usage
	reference: screen_usage_SOFTLINK 

snippet comment_qw
	reference: qw_comment_SOFTLINK 

snippet qw_comment
	reference: qw_comment_SOFTLINK 

snippet lst_wxlib
	reference: wxlib_lst_SOFTLINK 

snippet wxlib_lst
	reference: wxlib_lst_SOFTLINK 

snippet array.array.array.array
	reference: array.array.array.array_SOFTLINK 

snippet diff_array
	reference: array_diff_SOFTLINK 

snippet array_diff
	reference: array_diff_SOFTLINK 

snippet usage_wxString
	reference: wxString_usage_SOFTLINK 

snippet wxString_usage
	reference: wxString_usage_SOFTLINK 

snippet hash.array_perl
	reference: perl_hash.array_SOFTLINK 

snippet perl_hash.array
	reference: perl_hash.array_SOFTLINK 

snippet java_template
	reference: java_template_SOFTLINK 

snippet template_java
	reference: java_template_SOFTLINK 

snippet bridge_pattern
	reference: bridge_pattern_SOFTLINK 

snippet pattern_bridge
	reference: bridge_pattern_SOFTLINK 

snippet recurise_extract
	reference: extract_recurise_SOFTLINK 

snippet extract_recurise
	reference: extract_recurise_SOFTLINK 

snippet getWeather
	reference: getWeather_SOFTLINK 

snippet espeak
	reference: espeak_SOFTLINK 

snippet root_rsyncd
	reference: rsyncd_root_SOFTLINK 

snippet rsyncd_root
	reference: rsyncd_root_SOFTLINK 

snippet pattern_strategy
	reference: strategy_pattern_SOFTLINK 

snippet strategy_pattern
	reference: strategy_pattern_SOFTLINK 

snippet Net_SSH2
	reference: Net_SSH2_SOFTLINK 

snippet SSH2_Net
	reference: Net_SSH2_SOFTLINK 

snippet usage_perlvar
	reference: perlvar_usage_SOFTLINK 

snippet perlvar_usage
	reference: perlvar_usage_SOFTLINK 

snippet pattern_command
	reference: command_pattern_SOFTLINK 

snippet command_pattern
	reference: command_pattern_SOFTLINK 

snippet copy_file
	reference: copy_file_SOFTLINK 

snippet file_copy
	reference: copy_file_SOFTLINK 

snippet c_template
	reference: c_template_SOFTLINK 

snippet template_c
	reference: c_template_SOFTLINK 

snippet google_word
	reference: google_word_SOFTLINK 

snippet word_google
	reference: google_word_SOFTLINK 

snippet hash.hash.array_perl
	reference: perl_hash.hash.array_SOFTLINK 

snippet perl_hash.hash.array
	reference: perl_hash.hash.array_SOFTLINK 

snippet usage_svnsync
	reference: svnsync_usage_SOFTLINK 

snippet svnsync_usage
	reference: svnsync_usage_SOFTLINK 

snippet string_equal
	reference: string_equal_SOFTLINK 

snippet equal_string
	reference: string_equal_SOFTLINK 

snippet getpid
	reference: getpid_SOFTLINK 

snippet tools_trace
	reference: trace_tools_SOFTLINK 

snippet trace_tools
	reference: trace_tools_SOFTLINK 

snippet hook_bask
	reference: bask_hook_SOFTLINK 

snippet bask_hook
	reference: bask_hook_SOFTLINK 

snippet last_row
	reference: last_row_SOFTLINK 

snippet row_last
	reference: last_row_SOFTLINK 

snippet usage_git
	reference: git_usage_SOFTLINK 

snippet git_usage
	reference: git_usage_SOFTLINK 

snippet interpreter_pattern
	reference: interpreter_pattern_SOFTLINK 

snippet pattern_interpreter
	reference: interpreter_pattern_SOFTLINK 

snippet wxwidgets_template
	reference: wxwidgets_template_SOFTLINK 

snippet template_wxwidgets
	reference: wxwidgets_template_SOFTLINK 

snippet usage_dialog
	reference: dialog_usage_SOFTLINK 

snippet dialog_usage
	reference: dialog_usage_SOFTLINK 

snippet v2_moveWithSuffic
	reference: moveWithSuffic_v2_SOFTLINK 

snippet moveWithSuffic_v2
	reference: moveWithSuffic_v2_SOFTLINK 

snippet pattern_mediator
	reference: mediator_pattern_SOFTLINK 

snippet mediator_pattern
	reference: mediator_pattern_SOFTLINK 

snippet diary_check
	reference: diary_check_SOFTLINK 

snippet check_diary
	reference: diary_check_SOFTLINK 

snippet test_object
	reference: test_object_SOFTLINK 

snippet object_test
	reference: test_object_SOFTLINK 

snippet 64_power2
	reference: power2_64_SOFTLINK 

snippet power2_64
	reference: power2_64_SOFTLINK 

snippet signal_lst
	reference: signal_lst_SOFTLINK 

snippet lst_signal
	reference: signal_lst_SOFTLINK 

snippet hash_perl
	reference: perl_hash_SOFTLINK 

snippet perl_hash
	reference: perl_hash_SOFTLINK 

snippet crypt_mysql
	reference: crypt_mysql_SOFTLINK 

snippet mysql_crypt
	reference: crypt_mysql_SOFTLINK 

snippet usage_pssh
	reference: pssh_usage_SOFTLINK 

snippet pssh_usage
	reference: pssh_usage_SOFTLINK 

snippet hash.array.hash
	reference: hash.array.hash_SOFTLINK 

snippet daemon_route
	reference: daemon_route_SOFTLINK 

snippet route_daemon
	reference: daemon_route_SOFTLINK 

snippet usage_winaoe
	reference: winaoe_usage_SOFTLINK 

snippet winaoe_usage
	reference: winaoe_usage_SOFTLINK 

snippet exclude_git
	reference: git_exclude_SOFTLINK 

snippet git_exclude
	reference: git_exclude_SOFTLINK 

snippet sprintf_WksName
	reference: WksName_sprintf_SOFTLINK 

snippet WksName_sprintf
	reference: WksName_sprintf_SOFTLINK 

snippet gdbinit
	reference: gdbinit_SOFTLINK 

snippet rot180
	reference: rot180_SOFTLINK 

snippet code_google
	reference: google_code_SOFTLINK 

snippet google_code
	reference: google_code_SOFTLINK 

snippet python_template
	reference: python_template_SOFTLINK 

snippet template_python
	reference: python_template_SOFTLINK 

snippet mktime
	reference: mktime_SOFTLINK 

snippet usage_rsync
	reference: rsync_usage_SOFTLINK 

snippet rsync_usage
	reference: rsync_usage_SOFTLINK 

snippet usage_DISPLAY
	reference: DISPLAY_usage_SOFTLINK 

snippet DISPLAY_usage
	reference: DISPLAY_usage_SOFTLINK 

snippet moveWithDayMtime
	reference: moveWithDayMtime_SOFTLINK 

snippet comment_mantis
	reference: mantis_comment_SOFTLINK 

snippet mantis_comment
	reference: mantis_comment_SOFTLINK 

snippet windows.bkl_wxwidgets
	reference: wxwidgets_windows.bkl_SOFTLINK 

snippet wxwidgets_windows.bkl
	reference: wxwidgets_windows.bkl_SOFTLINK 

snippet sprintf_string
	reference: sprintf_string_SOFTLINK 

snippet string_sprintf
	reference: sprintf_string_SOFTLINK 

snippet disasm
	reference: disasm_SOFTLINK 

snippet 0_moveWithSuffic
	reference: moveWithSuffic_0_SOFTLINK 

snippet moveWithSuffic_0
	reference: moveWithSuffic_0_SOFTLINK 

snippet fun_ptr
	reference: fun_ptr_SOFTLINK 

snippet ptr_fun
	reference: fun_ptr_SOFTLINK 

snippet 55_strlen
	reference: strlen_55_SOFTLINK 

snippet strlen_55
	reference: strlen_55_SOFTLINK 

snippet pattern_proxy
	reference: proxy_pattern_SOFTLINK 

snippet proxy_pattern
	reference: proxy_pattern_SOFTLINK 

snippet usage_route
	reference: route_usage_SOFTLINK 

snippet route_usage
	reference: route_usage_SOFTLINK 

snippet client_telnet
	reference: telnet_client_SOFTLINK 

snippet telnet_client
	reference: telnet_client_SOFTLINK 

snippet memenpattern
	reference: memento_pattern_SOFTLINK 

snippet hash_reverse
	reference: hash_reverse_SOFTLINK 

snippet reverse_hash
	reference: hash_reverse_SOFTLINK 

snippet ncurses_grid
	reference: grid_ncurses_SOFTLINK 

snippet grid_ncurses
	reference: grid_ncurses_SOFTLINK 

snippet 0_wxlib
	reference: wxlib_0_SOFTLINK 

snippet wxlib_0
	reference: wxlib_0_SOFTLINK 

snippet bing_search
	reference: bing_search_SOFTLINK 

snippet search_bing
	reference: bing_search_SOFTLINK 

snippet composite_pattern
	reference: composite_pattern_SOFTLINK 

snippet pattern_composite
	reference: composite_pattern_SOFTLINK 

snippet pltags_qzj
	reference: pltags_qzj_SOFTLINK 

snippet qzj_pltags
	reference: pltags_qzj_SOFTLINK 

snippet INT_signal
	reference: signal_INT_SOFTLINK 

snippet signal_INT
	reference: signal_INT_SOFTLINK 

snippet usage_nasm
	reference: nasm_usage_SOFTLINK 

snippet nasm_usage
	reference: nasm_usage_SOFTLINK 

snippet info.txt_fat
	reference: fat_info.txt_SOFTLINK 

snippet fat_info.txt
	reference: fat_info.txt_SOFTLINK 

snippet kexec
	reference: kexec_SOFTLINK 

snippet mail_html
	reference: mail_html_SOFTLINK 

snippet html_mail
	reference: mail_html_SOFTLINK 

snippet iptables_usage
	reference: iptables_usage_SOFTLINK 

snippet usage_iptables
	reference: iptables_usage_SOFTLINK 

snippet array.hash
	reference: array.hash_SOFTLINK 

snippet syntax.txt_crontab
	reference: crontab_syntax.txt_SOFTLINK 

snippet crontab_syntax.txt
	reference: crontab_syntax.txt_SOFTLINK 

snippet usage_mingw
	reference: mingw_usage_SOFTLINK 

snippet mingw_usage
	reference: mingw_usage_SOFTLINK 

snippet usage_tcpdump
	reference: tcpdump_usage_SOFTLINK 

snippet tcpdump_usage
	reference: tcpdump_usage_SOFTLINK 

snippet Data_Dumper
	reference: Data_Dumper_SOFTLINK 

snippet Dumper_Data
	reference: Data_Dumper_SOFTLINK 

snippet usage_sox
	reference: sox_usage_SOFTLINK 

snippet sox_usage
	reference: sox_usage_SOFTLINK 

snippet dd_split
	reference: split_to_dd_SOFTLINK 

snippet split_dd
	reference: split_to_dd_SOFTLINK 

snippet browser
	reference: browser_SOFTLINK 

snippet compile_library
	reference: compile_library_SOFTLINK 

snippet library_compile
	reference: compile_library_SOFTLINK 

snippet huanqiuweb_sql
	reference: huanqiuweb_sql_SOFTLINK 

snippet sql_huanqiuweb
	reference: huanqiuweb_sql_SOFTLINK 

snippet sizeof_64bit
	reference: sizeof_64bit_SOFTLINK 

snippet 64bit_sizeof
	reference: sizeof_64bit_SOFTLINK 

snippet gtest.txt_dict
	reference: dict_gtest.txt_SOFTLINK 

snippet dict_gtest.txt
	reference: dict_gtest.txt_SOFTLINK 

snippet autoinstall_vmware
	reference: autoinstall_vmware_SOFTLINK 

snippet vmware_autoinstall
	reference: autoinstall_vmware_SOFTLINK 

snippet NetworkInfo_Discovery
	reference: NetworkInfo_Discovery_SOFTLINK 

snippet Discovery_NetworkInfo
	reference: NetworkInfo_Discovery_SOFTLINK 

snippet pattern_adapter
	reference: adapter_pattern_SOFTLINK 

snippet adapter_pattern
	reference: adapter_pattern_SOFTLINK 

snippet telnet
	reference: telnet_SOFTLINK 

snippet usage_dotproject
	reference: dotproject_usage_SOFTLINK 

snippet dotproject_usage
	reference: dotproject_usage_SOFTLINK 

snippet rot290
	reference: rot290_SOFTLINK 

snippet picturetile_thumbnail
	reference: picturetile_thumbnail_SOFTLINK 

snippet thumbnail_picturetile
	reference: picturetile_thumbnail_SOFTLINK 

snippet capture
	reference: capture_SOFTLINK 

snippet usage_find
	reference: find_usage_SOFTLINK 

snippet find_usage
	reference: find_usage_SOFTLINK 

snippet mail_tnsoftomn
	reference: mail_tnsoftomn_SOFTLINK 

snippet tnsoftomn_mail
	reference: mail_tnsoftomn_SOFTLINK 

snippet gdbinit_0
	reference: gdbinit_0_SOFTLINK 

snippet 0_gdbinit
	reference: gdbinit_0_SOFTLINK 

snippet path_reg
	reference: path_reg_SOFTLINK 

snippet reg_path
	reference: path_reg_SOFTLINK 

snippet dump_msidb
	reference: msidb-dump_SOFTLINK 

snippet msidb_dump
	reference: msidb-dump_SOFTLINK 

snippet svnserve_usage
	reference: svnserve_usage_SOFTLINK 

snippet usage_svnserve
	reference: svnserve_usage_SOFTLINK 

snippet stat_mtime
	reference: mtime_stat_SOFTLINK 

snippet mtime_stat
	reference: mtime_stat_SOFTLINK 

snippet pattern_prototype
	reference: prototype_pattern_SOFTLINK 

snippet prototype_pattern
	reference: prototype_pattern_SOFTLINK 

snippet my_trace
	reference: trace_my_SOFTLINK 

snippet trace_my
	reference: trace_my_SOFTLINK 

snippet client_bigdata
	reference: bigdata_client_SOFTLINK 

snippet bigdata_client
	reference: bigdata_client_SOFTLINK 

snippet serializing_storable
	reference: storable_serializing_SOFTLINK 

snippet storable_serializing
	reference: storable_serializing_SOFTLINK 

snippet facade_pattern
	reference: facade_pattern_SOFTLINK 

snippet pattern_facade
	reference: facade_pattern_SOFTLINK 

snippet punctuation_english
	reference: english_punctuation_SOFTLINK 

snippet english_punctuation
	reference: english_punctuation_SOFTLINK 

snippet back_dir
	reference: back_dir_SOFTLINK 

snippet dir_back
	reference: back_dir_SOFTLINK 

snippet visitor_pattern
	reference: visitor_pattern_SOFTLINK 

snippet pattern_visitor
	reference: visitor_pattern_SOFTLINK 

snippet compile_mfc
	reference: compile_mfc_SOFTLINK 

snippet mfc_compile
	reference: compile_mfc_SOFTLINK 

snippet ref_func
	reference: func_ref_SOFTLINK 

snippet func_ref
	reference: func_ref_SOFTLINK 

snippet global_perl
	reference: perl_global_SOFTLINK 

snippet perl_global
	reference: perl_global_SOFTLINK 

snippet svn_usage
	reference: svn_usage_SOFTLINK 

snippet usage_svn
	reference: svn_usage_SOFTLINK 

snippet pattern_decorator
	reference: decorator_pattern_SOFTLINK 

snippet decorator_pattern
	reference: decorator_pattern_SOFTLINK 

snippet copy_hash
	reference: hash_copy_SOFTLINK 

snippet hash_copy
	reference: hash_copy_SOFTLINK 

snippet git_gitignore
	reference: git_gitignore_SOFTLINK 

snippet gitignore_git
	reference: git_gitignore_SOFTLINK 

snippet strftime_getToday
	reference: strftime_getToday_SOFTLINK 

snippet getToday_strftime
	reference: strftime_getToday_SOFTLINK 

snippet cmd_find
	reference: cmd_find_SOFTLINK 

snippet find_cmd
	reference: cmd_find_SOFTLINK 

snippet usage_snort
	reference: snort_usage_SOFTLINK 

snippet snort_usage
	reference: snort_usage_SOFTLINK 

snippet daemon_tcpdump
	reference: daemon_tcpdump_SOFTLINK 

snippet tcpdump_daemon
	reference: daemon_tcpdump_SOFTLINK 

snippet substr_testunit
	reference: substr_testunit_SOFTLINK 

snippet testunit_substr
	reference: substr_testunit_SOFTLINK 

snippet hex_sprintf
	reference: sprintf_hex_SOFTLINK 

snippet sprintf_hex
	reference: sprintf_hex_SOFTLINK 

snippet back_file
	reference: back_file_SOFTLINK 

snippet file_back
	reference: back_file_SOFTLINK 

snippet color_Imager
	reference: color_Imager_SOFTLINK 

snippet Imager_color
	reference: color_Imager_SOFTLINK 

snippet myself_argv
	reference: argv_myself_SOFTLINK 

snippet argv_myself
	reference: argv_myself_SOFTLINK 

snippet binfile_shellcode
	reference: shellcode_to_binfile_SOFTLINK 

snippet shellcode_binfile
	reference: shellcode_to_binfile_SOFTLINK 

snippet strace_usage
	reference: strace_usage_SOFTLINK 

snippet usage_strace
	reference: strace_usage_SOFTLINK 

snippet gentoo_mirror
	reference: gentoo_mirror_SOFTLINK 

snippet mirror_gentoo
	reference: gentoo_mirror_SOFTLINK 

snippet usage_split
	reference: split_usage_SOFTLINK 

snippet split_usage
	reference: split_usage_SOFTLINK 

snippet hash.fun_ptr
	reference: hash.fun_ptr_SOFTLINK 

snippet ptr_hash.fun
	reference: hash.fun_ptr_SOFTLINK 

snippet gcc_option
	reference: gcc_option_SOFTLINK 

snippet option_gcc
	reference: gcc_option_SOFTLINK 

snippet socket_help
	reference: socket_help_SOFTLINK 

snippet help_socket
	reference: socket_help_SOFTLINK 

snippet dhcp_client
	reference: dhcp_client_SOFTLINK 

snippet client_dhcp
	reference: dhcp_client_SOFTLINK 

snippet name_chinese
	reference: name_chinese_SOFTLINK 

snippet chinese_name
	reference: name_chinese_SOFTLINK 

snippet extract_kv
	reference: kv_extract_SOFTLINK 

snippet kv_extract
	reference: kv_extract_SOFTLINK 

snippet stl_algorithm
	reference: stl_algorithm_SOFTLINK 

snippet algorithm_stl
	reference: stl_algorithm_SOFTLINK 

snippet go_inc_perl
	reference: perl_inc_goto_SOFTLINK 

snippet go_perl_inc
	reference: perl_inc_goto_SOFTLINK 

snippet inc_go_perl
	reference: perl_inc_goto_SOFTLINK 

snippet inc_perl_go
	reference: perl_inc_goto_SOFTLINK 

snippet perl_go_inc
	reference: perl_inc_goto_SOFTLINK 

snippet perl_inc_go
	reference: perl_inc_goto_SOFTLINK 

snippet register_arm
	reference: register_arm_SOFTLINK 

snippet arm_register
	reference: register_arm_SOFTLINK 

snippet getservent_port
	reference: getservent_port_SOFTLINK 

snippet port_getservent
	reference: getservent_port_SOFTLINK 

snippet my_crond
	reference: my_crond_SOFTLINK 

snippet crond_my
	reference: my_crond_SOFTLINK 

snippet projects_rich
	reference: rich_projects_SOFTLINK 

snippet rich_projects
	reference: rich_projects_SOFTLINK 

snippet show2003_back
	reference: back_show2003_SOFTLINK 

snippet back_show2003
	reference: back_show2003_SOFTLINK 

snippet interface_net
	reference: interface_net_SOFTLINK 

snippet net_interface
	reference: interface_net_SOFTLINK 

snippet array.array.array
	reference: array.array.array_SOFTLINK 

snippet createFileLength_v4
	reference: createFileLength_v4_SOFTLINK 

snippet v4_createFileLength
	reference: createFileLength_v4_SOFTLINK 

snippet ntlm
	reference: ntlm_SOFTLINK 

snippet golable
	reference: goto_lable_SOFTLINK 

snippet usage_nm
	reference: nm_usage_SOFTLINK 

snippet nm_usage
	reference: nm_usage_SOFTLINK 

snippet pattern_design
	reference: design_pattern_SOFTLINK 

snippet design_pattern
	reference: design_pattern_SOFTLINK 

snippet hash.array_nwservonf
	reference: hash.array_nwservonf_SOFTLINK 

snippet nwservonf_hash.array
	reference: hash.array_nwservonf_SOFTLINK 

snippet command_find
	reference: find_command_SOFTLINK 

snippet find_command
	reference: find_command_SOFTLINK 

snippet usage_objdump
	reference: objdump_usage_SOFTLINK 

snippet objdump_usage
	reference: objdump_usage_SOFTLINK 

snippet overflowss
	reference: overflowss_SOFTLINK 

snippet tailong_elizad
	reference: elizad_tailong_SOFTLINK 

snippet elizad_tailong
	reference: elizad_tailong_SOFTLINK 

snippet make_phogallery
	reference: make_photo_gallery_SOFTLINK 

snippet phogallery_make
	reference: make_photo_gallery_SOFTLINK 

snippet hostip_get
	reference: get_hostip_SOFTLINK 

snippet get_hostip
	reference: get_hostip_SOFTLINK 

snippet read_sgf
	reference: sgf_read_SOFTLINK 

snippet sgf_read
	reference: sgf_read_SOFTLINK 

snippet hash_dump
	reference: dump_hash_SOFTLINK 

snippet dump_hash
	reference: dump_hash_SOFTLINK 

snippet lmy_template
	reference: lmy_template_SOFTLINK 

snippet template_lmy
	reference: lmy_template_SOFTLINK 

snippet pattern_observer
	reference: observer_pattern_SOFTLINK 

snippet observer_pattern
	reference: observer_pattern_SOFTLINK 

snippet getopt3_tailong
	reference: getopt3_tailong_SOFTLINK 

snippet tailong_getopt3
	reference: getopt3_tailong_SOFTLINK 

snippet ftp_client
	reference: ftp_client_SOFTLINK 

snippet client_ftp
	reference: ftp_client_SOFTLINK 

snippet file_select
	reference: select_file_SOFTLINK 

snippet select_file
	reference: select_file_SOFTLINK 

snippet bin2c
	reference: bin2c_SOFTLINK 

snippet dev_language
	reference: language_dev_SOFTLINK 

snippet language_dev
	reference: language_dev_SOFTLINK 

snippet usage_anonymous
	reference: anonymous_usage_SOFTLINK 

snippet anonymous_usage
	reference: anonymous_usage_SOFTLINK 

snippet 1_moveWithSuffic
	reference: moveWithSuffic_1_SOFTLINK 

snippet moveWithSuffic_1
	reference: moveWithSuffic_1_SOFTLINK 

snippet normalize_hash.array
	reference: hash.array_normalize_SOFTLINK 

snippet hash.array_normalize
	reference: hash.array_normalize_SOFTLINK 

snippet pcapinfo
	reference: pcapinfo_SOFTLINK 

snippet backup_mysql
	reference: mysql_backup_SOFTLINK 

snippet mysql_backup
	reference: mysql_backup_SOFTLINK 

snippet term_ansicolor
	reference: term_ansicolor_SOFTLINK 

snippet ansicolor_term
	reference: term_ansicolor_SOFTLINK 

snippet hash.array
	reference: hash.array_SOFTLINK 

snippet array_anonymous
	reference: anonymous_array_SOFTLINK 

snippet anonymous_array
	reference: anonymous_array_SOFTLINK 

snippet birthday
	reference: birthday_SOFTLINK 

snippet quote_shell
	reference: shell_quote_SOFTLINK 

snippet shell_quote
	reference: shell_quote_SOFTLINK 

snippet bashrc
	reference: bashrc_SOFTLINK 

snippet usage_sed2perl
	reference: sed2perl_usage_SOFTLINK 

snippet sed2perl_usage
	reference: sed2perl_usage_SOFTLINK 

snippet svn_comment
	reference: svn_comment_SOFTLINK 

snippet comment_svn
	reference: svn_comment_SOFTLINK 

snippet udp_client
	reference: udp_client_SOFTLINK 

snippet client_udp
	reference: udp_client_SOFTLINK 

snippet init_system
	reference: system_init_SOFTLINK 

snippet system_init
	reference: system_init_SOFTLINK 

snippet usage_sqlite
	reference: sqlite_usage_SOFTLINK 

snippet sqlite_usage
	reference: sqlite_usage_SOFTLINK 

snippet ascii_splashscreen
	reference: ascii_splashscreen_SOFTLINK 

snippet splashscreen_ascii
	reference: ascii_splashscreen_SOFTLINK 

snippet tempdir_find
	reference: tempdir_find_SOFTLINK 

snippet find_tempdir
	reference: tempdir_find_SOFTLINK 

snippet tailong_client
	reference: tailong_client_SOFTLINK 

snippet client_tailong
	reference: tailong_client_SOFTLINK 

snippet pattern_singleton
	reference: singleton_pattern_SOFTLINK 

snippet singleton_pattern
	reference: singleton_pattern_SOFTLINK 

snippet define_ifdef
	reference: ifdef_define_SOFTLINK 

snippet ifdef_define
	reference: ifdef_define_SOFTLINK 

snippet compiler
	reference: compiler_SOFTLINK 

snippet rot90
	reference: rot90_SOFTLINK 

snippet moveWithSuffic
	reference: moveWithSuffic_SOFTLINK 

snippet tag_mp3
	reference: mp3_tag_SOFTLINK 

snippet mp3_tag
	reference: mp3_tag_SOFTLINK 

snippet template_bash
	reference: bash_template_SOFTLINK 

snippet bash_template
	reference: bash_template_SOFTLINK 

snippet usage_javatar
	reference: javatar_usage_SOFTLINK 

snippet javatar_usage
	reference: javatar_usage_SOFTLINK 

snippet passwd_print
	reference: passwd_print_SOFTLINK 

snippet print_passwd
	reference: passwd_print_SOFTLINK 

snippet pattern_builder
	reference: builder_pattern_SOFTLINK 

snippet builder_pattern
	reference: builder_pattern_SOFTLINK 

snippet define_perl
	reference: perl_define_SOFTLINK 

snippet perl_define
	reference: perl_define_SOFTLINK 

snippet compile_wxWidgets
	reference: compile_wxWidgets_SOFTLINK 

snippet wxWidgets_compile
	reference: compile_wxWidgets_SOFTLINK 

snippet fd_set.txt
	reference: fd_set.txt_SOFTLINK 

snippet set.txt_fd
	reference: fd_set.txt_SOFTLINK 

snippet average
	reference: average_SOFTLINK 

snippet function_grep
	reference: grep_function_SOFTLINK 

snippet grep_function
	reference: grep_function_SOFTLINK 

snippet troff_de
	reference: de_troff_SOFTLINK 

snippet de_troff
	reference: de_troff_SOFTLINK 

snippet udp_server
	reference: udp_server_SOFTLINK 

snippet server_udp
	reference: udp_server_SOFTLINK 

snippet diff_combine
	reference: combine_diff_SOFTLINK 

snippet combine_diff
	reference: combine_diff_SOFTLINK 

snippet my_paste
	reference: paste_my_SOFTLINK 

snippet paste_my
	reference: paste_my_SOFTLINK 

snippet wxwidget_install
	reference: wxwidget_install_SOFTLINK 

snippet install_wxwidget
	reference: wxwidget_install_SOFTLINK 

snippet pattern_flyweight
	reference: flyweight_pattern_SOFTLINK 

snippet flyweight_pattern
	reference: flyweight_pattern_SOFTLINK 

snippet readme_append
	reference: readme_append_SOFTLINK 

snippet append_readme
	reference: readme_append_SOFTLINK 

snippet Player
	reference: Player_SOFTLINK 

snippet seconds_usage
	reference: seconds_usage_SOFTLINK 

snippet usage_seconds
	reference: seconds_usage_SOFTLINK 

snippet usage_pkgconfig
	reference: pkgconfig_usage_SOFTLINK 

snippet pkgconfig_usage
	reference: pkgconfig_usage_SOFTLINK 

snippet wxlib
	reference: wxlib_SOFTLINK 

snippet RandPartOfFile
	reference: RandPartOfFile_SOFTLINK 

snippet class_perl
	reference: perl_class_demo_SOFTLINK 

snippet perl_class
	reference: perl_class_demo_SOFTLINK 

snippet bbbbbbbb_md5
	reference: bbbbbbbb_md5_SOFTLINK 

snippet md5_bbbbbbbb
	reference: bbbbbbbb_md5_SOFTLINK 

snippet Team
	reference: Team_SOFTLINK 

snippet compare_number
	reference: number_compare_SOFTLINK 

snippet number_compare
	reference: number_compare_SOFTLINK 

snippet title_get
	reference: get_title_SOFTLINK 

snippet get_title
	reference: get_title_SOFTLINK 

snippet tempalte_mygdi
	reference: mygdi_tempalte_SOFTLINK 

snippet mygdi_tempalte
	reference: mygdi_tempalte_SOFTLINK 

snippet qmail_useage.txt
	reference: qmail_useage.txt_SOFTLINK 

snippet useage.txt_qmail
	reference: qmail_useage.txt_SOFTLINK 

snippet xml_xpath
	reference: xml_xpath_SOFTLINK 

snippet xpath_xml
	reference: xml_xpath_SOFTLINK 

snippet daemon_du
	reference: daemon_du_SOFTLINK 

snippet du_daemon
	reference: daemon_du_SOFTLINK 

snippet City
	reference: City_SOFTLINK 

snippet cpp_testunit
	reference: cpp_testunit_SOFTLINK 

snippet testunit_cpp
	reference: cpp_testunit_SOFTLINK 

snippet client_http
	reference: http_client_SOFTLINK 

snippet http_client
	reference: http_client_SOFTLINK 

snippet print_include
	reference: print_include_SOFTLINK 

snippet include_print
	reference: print_include_SOFTLINK 

snippet comm_mtu
	reference: mtu_comm_SOFTLINK 

snippet mtu_comm
	reference: mtu_comm_SOFTLINK 

snippet gtest_template
	reference: gtest_template_SOFTLINK 

snippet template_gtest
	reference: gtest_template_SOFTLINK 

snippet register_intel
	reference: register_intel_SOFTLINK 

snippet intel_register
	reference: register_intel_SOFTLINK 

snippet array_string
	reference: string_array_SOFTLINK 

snippet string_array
	reference: string_array_SOFTLINK 

snippet merge_hash
	reference: hash_merge_SOFTLINK 

snippet hash_merge
	reference: hash_merge_SOFTLINK 

snippet pattern_state
	reference: state_pattern_SOFTLINK 

snippet state_pattern
	reference: state_pattern_SOFTLINK 

snippet line_quotation
	reference: quotation_line_SOFTLINK 

snippet quotation_line
	reference: quotation_line_SOFTLINK 

snippet hosts
	reference: hosts_SOFTLINK 

snippet weekday_get
	reference: get_weekday_SOFTLINK 

snippet get_weekday
	reference: get_weekday_SOFTLINK 

snippet gcc_version
	reference: gcc_version_SOFTLINK 

snippet version_gcc
	reference: gcc_version_SOFTLINK 

snippet grammer.txt_SED
	reference: SED_grammer.txt_SOFTLINK 

snippet SED_grammer.txt
	reference: SED_grammer.txt_SOFTLINK 

snippet array_hash
	reference: array_to_hash_SOFTLINK 

snippet hash_array
	reference: array_to_hash_SOFTLINK 

snippet win32_daemon
	reference: win32_daemon_SOFTLINK 

snippet daemon_win32
	reference: win32_daemon_SOFTLINK 

snippet hash.hash_perl
	reference: perl_hash.hash_SOFTLINK 

snippet perl_hash.hash
	reference: perl_hash.hash_SOFTLINK 

snippet dump_sgf2misc
	reference: sgf2misc_dump_SOFTLINK 

snippet sgf2misc_dump
	reference: sgf2misc_dump_SOFTLINK 

snippet h3c_telnet
	reference: h3c_telnet_SOFTLINK 

snippet telnet_h3c
	reference: h3c_telnet_SOFTLINK 

snippet glob_man
	reference: man_glob_SOFTLINK 

snippet man_glob
	reference: man_glob_SOFTLINK 

snippet sed_ini.txt
	reference: sed_ini.txt_SOFTLINK 

snippet ini.txt_sed
	reference: sed_ini.txt_SOFTLINK 

snippet dump_wtmp
	reference: wtmp_dump_SOFTLINK 

snippet wtmp_dump
	reference: wtmp_dump_SOFTLINK 

snippet rand_guid
	reference: rand_guid_SOFTLINK 

snippet guid_rand
	reference: rand_guid_SOFTLINK 

snippet usage_emacs
	reference: emacs_usage_SOFTLINK 

snippet emacs_usage
	reference: emacs_usage_SOFTLINK 

snippet empty_dir
	reference: dir_empty_SOFTLINK 

snippet dir_empty
	reference: dir_empty_SOFTLINK 

snippet pattern_iterator
	reference: iterator_pattern_SOFTLINK 

snippet iterator_pattern
	reference: iterator_pattern_SOFTLINK 

snippet duplicate_line
	reference: duplicate_line_SOFTLINK 

snippet line_duplicate
	reference: duplicate_line_SOFTLINK 

snippet function_get
	reference: get_function_SOFTLINK 

snippet get_function
	reference: get_function_SOFTLINK 

snippet header.txt_bitmap
	reference: bitmap_header.txt_SOFTLINK 

snippet bitmap_header.txt
	reference: bitmap_header.txt_SOFTLINK 

snippet UtilsBy_List
	reference: List_UtilsBy_SOFTLINK 

snippet List_UtilsBy
	reference: List_UtilsBy_SOFTLINK 

snippet array_part
	reference: array_part_SOFTLINK 

snippet part_array
	reference: array_part_SOFTLINK 

snippet fdset.txt
	reference: fdset.txt_SOFTLINK 

snippet typelist.txt
	reference: typelist.txt_SOFTLINK 

snippet sparc_register
	reference: register_sparc_SOFTLINK 

snippet register_sparc
	reference: register_sparc_SOFTLINK 

snippet lianhuanhua_mirror
	reference: lianhuanhua_mirror_SOFTLINK 

snippet mirror_lianhuanhua
	reference: lianhuanhua_mirror_SOFTLINK 

snippet backgroundss
	reference: backgroundss_SOFTLINK 

snippet grep_number
	reference: grep_number_SOFTLINK 

snippet number_grep
	reference: grep_number_SOFTLINK 

snippet html_template
	reference: html_template_SOFTLINK 

snippet template_html
	reference: html_template_SOFTLINK 

snippet windows_cmd.list
	reference: windows_cmd.list_SOFTLINK 

snippet cmd.list_windows
	reference: windows_cmd.list_SOFTLINK 

snippet selinux_check
	reference: check_selinux_SOFTLINK 

snippet check_selinux
	reference: check_selinux_SOFTLINK 

snippet case_lower
	reference: lower_case_SOFTLINK 

snippet lower_case
	reference: lower_case_SOFTLINK 

snippet simple_gtest
	reference: gtest_simple_SOFTLINK 

snippet gtest_simple
	reference: gtest_simple_SOFTLINK 
