
snippet AllTests_SOFTLINK
	/root/bin/develop_php/AllTests.php

snippet CRACK_SOFTLINK
	/root/bin/develop_php/CRACK.php

snippet ColorTest_SOFTLINK
	/root/bin/develop_php/ColorTest.php

snippet Console_getopt_SOFTLINK
	/root/bin/develop_php/Console_getopt.php

snippet FILE_each_line_SOFTLINK
	/root/bin/develop_php/FILE_each_line.php

snippet File_Find_SOFTLINK
	/root/bin/develop_php/File_Find.php

snippet File_Find_find_SOFTLINK
	/root/bin/develop_php/File_Find_find.php

snippet Net_Curl_SOFTLINK
	/root/bin/develop_php/Net_Curl.php

snippet PHP_PAGE_SOFTLINK
	/root/bin/develop_php/PHP_PAGE.php

snippet PhpShell_SOFTLINK
	/root/bin/develop_php/PhpShell.php

snippet a_0_SOFTLINK
	/root/bin/develop_php/a_0.php

snippet abstrace_class_SOFTLINK
	/root/bin/develop_php/abstrace_class.php

snippet abstract_factory_SOFTLINK
	/root/bin/develop_php/abstract_factory.php

snippet abstract_factory_0_SOFTLINK
	/root/bin/develop_php/abstract_factory_0.php

snippet adodb_check_SOFTLINK
	/root/bin/develop_php/adodb_check.php

snippet adodb_new_SOFTLINK
	/root/bin/develop_php/adodb_new.php

snippet adodb_simplest_mysql_SOFTLINK
	/root/bin/develop_php/adodb_simplest_mysql.php

snippet ajax_SOFTLINK
	/root/bin/develop_php/ajax.php

snippet argc_argv_SOFTLINK
	/root/bin/develop_php/argc_argv.php

snippet argv_php_SOFTLINK
	/root/bin/develop_php/argv_php.php

snippet array.array.array_quick_SOFTLINK
	/root/bin/develop_php/array.array.array_quick.php

snippet array.array_SOFTLINK
	/root/bin/develop_php/array.array.php

snippet array_append_add_SOFTLINK
	/root/bin/develop_php/array_append_add.php

snippet array_class_class__set_state_SOFTLINK
	/root/bin/develop_php/array_class_class__set_state.php

snippet array_in_array_union_SOFTLINK
	/root/bin/develop_php/array_in_array_union.php

snippet array_keys_SOFTLINK
	/root/bin/develop_php/array_keys.php

snippet array_part_slice_SOFTLINK
	/root/bin/develop_php/array_part_slice.php

snippet array_static_content_SOFTLINK
	/root/bin/develop_php/array_static_content.php

snippet array_to_str_SOFTLINK
	/root/bin/develop_php/array_to_str.php

snippet array_traverse_SOFTLINK
	/root/bin/develop_php/array_traverse.php

snippet array_utf8_to_gb2312_SOFTLINK
	/root/bin/develop_php/array_utf8_to_gb2312.php

snippet authimg_SOFTLINK
	/root/bin/develop_php/authimg.php

snippet authimg_0_SOFTLINK
	/root/bin/develop_php/authimg_0.php

snippet b_SOFTLINK
	/root/bin/develop_php/b.php

snippet background_line_SOFTLINK
	/root/bin/develop_php/background_line.php

snippet background_line_html_gen_SOFTLINK
	/root/bin/develop_php/background_line_html_gen.php

snippet bgcolor_scalar_SOFTLINK
	/root/bin/develop_php/bgcolor_scalar.php

snippet bigimage_SOFTLINK
	/root/bin/develop_php/bigimage.php

snippet binary_decode_SOFTLINK
	/root/bin/develop_php/binary_decode.php

snippet bzip2_SOFTLINK
	/root/bin/develop_php/bzip2.php

snippet cat_eof_SOFTLINK
	/root/bin/develop_php/cat_eof.php

snippet chinese_jpgraph_SOFTLINK
	/root/bin/develop_php/chinese_jpgraph.php

snippet chomp_SOFTLINK
	/root/bin/develop_php/chomp.php

snippet class_SOFTLINK
	/root/bin/develop_php/class.php

snippet class__clone_SOFTLINK
	/root/bin/develop_php/class__clone.php

snippet class__construct_SOFTLINK
	/root/bin/develop_php/class__construct.php

snippet class_base_class_SOFTLINK
	/root/bin/develop_php/class_base_class.php

snippet cls_mysql_SOFTLINK
	/root/bin/develop_php/cls_mysql.php

snippet coding_gb2312_SOFTLINK
	/root/bin/develop_php/coding_gb2312.php

snippet colspan_table_SOFTLINK
	/root/bin/develop_php/colspan_table.php

snippet conf_a_SOFTLINK
	/root/bin/develop_php/conf_a.php

snippet conf_b_SOFTLINK
	/root/bin/develop_php/conf_b.php

snippet conf_c_SOFTLINK
	/root/bin/develop_php/conf_c.php

snippet conf_d_SOFTLINK
	/root/bin/develop_php/conf_d.php

snippet config_ckfind_ckeditor_SOFTLINK
	/root/bin/develop_php/config_ckfind_ckeditor.php

snippet configcheck_SOFTLINK
	/root/bin/develop_php/configcheck.php

snippet console_getopt_SOFTLINK
	/root/bin/develop_php/console_getopt.php

snippet copy_dir_SOFTLINK
	/root/bin/develop_php/copy_dir.php

snippet copydir_SOFTLINK
	/root/bin/develop_php/copydir.php

snippet copydirv2_SOFTLINK
	/root/bin/develop_php/copydirv2.php

snippet crack_SOFTLINK
	/root/bin/develop_php/crack.php

snippet crypt_hash_SOFTLINK
	/root/bin/develop_php/crypt_hash.php

snippet crypt_passowrd_SOFTLINK
	/root/bin/develop_php/crypt_passowrd.php

snippet css_new_version_index_SOFTLINK
	/root/bin/develop_php/css_new_version_index.php

snippet css_style_SOFTLINK
	/root/bin/develop_php/css_style.php

snippet css_text_wrapping_SOFTLINK
	/root/bin/develop_php/css_text_wrapping.php

snippet css_text_wrapping_0_SOFTLINK
	/root/bin/develop_php/css_text_wrapping_0.php

snippet curl_SOFTLINK
	/root/bin/develop_php/curl.php

snippet daily_SOFTLINK
	/root/bin/develop_php/daily.php

snippet daily_0_SOFTLINK
	/root/bin/develop_php/daily_0.php

snippet data_var_export_dump_print_r_array_object_SOFTLINK
	/root/bin/develop_php/data_var_export_dump_print_r_array_object.php

snippet dhcpd_conf_parse_preg_match_all_SOFTLINK
	/root/bin/develop_php/dhcpd_conf_parse_preg_match_all.php

snippet dir_is_empty_SOFTLINK
	/root/bin/develop_php/dir_is_empty.php

snippet dump_request_SOFTLINK
	/root/bin/develop_php/dump_request.php

snippet echo_EOF_eof_SOFTLINK
	/root/bin/develop_php/echo_EOF_eof.php

snippet echo_EOF_para_SOFTLINK
	/root/bin/develop_php/echo_EOF_para.php

snippet else_if_elif_SOFTLINK
	/root/bin/develop_php/else_if_elif.php

snippet emo_query_SOFTLINK
	/root/bin/develop_php/emo_query.php

snippet exec_SOFTLINK
	/root/bin/develop_php/exec.php

snippet extend_class_SOFTLINK
	/root/bin/develop_php/extend_class.php

snippet file_2_array_SOFTLINK
	/root/bin/develop_php/file_2_array.php

snippet file_append_SOFTLINK
	/root/bin/develop_php/file_append.php

snippet file_buffer_string_SOFTLINK
	/root/bin/develop_php/file_buffer_string.php

snippet file_get_max_row_SOFTLINK
	/root/bin/develop_php/file_get_max_row.php

snippet file_line_exchange_SOFTLINK
	/root/bin/develop_php/file_line_exchange.php

snippet file_sed_SOFTLINK
	/root/bin/develop_php/file_sed.php

snippet file_sed_config_SOFTLINK
	/root/bin/develop_php/file_sed_config.php

snippet file_sed_config_v2_SOFTLINK
	/root/bin/develop_php/file_sed_config_v2.php

snippet file_sed_config_v3_SOFTLINK
	/root/bin/develop_php/file_sed_config_v3.php

snippet filefarm_SOFTLINK
	/root/bin/develop_php/filefarm.php

snippet filefarm_class_SOFTLINK
	/root/bin/develop_php/filefarm_class.php

snippet filefram_SOFTLINK
	/root/bin/develop_php/filefram.php

snippet filename_with_time_SOFTLINK
	/root/bin/develop_php/filename_with_time.php

snippet final_method_SOFTLINK
	/root/bin/develop_php/final_method.php

snippet footer_SOFTLINK
	/root/bin/develop_php/footer.php

snippet footer_0_SOFTLINK
	/root/bin/develop_php/footer_0.php

snippet foreach_SOFTLINK
	/root/bin/develop_php/foreach.php

snippet foreach_glob_SOFTLINK
	/root/bin/develop_php/foreach_glob.php

snippet foreach_glob_basename_SOFTLINK
	/root/bin/develop_php/foreach_glob_basename.php

snippet foreach_hash_SOFTLINK
	/root/bin/develop_php/foreach_hash.php

snippet form_onchange_SOFTLINK
	/root/bin/develop_php/form_onchange.php

snippet form_save_SOFTLINK
	/root/bin/develop_php/form_save.php

snippet function_exists_SOFTLINK
	/root/bin/develop_php/function_exists.php

snippet gd_gidiant_SOFTLINK
	/root/bin/develop_php/gd_gidiant.php

snippet gd_image_freetype_SOFTLINK
	/root/bin/develop_php/gd_image_freetype.php

snippet gd_imagestring_SOFTLINK
	/root/bin/develop_php/gd_imagestring.php

snippet gen_pic_desc_txt_SOFTLINK
	/root/bin/develop_php/gen_pic_desc_txt.php

snippet get_SOFTLINK
	/root/bin/develop_php/get.php

snippet get_all_function_SOFTLINK
	/root/bin/develop_php/get_all_function.php

snippet get_file_array_SOFTLINK
	/root/bin/develop_php/get_file_array.php

snippet get_max_row_SOFTLINK
	/root/bin/develop_php/get_max_row.php

snippet get_php_function_from_web_SOFTLINK
	/root/bin/develop_php/get_php_function_from_web.php

snippet getimagesize_SOFTLINK
	/root/bin/develop_php/getimagesize.php

snippet getopt_SOFTLINK
	/root/bin/develop_php/getopt.php

snippet glob_SOFTLINK
	/root/bin/develop_php/glob.php

snippet global_SOFTLINK
	/root/bin/develop_php/global.php

snippet global_var_SOFTLINK
	/root/bin/develop_php/global_var.php

snippet gradient_gd_SOFTLINK
	/root/bin/develop_php/gradient_gd.php

snippet header_img_SOFTLINK
	/root/bin/develop_php/header_img.php

snippet header_img_0_SOFTLINK
	/root/bin/develop_php/header_img_0.php

snippet header_locaton_js_SOFTLINK
	/root/bin/develop_php/header_locaton_js.php

snippet hide_post_SOFTLINK
	/root/bin/develop_php/hide_post.php

snippet horn_menu_GET_SOFTLINK
	/root/bin/develop_php/horn_menu_GET.php

snippet horn_menu_get_SOFTLINK
	/root/bin/develop_php/horn_menu_get.php

snippet hsv_SOFTLINK
	/root/bin/develop_php/hsv.php

snippet hsv_0_SOFTLINK
	/root/bin/develop_php/hsv_0.php

snippet image_color_SOFTLINK
	/root/bin/develop_php/image_color.php

snippet image_html_templte_SOFTLINK
	/root/bin/develop_php/image_html_templte.php

snippet imagestring_SOFTLINK
	/root/bin/develop_php/imagestring.php

snippet imap_SOFTLINK
	/root/bin/develop_php/imap.php

snippet imagestring2_SOFTLINK
	/root/bin/develop_php/imagestring2.php

snippet img_a_href_no_border_SOFTLINK
	/root/bin/develop_php/img_a_href_no_border.php

snippet img_a_href_no_border_0_SOFTLINK
	/root/bin/develop_php/img_a_href_no_border_0.php

snippet include_guest_SOFTLINK
	/root/bin/develop_php/include_guest.php

snippet include_host_SOFTLINK
	/root/bin/develop_php/include_host.php

snippet index_dir_SOFTLINK
	/root/bin/develop_php/index_dir.php

snippet index_file_SOFTLINK
	/root/bin/develop_php/index_file.php

snippet index_glob_SOFTLINK
	/root/bin/develop_php/index_glob.php

snippet index_img_SOFTLINK
	/root/bin/develop_php/index_img.php

snippet index_img_0_SOFTLINK
	/root/bin/develop_php/index_img_0.php

snippet index_show_fs_SOFTLINK
	/root/bin/develop_php/index_show_fs.php

snippet index_txt_SOFTLINK
	/root/bin/develop_php/index_txt.php

snippet info_ok_SOFTLINK
	/root/bin/develop_php/info_ok.php

snippet ini_file_2_ul_li_SOFTLINK
	/root/bin/develop_php/ini_file_2_ul_li.php

snippet ini_file_2_ul_li_4_SOFTLINK
	/root/bin/develop_php/ini_file_2_ul_li_4.php

snippet inifile_each_sect_SOFTLINK
	/root/bin/develop_php/inifile_each_sect.php

snippet inifile_textarea_input_SOFTLINK
	/root/bin/develop_php/inifile_textarea_input.php

snippet inifile_traverse_for_each_SOFTLINK
	/root/bin/develop_php/inifile_traverse_for_each.php

snippet insert_to_logger_mysql_table_v2_SOFTLINK
	/root/bin/develop_php/insert_to_logger_mysql_table_v2.php

snippet interface_class_SOFTLINK
	/root/bin/develop_php/interface_class.php

snippet is_null_isset_SOFTLINK
	/root/bin/develop_php/is_null_isset.php

snippet is_sort_SOFTLINK
	/root/bin/develop_php/is_sort.php

snippet jquery_index_glob_mtime_SOFTLINK
	/root/bin/develop_php/jquery_index_glob_mtime.php

snippet js_check_value_SOFTLINK
	/root/bin/develop_php/js_check_value.php

snippet js_error_SOFTLINK
	/root/bin/develop_php/js_error.php

snippet json_SOFTLINK
	/root/bin/develop_php/json.php

snippet keys_SOFTLINK
	/root/bin/develop_php/keys.php

snippet lib_fun_ini_savefile_write_SOFTLINK
	/root/bin/develop_php/lib_fun_ini_savefile_write.php

snippet light_color_SOFTLINK
	/root/bin/develop_php/light_color.php

snippet log_SOFTLINK
	/root/bin/develop_php/log.php

snippet logger_SOFTLINK
	/root/bin/develop_php/logger.php

snippet logger_from_qianlong_conf_SOFTLINK
	/root/bin/develop_php/logger_from_qianlong_conf.php

snippet lower_strtolower_SOFTLINK
	/root/bin/develop_php/lower_strtolower.php

snippet many_products_show_SOFTLINK
	/root/bin/develop_php/many_products_show.php

snippet matrix_2html_border_1_SOFTLINK
	/root/bin/develop_php/matrix_2html_border_1.php

snippet matrix_2html_border_1_0_SOFTLINK
	/root/bin/develop_php/matrix_2html_border_1_0.php

snippet md5_SOFTLINK
	/root/bin/develop_php/md5.php

snippet member_fun_SOFTLINK
	/root/bin/develop_php/member_fun.php

snippet memdisk_binary_file_SOFTLINK
	/root/bin/develop_php/memdisk_binary_file.php

snippet mvdir_SOFTLINK
	/root/bin/develop_php/mvdir.php

snippet my_post_SOFTLINK
	/root/bin/develop_php/my_post.php

snippet mysql_SOFTLINK
	/root/bin/develop_php/mysql.php

snippet mysql_feiqing_SOFTLINK
	/root/bin/develop_php/mysql_feiqing.php

snippet mysql_fetch_array_SOFTLINK
	/root/bin/develop_php/mysql_fetch_array.php

snippet mysql_fetch_assoc_SOFTLINK
	/root/bin/develop_php/mysql_fetch_assoc.php

snippet mysql_fetch_object_SOFTLINK
	/root/bin/develop_php/mysql_fetch_object.php

snippet mysql_fetch_row_SOFTLINK
	/root/bin/develop_php/mysql_fetch_row.php

snippet ncurses_SOFTLINK
	/root/bin/develop_php/ncurses.php

snippet net_smtp_SOFTLINK
	/root/bin/develop_php/net_smtp.php

snippet netcard_summray_SOFTLINK
	/root/bin/develop_php/netcard_summray.php

snippet newt_SOFTLINK
	/root/bin/develop_php/newt.php

snippet no_img_image_SOFTLINK
	/root/bin/develop_php/no_img_image.php

snippet no_img_image_0_SOFTLINK
	/root/bin/develop_php/no_img_image_0.php

snippet null_function_args_empty_SOFTLINK
	/root/bin/develop_php/null_function_args_empty.php

snippet null_isset_undef_SOFTLINK
	/root/bin/develop_php/null_isset_undef.php

snippet object_initialization_with_new_SOFTLINK
	/root/bin/develop_php/object_initialization_with_new.php

snippet object_initialization_with_new_0_SOFTLINK
	/root/bin/develop_php/object_initialization_with_new_0.php

snippet one_product_SOFTLINK
	/root/bin/develop_php/one_product.php

snippet parse_ini_file_SOFTLINK
	/root/bin/develop_php/parse_ini_file.php

snippet parse_ini_file_0_SOFTLINK
	/root/bin/develop_php/parse_ini_file_0.php

snippet parse_ini_file_all_keys_SOFTLINK
	/root/bin/develop_php/parse_ini_file_all_keys.php

snippet parse_ini_file_sect_key_val_SOFTLINK
	/root/bin/develop_php/parse_ini_file_sect_key_val.php

snippet passthru_fping_SOFTLINK
	/root/bin/develop_php/passthru_fping.php

snippet passwd_2_html_SOFTLINK
	/root/bin/develop_php/passwd_2_html.php

snippet passwd_linux_SOFTLINK
	/root/bin/develop_php/passwd_linux.php

snippet pear_curl_fetchpage_SOFTLINK
	/root/bin/develop_php/pear_curl_fetchpage.php

snippet petty_china_Russia_SOFTLINK
	/root/bin/develop_php/petty_china_Russia.php

snippet pgrep_SOFTLINK
	/root/bin/develop_php/pgrep.php

snippet php_class__construct_SOFTLINK
	/root/bin/develop_php/php_class__construct.php

snippet php_company_class_SOFTLINK
	/root/bin/develop_php/php_company_class.php

snippet php_company_class_0_SOFTLINK
	/root/bin/develop_php/php_company_class_0.php

snippet php_curl_SOFTLINK
	/root/bin/develop_php/php_curl.php

snippet php_decoder_SOFTLINK
	/root/bin/develop_php/php_decoder.php

snippet php_domain_dispatch_SOFTLINK
	/root/bin/develop_php/php_domain_dispatch.php

snippet php_example_SOFTLINK
	/root/bin/develop_php/php_example.php

snippet php_flash_swf_SOFTLINK
	/root/bin/develop_php/php_flash_swf.php

snippet php_gd_image_SOFTLINK
	/root/bin/develop_php/php_gd_image.php

snippet php_global_dump_SOFTLINK
	/root/bin/develop_php/php_global_dump.php

snippet php_global_dump_1_SOFTLINK
	/root/bin/develop_php/php_global_dump_1.php

snippet php_global_var_SERVER_SOFTLINK
	/root/bin/develop_php/php_global_var_SERVER.php

snippet php_header_location_SOFTLINK
	/root/bin/develop_php/php_header_location.php

snippet php_keys_SOFTLINK
	/root/bin/develop_php/php_keys.php

snippet php_page_SOFTLINK
	/root/bin/develop_php/php_page.php

snippet php_ping_SOFTLINK
	/root/bin/develop_php/php_ping.php

snippet php_preg_SOFTLINK
	/root/bin/develop_php/php_preg.php

snippet php_preg2_SOFTLINK
	/root/bin/develop_php/php_preg2.php

snippet php_shell_exec_SOFTLINK
	/root/bin/develop_php/php_shell_exec.php

snippet php_urldecode_SOFTLINK
	/root/bin/develop_php/php_urldecode.php

snippet phpfilefarm_SOFTLINK
	/root/bin/develop_php/phpfilefarm.php

snippet phpshell_SOFTLINK
	/root/bin/develop_php/phpshell.php

snippet pic_stat_size_SOFTLINK
	/root/bin/develop_php/pic_stat_size.php

snippet ping_SOFTLINK
	/root/bin/develop_php/ping.php

snippet pop_up_dialog_SOFTLINK
	/root/bin/develop_php/pop_up_dialog.php

snippet pop_up_dialog_javascript_SOFTLINK
	/root/bin/develop_php/pop_up_dialog_javascript.php

snippet post_2016_SOFTLINK
	/root/bin/develop_php/post_2016.php

snippet post_argc_SOFTLINK
	/root/bin/develop_php/post_argc.php

snippet preg_grep_SOFTLINK
	/root/bin/develop_php/preg_grep.php

snippet preg_match_SOFTLINK
	/root/bin/develop_php/preg_match.php

snippet preg_match_parse_SOFTLINK
	/root/bin/develop_php/preg_match_parse.php

snippet preg_replace_SOFTLINK
	/root/bin/develop_php/preg_replace.php

snippet preg_replace_with_1_2_SOFTLINK
	/root/bin/develop_php/preg_replace_with_1_2.php

snippet print_r_POST_SOFTLINK
	/root/bin/develop_php/print_r_POST.php

snippet pwd_cwd_SOFTLINK
	/root/bin/develop_php/pwd_cwd.php

snippet qemu_manager_SOFTLINK
	/root/bin/develop_php/qemu_manager.php

snippet randArticle_SOFTLINK
	/root/bin/develop_php/randArticle.php

snippet rand_address_SOFTLINK
	/root/bin/develop_php/rand_address.php

snippet rand_str_SOFTLINK
	/root/bin/develop_php/rand_str.php

snippet rand_text_img_HtmlProducts_SOFTLINK
	/root/bin/develop_php/rand_text_img_HtmlProducts.php

snippet rand_word_SOFTLINK
	/root/bin/develop_php/rand_word.php

snippet randimage_SOFTLINK
	/root/bin/develop_php/randimage.php

snippet readline_SOFTLINK
	/root/bin/develop_php/readline.php

snippet refer_SOFTLINK
	/root/bin/develop_php/refer.php

snippet refer_go_back_url_SOFTLINK
	/root/bin/develop_php/refer_go_back_url.php

snippet refer_rich_Hotlinking_SOFTLINK
	/root/bin/develop_php/refer_rich_Hotlinking.php

snippet replace_ckeditor__ckfind_textarea_SOFTLINK
	/root/bin/develop_php/replace_ckeditor__ckfind_textarea.php

snippet return_ref_SOFTLINK
	/root/bin/develop_php/return_ref.php

snippet rmdirs_SOFTLINK
	/root/bin/develop_php/rmdirs.php

snippet rmrf_SOFTLINK
	/root/bin/develop_php/rmrf.php

snippet russia_introduce_SOFTLINK
	/root/bin/develop_php/russia_introduce.php

snippet select_focus_SOFTLINK
	/root/bin/develop_php/select_focus.php

snippet select_focus_lang_SOFTLINK
	/root/bin/develop_php/select_focus_lang.php

snippet self_SOFTLINK
	/root/bin/develop_php/self.php

snippet select_focus_lang_v1_SOFTLINK
	/root/bin/develop_php/select_focus_lang_v1.php

snippet select_lang_option_onchage_SOFTLINK
	/root/bin/develop_php/select_lang_option_onchage.php

snippet select_lang_option_onchage_session_SOFTLINK
	/root/bin/develop_php/select_lang_option_onchage_session.php

snippet select_opt_option_SOFTLINK
	/root/bin/develop_php/select_opt_option.php

snippet select_option_hsv_SOFTLINK
	/root/bin/develop_php/select_option_hsv.php

snippet select_option_onchage_SOFTLINK
	/root/bin/develop_php/select_option_onchage.php

snippet select_option_onchage_4_SOFTLINK
	/root/bin/develop_php/select_option_onchage_4.php

snippet select_option_onchage_jquery_SOFTLINK
	/root/bin/develop_php/select_option_onchage_jquery.php

snippet select_pear_opt_html_SOFTLINK
	/root/bin/develop_php/select_pear_opt_html.php

snippet self_abs_path_macro_FILE_include_SOFTLINK
	/root/bin/develop_php/self_abs_path_macro_FILE_include.php

snippet show_file_pxelinux_default_SOFTLINK
	/root/bin/develop_php/show_file_pxelinux_default.php

snippet show_fs_SOFTLINK
	/root/bin/develop_php/show_fs.php

snippet show_single_img_border_0_SOFTLINK
	/root/bin/develop_php/show_single_img_border_0.php

snippet show_single_img_border_0_0_SOFTLINK
	/root/bin/develop_php/show_single_img_border_0_0.php

snippet show_single_pic_SOFTLINK
	/root/bin/develop_php/show_single_pic.php

snippet show_single_pic_0_SOFTLINK
	/root/bin/develop_php/show_single_pic_0.php

snippet show_single_pic_global_SOFTLINK
	/root/bin/develop_php/show_single_pic_global.php

snippet showcode_SOFTLINK
	/root/bin/develop_php/showcode.php

snippet simplest_gray_pic_SOFTLINK
	/root/bin/develop_php/simplest_gray_pic.php

snippet singleton_SOFTLINK
	/root/bin/develop_php/singleton.php

snippet solr_php_question__SOFTLINK
	/root/bin/develop_php/solr_php_question_.php

snippet sort_by_file_number_SOFTLINK
	/root/bin/develop_php/sort_by_file_number.php

snippet sort_by_mtime_SOFTLINK
	/root/bin/develop_php/sort_by_mtime.php

snippet split_2_SOFTLINK
	/root/bin/develop_php/split_2.php

snippet split_line_number_SOFTLINK
	/root/bin/develop_php/split_line_number.php

snippet split_page_SOFTLINK
	/root/bin/develop_php/split_page.php

snippet sprintf_SOFTLINK
	/root/bin/develop_php/sprintf.php

snippet sqlite_SOFTLINK
	/root/bin/develop_php/sqlite.php

snippet stat_SOFTLINK
	/root/bin/develop_php/stat.php

snippet stat_member_function_SOFTLINK
	/root/bin/develop_php/stat_member_function.php

snippet static_main_SOFTLINK
	/root/bin/develop_php/static_main.php

snippet str_replace_SOFTLINK
	/root/bin/develop_php/str_replace.php

snippet strftime_SOFTLINK
	/root/bin/develop_php/strftime.php

snippet string_EOF_SOFTLINK
	/root/bin/develop_php/string_EOF.php

snippet strlen_SOFTLINK
	/root/bin/develop_php/strlen.php

snippet system_SOFTLINK
	/root/bin/develop_php/system.php

snippet table_border_1_SOFTLINK
	/root/bin/develop_php/table_border_1.php

snippet table_border_1_0_SOFTLINK
	/root/bin/develop_php/table_border_1_0.php

snippet table_ini_cowspan_SOFTLINK
	/root/bin/develop_php/table_ini_cowspan.php

snippet tables_console_SOFTLINK
	/root/bin/develop_php/tables_console.php

snippet tables_console_passwd_SOFTLINK
	/root/bin/develop_php/tables_console_passwd.php

snippet test_SOFTLINK
	/root/bin/develop_php/test.php

snippet textarea_filecontent_SOFTLINK
	/root/bin/develop_php/textarea_filecontent.php

snippet tftpbootfg.default_parse_SOFTLINK
	/root/bin/develop_php/tftpboot.cfg.default_parse.php

snippet tftpboot_foreach_glob_basename_select_option_SOFTLINK
	/root/bin/develop_php/tftpboot_foreach_glob_basename_select_option.php

snippet todo_SOFTLINK
	/root/bin/develop_php/todo.php

snippet todo_0_SOFTLINK
	/root/bin/develop_php/todo_0.php

snippet todo_old_SOFTLINK
	/root/bin/develop_php/todo_old.php

snippet tr_gray_line_SOFTLINK
	/root/bin/develop_php/tr_gray_line.php

snippet trigraph_operator_SOFTLINK
	/root/bin/develop_php/trigraph_operator.php

snippet uname_SOFTLINK
	/root/bin/develop_php/uname.php

snippet unlink_remove_SOFTLINK
	/root/bin/develop_php/unlink_remove.php

snippet upload_input_SOFTLINK
	/root/bin/develop_php/upload_input.php

snippet upload_receive_SOFTLINK
	/root/bin/develop_php/upload_receive.php

snippet url_2_utf8_SOFTLINK
	/root/bin/develop_php/url_2_utf8.php

snippet writelog_logger_SOFTLINK
	/root/bin/develop_php/writelog_logger.php

snippet xml_parse_SOFTLINK
	/root/bin/develop_php/xml_parse.php

snippet curl_seg_SOFTLINK
	/root/bin/develop_php/curl_seg.php

snippet json_decode_SOFTLINK
	/root/bin/develop_php/json_decode.php

snippet my_client_ip_SOFTLINK
	/root/bin/develop_php/my_client_ip.php

snippet post_ssh_key_SOFTLINK
	/root/bin/develop_php/post_ssh_key.php

snippet libvirt_get_instace_SOFTLINK
	/root/bin/develop_php/libvirt_get_instace.php

snippet index_SOFTLINK
	/root/bin/develop_php/face_upload_pic/index.php

snippet show_pic_SOFTLINK
	/root/bin/develop_php/face_upload_pic/show_pic.php

snippet upload_ok_SOFTLINK
	/root/bin/develop_php/face_upload_pic/upload_ok.php
