snippet plot 
	Plot的图表函数
	plt.plot(x,y , fmt)  ：绘制坐标图
	plt.boxplot(data, notch, position): 绘制箱形图
	plt.bar(left, height, width, bottom) : 绘制条形图
	plt.barh(width, bottom, left, height) : 绘制横向条形图
	plt.polar(theta, r) : 绘制极坐标图
	plt.pie(data, explode) : 绘制饼图
	plt.scatter(x, y) :绘制散点图
	plt.hist(x, bings, normed) : 绘制直方图



	 
