# Generic tags
extends python


snippet ansible_demo_
	/root/bin/ansible_demo/invertory
	/root/bin/ansible_demo/invertory_2
	/root/bin/ansible_demo/playbook2.yml
	/root/bin/ansible_demo/start.sh
	/root/bin/ansible_demo/travis.yml

snippet apscheduler_cron_
	/root/bin/apscheduler_cron/doc.txt
	/root/bin/apscheduler_cron/every_minute.py
	/root/bin/apscheduler_cron/every_second.py
	/root/bin/apscheduler_cron/every_five_second.py

snippet backdoor_

snippet beautifulsoup_
	/root/bin/beautifulsoup/bs4_demo.py
	/root/bin/beautifulsoup/bs4_oschina_class_catalog.py
	/root/bin/beautifulsoup/extract.py
	/root/bin/beautifulsoup/get_meta_keyword_.py
	/root/bin/beautifulsoup/openstack_extract.py
	/root/bin/beautifulsoup/oschina_level2.py
	/root/bin/beautifulsoup/top_1000_sites.py

snippet cdh_
	/root/bin/cdh/db.properties
	/root/bin/cdh/hosts
	/root/bin/cdh/init.sql
	/root/bin/cdh/install.sh

snippet bootstrap_v3_
	/root/bin/bootstrap_v3/dashboard_demo.html
	/root/bin/bootstrap_v3/develop_navigate.html
	/root/bin/bootstrap_v3/flask_.py
	/root/bin/bootstrap_v3/greshem_.html
	/root/bin/bootstrap_v3/left_menu.html
	/root/bin/bootstrap_v3/passpwd.html
	/root/bin/bootstrap_v3/pretty_index.html
	/root/bin/bootstrap_v3/readme.txt
	/root/bin/bootstrap_v3/dashboard.css

snippet celery_
	/root/bin/celery/client.py
	/root/bin/celery/start.sh
	/root/bin/celery/tasks.py

snippet ceph_docker_
	/root/bin/ceph_docker/ceph_deploy.sh

snippet ceph_init_manual_
	/root/bin/ceph_init_manual/ceph.conf.template
	/root/bin/ceph_init_manual/mon_mds_init.sh
	/root/bin/ceph_init_manual/osd_add.sh
	/root/bin/ceph_init_manual/osd_del.sh
	/root/bin/ceph_init_manual/osd_new.sh

snippet ceph_qemu_
	/root/bin/ceph_qemu/0_network.sh
	/root/bin/ceph_qemu/1_image_gene.sh
	/root/bin/ceph_qemu/2_template_mdf.sh
	/root/bin/ceph_qemu/3_image_copy.sh
	/root/bin/ceph_qemu/4_copy.sh
	/root/bin/ceph_qemu/5_image_gene_centos71.sh
	/root/bin/ceph_qemu/add_one_node.pl
	/root/bin/ceph_qemu/all_in_one.sh
	/root/bin/ceph_qemu/append_ansiable_str.pl
	/root/bin/ceph_qemu/append_one_node.sh
	/root/bin/ceph_qemu/centos7.0_ks.cfg
	/root/bin/ceph_qemu/centos_rpm_ceph
	/root/bin/ceph_qemu/ceph.conf
	/root/bin/ceph_qemu/ceph_client.sh
	/root/bin/ceph_qemu/ceph_disk.sh
	/root/bin/ceph_qemu/ceph_hosts
	/root/bin/ceph_qemu/change_name.bash
	/root/bin/ceph_qemu/dnsmasq.sh
	/root/bin/ceph_qemu/dsync_tools.sh
	/root/bin/ceph_qemu/get_ip.sh
	/root/bin/ceph_qemu/insert_mysql.php
	/root/bin/ceph_qemu/loop_ramdisk.sh
	/root/bin/ceph_qemu/mysql_insert_dsync_bench.pl
	/root/bin/ceph_qemu/new_node.xml.tmpl
	/root/bin/ceph_qemu/one_step.sh
	/root/bin/ceph_qemu/osd_add_local_dir.sh
	/root/bin/ceph_qemu/osd_add_local_one_disk.sh
	/root/bin/ceph_qemu/osd_common.conf
	/root/bin/ceph_qemu/rbd_qemu.sh
	/root/bin/ceph_qemu/readme.txt
	/root/bin/ceph_qemu/rxdsk_ramdisk.sh
	/root/bin/ceph_qemu/start.sh
	/root/bin/ceph_qemu/stop.sh
	/root/bin/ceph_qemu/virsh_secret.sh
	/root/bin/ceph_qemu/virsh_secret_syslcoud.sh

snippet cinder_
	/root/bin/cinder/cinder_change_vg_to_rootvg.sh
	/root/bin/cinder/cinder_nfs_change.sh
	/root/bin/cinder/cinder_volumes_loop_vg.sh

snippet cli_cliff_click_argparse_
	/root/bin/cli_cliff_click_argparse/README.md
	/root/bin/cli_cliff_click_argparse/argparse_example.py
	/root/bin/cli_cliff_click_argparse/click_example.py
	/root/bin/cli_cliff_click_argparse/cliff_example.py
	/root/bin/cli_cliff_click_argparse/demo_subcommand.py
	/root/bin/cli_cliff_click_argparse/my_demo.py

snippet cliff-samples_
	/root/bin/cliff-samples/manage.py

snippet collect_json_
	/root/bin/collect_json/api_get_data.py
	/root/bin/collect_json/server.py
	/root/bin/collect_json/timestamp_2_str.py

snippet cookiecutter_spark_
	/root/bin/cookiecutter_spark/0_gen.sh
	/root/bin/cookiecutter_spark/cookiecutter.json

snippet cron.daily_
	/root/bin/cron.daily/1.11_mysql_back.sh
	/root/bin/cron.daily/git_check_daily_work.pl
	/root/bin/cron.daily/git_emo.sh
	/root/bin/cron.daily/git_petty.sh
	/root/bin/cron.daily/mysql_scp.sh
	/root/bin/cron.daily/petty_backup.sh
	/root/bin/cron.daily/petty_get_ip.sh
	/root/bin/cron.daily/rsync_taibai.sh
	/root/bin/cron.daily/tyd_data_sync.sh

snippet daemon_
	/root/bin/daemon/aliyun_emotibot_check.pl
	/root/bin/daemon/aliyun_emotibot_wget_check.pl
	/root/bin/daemon/balance_start.pl
	/root/bin/daemon/check_vios_nat_ssh.pl
	/root/bin/daemon/git_chmod777.pl
	/root/bin/daemon/mplayer_night_check.pl
	/root/bin/daemon/socat_check.pl
	/root/bin/daemon/ssh_add_key.py
	/root/bin/daemon/teresa_website_check.pl
	/root/bin/daemon/teresa_wget_check.pl

snippet daily_
	/root/bin/daily/2016_02.txt
	/root/bin/daily/2016_03.txt
	/root/bin/daily/2016_04.txt
	/root/bin/daily/2016_05.txt

snippet ddns_ip_
	/root/bin/ddns_ip/client.sh
	/root/bin/ddns_ip/client_proxy_tailong.sh
	/root/bin/ddns_ip/deploy.sh
	/root/bin/ddns_ip/ip.php




snippet develop_html_

snippet develop_java_
	/root/bin/develop_java/DependLib.java
	/root/bin/develop_java/DependLib.txt
	/root/bin/develop_java/HelloWorld.java
	/root/bin/develop_java/MonitorUsageThread.java
	/root/bin/develop_java/NetGet.java
	/root/bin/develop_java/gen_code.sh
	/root/bin/develop_java/getCharsDemo.java
	/root/bin/develop_java/java_set_environment.bat
	/root/bin/develop_java/libstemmer_java.txt
	/root/bin/develop_java/readme_qian.txt
	/root/bin/develop_java/wget.java

snippet develop_math_
	/root/bin/develop_math/2_power.cpp
	/root/bin/develop_math/Makefile
	/root/bin/develop_math/Math_Stat.pm
	/root/bin/develop_math/accumulate.cpp
	/root/bin/develop_math/average.pl
	/root/bin/develop_math/bash_division_math.sh
	/root/bin/develop_math/bgcolor_scalar.php
	/root/bin/develop_math/cpan_math.lst
	/root/bin/develop_math/fibonacci.py
	/root/bin/develop_math/get_max_from_dir_number_svn.pl
	/root/bin/develop_math/math-spline2.pl
	/root/bin/develop_math/math_cricket.sh
	/root/bin/develop_math/math_fft.pl
	/root/bin/develop_math/math_pear.php
	/root/bin/develop_math/mathomatic_subject.txt
	/root/bin/develop_math/max_element.cpp
	/root/bin/develop_math/mesh_all_combination.cpp
	/root/bin/develop_math/primes.pl
	/root/bin/develop_math/solve_equ.octave
	/root/bin/develop_math/sum_row.sh
	/root/bin/develop_math/vec_math.cpp
	/root/bin/develop_math/vector_calc-3.1.pl
	/root/bin/develop_math/vector_match.pm





snippet develop_ruby_
	/root/bin/develop_ruby/http_server.rb
	/root/bin/develop_ruby/readme.txt

snippet develop_scala_
	/root/bin/develop_scala/hello.scala

snippet diary_daily_log_
	/root/bin/diary_daily_log/check_log.pl
	/root/bin/diary_daily_log/check_log.py
	/root/bin/diary_daily_log/create_daily.py

snippet django_
	/root/bin/django/clear_cache.py
	/root/bin/django/django_base.py
	/root/bin/django/django_passwd.py
	/root/bin/django/request_demo.py
	/root/bin/django/start_django.py
	/root/bin/django/template_demo.py
	/root/bin/django/template_demo_context.py
	/root/bin/django/template_find.py
	/root/bin/django/template_if_endif.py
	/root/bin/django/b.py
	/root/bin/django/models_orm_list.py

snippet django_codegen_
	/root/bin/django_codegen/readme.txt

snippet docker_
	/root/bin/docker/0_docker_2.1.1_start.sh
	/root/bin/docker/docker_get_all_name.sh
	/root/bin/docker/docker_get_all_name_v2.sh
	/root/bin/docker/docker_register.sh
	/root/bin/docker/docker_registry.sh
	/root/bin/docker/gitlab_fastlaunch.pl
	/root/bin/docker/import_local_to_server.py
	/root/bin/docker/kafaka.sh
	/root/bin/docker/kolla.sh
	/root/bin/docker/owncloud_usage.sh
	/root/bin/docker/save_docke_registry_2_srv.sh
	/root/bin/docker/start.sh
	/root/bin/docker/LocalSettings.php

snippet education_
	/root/bin/education/cron_smplayer.py
	/root/bin/education/db_todo.py
	/root/bin/education/dump.py
	/root/bin/education/eden_is_on_home.py
	/root/bin/education/greshem_todo.py
	/root/bin/education/insert.py
	/root/bin/education/insert_with_ebbinghaus.py
	/root/bin/education/mysql_message_taker.py
	/root/bin/education/readme.txt
	/root/bin/education/record_wave.py
	/root/bin/education/reminder.sql
	/root/bin/education/reminder_model.py
	/root/bin/education/search.py
	/root/bin/education/smplayer_mp3.py
	/root/bin/education/tmp.py
	/root/bin/education/xunfei_wav_gen.py
	/root/bin/education/reminder_model.py2
	/root/bin/education/db_todo.pyc
	/root/bin/education/reminder_model.pyc
	/root/bin/education/search.pyc
	/root/bin/education/insert.pyc

snippet email_send_
	/root/bin/email_send/send_html_file.py
	/root/bin/email_send/send_html_str.py
	/root/bin/email_send/send_html_str_qq_smtp.py
	/root/bin/email_send/send_txt.py
	/root/bin/email_send/send_txt_file.py

snippet email_tools_
	/root/bin/email_tools/get_subject.py
	/root/bin/email_tools/login_emotibot.py
	/root/bin/email_tools/parse_eml.py
	/root/bin/email_tools/parse_eml_get_attachment.py
	/root/bin/email_tools/pop_126_save_as_eml.py
	/root/bin/email_tools/pop_delete_mail.py
	/root/bin/email_tools/pop_save_as_eml.py

snippet emotibot_conf_
	/root/bin/emotibot_conf/0_arp_reverse.sh
	/root/bin/emotibot_conf/0_arp_scan.sh
	/root/bin/emotibot_conf/0_get_alive_jujian.sh
	/root/bin/emotibot_conf/1_get_new.sh
	/root/bin/emotibot_conf/ansible_hosts
	/root/bin/emotibot_conf/bashrc
	/root/bin/emotibot_conf/emotibot_db.pl
	/root/bin/emotibot_conf/get_i7_server.sh
	/root/bin/emotibot_conf/h3c_get_nat.sh
	/root/bin/emotibot_conf/h3c_get_startup.cfg.pl
	/root/bin/emotibot_conf/h3c_stat.expect
	/root/bin/emotibot_conf/h3c_telnet.pl
	/root/bin/emotibot_conf/h3c_telnet.py
	/root/bin/emotibot_conf/i7_ansiable_usage.pl
	/root/bin/emotibot_conf/pi_mac
	/root/bin/emotibot_conf/william_only_ssh.sh

snippet es_elasticsearch_
	/root/bin/es_elasticsearch/0_index_diary.py
	/root/bin/es_elasticsearch/1_add_my_daily.py
	/root/bin/es_elasticsearch/crud_test.py
	/root/bin/es_elasticsearch/es_search.py
	/root/bin/es_elasticsearch/readme.txt

snippet fabric_
	/root/bin/fabric/readme.txt
	/root/bin/fabric/remote_demo.py

snippet face_
	/root/bin/face/bashrc
	/root/bin/face/index.php
	/root/bin/face/post.sh
	/root/bin/face/show_pic.php
	/root/bin/face/sudo.php
	/root/bin/face/upload_ok.php

snippet flask_
	/root/bin/flask/demo.py
	/root/bin/flask/send_file.py
	/root/bin/flask/static_file_server.py

snippet funtioncache_
	/root/bin/funtioncache/file_cache_pickle.py
	/root/bin/funtioncache/functioncache_code.py
	/root/bin/funtioncache/gen.py
	/root/bin/funtioncache/get_cache_name.py
	/root/bin/funtioncache/pickle_readme.py
	/root/bin/funtioncache/shelve_demo.py
	/root/bin/funtioncache/shelve_read.py

snippet gen_vms_
	/root/bin/gen_vms/0_network.sh
	/root/bin/gen_vms/0_network_bridge.sh
	/root/bin/gen_vms/1_image_gene.sh
	/root/bin/gen_vms/2_image_copy.sh
	/root/bin/gen_vms/3_gen_xml.sh
	/root/bin/gen_vms/3_gen_xml_bridge.sh
	/root/bin/gen_vms/4_start.sh
	/root/bin/gen_vms/6_stop.sh
	/root/bin/gen_vms/7_modify_vm.sh
	/root/bin/gen_vms/change_iso.sh
	/root/bin/gen_vms/dnsmasq_start.sh
	/root/bin/gen_vms/dnsmasq_start_bridge.sh
	/root/bin/gen_vms/gen_dnsmasq_start.pl
	/root/bin/gen_vms/get_ip.sh
	/root/bin/gen_vms/get_mac.pl
	/root/bin/gen_vms/mdf_gen_modify_network.pl
	/root/bin/gen_vms/mdf_img_by_libvirt.pl
	/root/bin/gen_vms/metainfo
	/root/bin/gen_vms/metainfo_ceph
	/root/bin/gen_vms/metainfo_hbase
	/root/bin/gen_vms/metainfo_rabbitmq
	/root/bin/gen_vms/name
	/root/bin/gen_vms/network.sh
	/root/bin/gen_vms/one_step.sh
	/root/bin/gen_vms/readme.txt

snippet gen_vms_libvirt_
	/root/bin/gen_vms_libvirt/bridge_delete.py
	/root/bin/gen_vms_libvirt/create_network.py
	/root/bin/gen_vms_libvirt/gen_all.py
	/root/bin/gen_vms_libvirt/gen_libvirt_env.py
	/root/bin/gen_vms_libvirt/get_my_info.py
	/root/bin/gen_vms_libvirt/instance_class.py
	/root/bin/gen_vms_libvirt/get_my_info.pyc
	/root/bin/gen_vms_libvirt/instance_class.pyc

snippet gensim_
	/root/bin/gensim/word2vec_read.py

snippet getopts_args_
	/root/bin/getopts_args/get_my_info.py
	/root/bin/getopts_args/getopt_userinfo.py

snippet git_auto_
	/root/bin/git_auto/enginer.txt
	/root/bin/git_auto/gen.pl
	/root/bin/git_auto/init_all_git_repo.sh
	/root/bin/git_auto/readme

snippet git_version_find_
	/root/bin/git_version_find/code_gen.py
	/root/bin/git_version_find/is_same_version.py
	/root/bin/git_version_find/is_same_version_file_count.py

snippet global_

snippet guestfish_
	/root/bin/guestfish/check.sh
	/root/bin/guestfish/mdf_image.py
	/root/bin/guestfish/selinux

snippet hadoop-sequence-file-upload_
	/root/bin/hadoop-sequence-file-upload/README.md
	/root/bin/hadoop-sequence-file-upload/build-jar.sh
	/root/bin/hadoop-sequence-file-upload/pom.xml
	/root/bin/hadoop-sequence-file-upload/upload-to-sequence-file.sh

snippet hadoop73_
	/root/bin/hadoop73/add_node_targz_copy.pl
	/root/bin/hadoop73/copy_all.sh
	/root/bin/hadoop73/count_block.sh
	/root/bin/hadoop73/count_multidisk_blk.sh
	/root/bin/hadoop73/dell_start_all.sh

snippet hadoop_deploy_
	/root/bin/hadoop_deploy/0_get_master_slave.sh
	/root/bin/hadoop_deploy/0_iptable.sh
	/root/bin/hadoop_deploy/0_java_install.sh
	/root/bin/hadoop_deploy/10_add_one_node.pl
	/root/bin/hadoop_deploy/10_get_date_time.sh
	/root/bin/hadoop_deploy/11_sync_xml_file.pl
	/root/bin/hadoop_deploy/1_set_hostname.sh
	/root/bin/hadoop_deploy/3_hadoop_install.sh
	/root/bin/hadoop_deploy/4_distribution.sh
	/root/bin/hadoop_deploy/4_ssh_key_copy.sh
	/root/bin/hadoop_deploy/5_hadoop_add_node_start.sh
	/root/bin/hadoop_deploy/5_hadoop_firt_init_format.sh
	/root/bin/hadoop_deploy/5_hadoop_format_init.sh
	/root/bin/hadoop_deploy/5_hadoop_start.sh
	/root/bin/hadoop_deploy/6_hbase_single_install.sh
	/root/bin/hadoop_deploy/7_hbase_cluster.sh
	/root/bin/hadoop_deploy/9_jobhistory.sh
	/root/bin/hadoop_deploy/9_jps_all.sh
	/root/bin/hadoop_deploy/ansible_for_nodes.sh
	/root/bin/hadoop_deploy/bashrc.sh
	/root/bin/hadoop_deploy/bug.txt
	/root/bin/hadoop_deploy/change_to_ogg.pl
	/root/bin/hadoop_deploy/check_env.pl
	/root/bin/hadoop_deploy/check_hbase_status.sh
	/root/bin/hadoop_deploy/clean_all.sh
	/root/bin/hadoop_deploy/extend_disk.sh
	/root/bin/hadoop_deploy/hadoop_2.6.pl
	/root/bin/hadoop_deploy/hadoop_single.sh
	/root/bin/hadoop_deploy/hbase-env.sh
	/root/bin/hadoop_deploy/hbase_cluster_sitemap.xml
	/root/bin/hadoop_deploy/hive_usage.pl
	/root/bin/hadoop_deploy/ip2name.pl
	/root/bin/hadoop_deploy/java_all_kill.sh
	/root/bin/hadoop_deploy/java_list.sh
	/root/bin/hadoop_deploy/one_step.sh
	/root/bin/hadoop_deploy/one_step_add_node.sh
	/root/bin/hadoop_deploy/readme.txt
	/root/bin/hadoop_deploy/reset_hadoop.sh
	/root/bin/hadoop_deploy/reset_hbase.sh
	/root/bin/hadoop_deploy/start_hbase.sh
	/root/bin/hadoop_deploy/start_hdfs_mr.sh
	/root/bin/hadoop_deploy/stop_all.sh
	/root/bin/hadoop_deploy/stop_hbase.sh
	/root/bin/hadoop_deploy/stop_hdfs_mr.sh
	/root/bin/hadoop_deploy/version_to_2.5.2
	/root/bin/hadoop_deploy/version_to_2.6.0
	/root/bin/hadoop_deploy/zoo.cfg
	/root/bin/hadoop_deploy/masters
	/root/bin/hadoop_deploy/slaves
	/root/bin/hadoop_deploy/template_id_rsa.pub
	/root/bin/hadoop_deploy/dhcpd.pcap
	/root/bin/hadoop_deploy/hosts

snippet hadoop_tools_
	/root/bin/hadoop_tools/add_host110.sh
	/root/bin/hadoop_tools/add_node.pl
	/root/bin/hadoop_tools/add_node_targz_copy.pl
	/root/bin/hadoop_tools/decommission.pl
	/root/bin/hadoop_tools/decommission_2.5.2.pl
	/root/bin/hadoop_tools/glob.pl
	/root/bin/hadoop_tools/hadoop_lzo_install.sh
	/root/bin/hadoop_tools/report.pl

snippet hanlp_
	/root/bin/hanlp/hanlp.properties
	/root/bin/hanlp/hanlp.sh

snippet hbase_monitor_
	/root/bin/hbase_monitor/hbase_crash
	/root/bin/hbase_monitor/hbase_monitor.sh
	/root/bin/hbase_monitor/hbase_start.sh
	/root/bin/hbase_monitor/hbase_status.sh
	/root/bin/hbase_monitor/hbase_stop.sh
	/root/bin/hbase_monitor/status

snippet hbase_tools_
	/root/bin/hbase_tools/copy_mongo_to_hbase_greshem.py
	/root/bin/hbase_tools/copy_mongo_to_hbase_v2.py
	/root/bin/hbase_tools/get_tables.pl
	/root/bin/hbase_tools/hbase_client_get_tables.py
	/root/bin/hbase_tools/hbase_distcp_sync.pl
	/root/bin/hbase_tools/hbase_export.pl
	/root/bin/hbase_tools/hbase_rowcount.pl
	/root/bin/hbase_tools/hbase_rowcount_hdfs.pl
	/root/bin/hbase_tools/hbase_rowcount_sort_size.pl

snippet horizon-dashboard-cookiecutter_
	/root/bin/horizon-dashboard-cookiecutter/0_gen.sh
	/root/bin/horizon-dashboard-cookiecutter/1_deploy.sh
	/root/bin/horizon-dashboard-cookiecutter/LICENSE
	/root/bin/horizon-dashboard-cookiecutter/README.rst
	/root/bin/horizon-dashboard-cookiecutter/cookiecutter.json
	/root/bin/horizon-dashboard-cookiecutter/tasks.py
	/root/bin/horizon-dashboard-cookiecutter/test-requirements.txt

snippet ibm_v7000_
	/root/bin/ibm_v7000/readme.txt
	/root/bin/ibm_v7000/v7000-wwpn_to_node.sh
	/root/bin/ibm_v7000/v7000.pl

snippet influxdb_
	/root/bin/influxdb/create_db.py
	/root/bin/influxdb/influxdb.conf.example
	/root/bin/influxdb/install.sh
	/root/bin/influxdb/query_item.py

snippet jieba_rpc_
	/root/bin/jieba_rpc/client.py
	/root/bin/jieba_rpc/server.py

snippet jinja2_
	/root/bin/jinja2/array_render.py
	/root/bin/jinja2/for_usage.py
	/root/bin/jinja2/hash.py
	/root/bin/jinja2/hash_render.py
	/root/bin/jinja2/qemu_template_xml_gen.py
	/root/bin/jinja2/range_demo.py
	/root/bin/jinja2/range_demo_v2.py
	/root/bin/jinja2/render_html.py
	/root/bin/jinja2/render_str.py
	/root/bin/jinja2/simplest.py
	/root/bin/jinja2/template.html

snippet jinja2_templates_dir_
	/root/bin/jinja2_templates_dir/debugger.py

snippet json_server_
	/root/bin/json_server/package.json
	/root/bin/json_server/readme.txt

snippet k8s_
	/root/bin/k8s/README.txt

snippet kaoyan_
	/root/bin/kaoyan/Makefile
	/root/bin/kaoyan/fit.py
	/root/bin/kaoyan/graph.py
	/root/bin/kaoyan/struct.md
	/root/bin/kaoyan/todo.txt

snippet keystone_all_version_
	/root/bin/keystone_all_version/1_project_user_create.sh
	/root/bin/keystone_all_version/2_endpoint.sh
	/root/bin/keystone_all_version/all_version.pl
	/root/bin/keystone_all_version/config-keystone.sh
	/root/bin/keystone_all_version/newton_install.sh
	/root/bin/keystone_all_version/readme.txt
	/root/bin/keystone_all_version/start.sh

snippet keystone_client_2016_
	/root/bin/keystone_client_2016/keystone-create.py
	/root/bin/keystone_client_2016/keystone_client.py
	/root/bin/keystone_client_2016/keystone_list_user.py
	/root/bin/keystone_client_2016/readme.txt
	/root/bin/keystone_client_2016/v3_client.py

snippet keystone_client_flask_
	/root/bin/keystone_client_flask/client.py
	/root/bin/keystone_client_flask/keystone_client.py
	/root/bin/keystone_client_flask/server.py

snippet keystone_docker_
	/root/bin/keystone_docker/0_start.sh
	/root/bin/keystone_docker/1_project_user_create.sh
	/root/bin/keystone_docker/2_endpoint.sh
	/root/bin/keystone_docker/3_django.sh
	/root/bin/keystone_docker/4_venv.sh
	/root/bin/keystone_docker/4_venv_client.sh
	/root/bin/keystone_docker/5_download_src.sh
	/root/bin/keystone_docker/keystonerc_admin
	/root/bin/keystone_docker/v2_keystonerc_demo
	/root/bin/keystone_docker/v2_openrc_

snippet keystone_v3_examples_
	/root/bin/keystone_v3_examples/LICENSE
	/root/bin/keystone_v3_examples/README
	/root/bin/keystone_v3_examples/README.md

snippet kickstart_
	/root/bin/kickstart/AutoUnattend.xml
	/root/bin/kickstart/AutoUnattend_2008.xml
	/root/bin/kickstart/centos2_1_i386_ks.cfg
	/root/bin/kickstart/centos3_4_i386.cfg
	/root/bin/kickstart/centos3_9_i386.cfg
	/root/bin/kickstart/centos4_0_i386.cfg
	/root/bin/kickstart/centos4_1_i386.cfg
	/root/bin/kickstart/centos4_2_i386.cfg
	/root/bin/kickstart/centos4_3_i386.cfg
	/root/bin/kickstart/centos4_4_i386.cfg
	/root/bin/kickstart/centos4_5_i386.cfg
	/root/bin/kickstart/centos4_6_i386.cfg
	/root/bin/kickstart/centos4_7_i386.cfg
	/root/bin/kickstart/centos4_8_i386.cfg
	/root/bin/kickstart/centos5_0_i386.cfg
	/root/bin/kickstart/centos5_1_i386.cfg
	/root/bin/kickstart/centos5_2_i386.cfg
	/root/bin/kickstart/centos5_3_i386.cfg
	/root/bin/kickstart/centos5_4_i386.cfg
	/root/bin/kickstart/centos5_5_i386.cfg
	/root/bin/kickstart/centos5_6_i386.cfg
	/root/bin/kickstart/centos5_7_i386.cfg
	/root/bin/kickstart/centos5_8_i386.cfg
	/root/bin/kickstart/centos5_9_i386.cfg
	/root/bin/kickstart/centos6_0_i386.cfg
	/root/bin/kickstart/centos6_1_i386.cfg
	/root/bin/kickstart/centos6_2_i386.cfg
	/root/bin/kickstart/centos6_3_i386.cfg
	/root/bin/kickstart/centos6_4_i386.cfg
	/root/bin/kickstart/centos6_5_i386.cfg
	/root/bin/kickstart/centos7_1_x64.cfg
	/root/bin/kickstart/fedora_10_i386.cfg
	/root/bin/kickstart/fedora_11_i386.cfg
	/root/bin/kickstart/fedora_12_i386.cfg
	/root/bin/kickstart/fedora_13_i386.cfg
	/root/bin/kickstart/fedora_14_i386.cfg
	/root/bin/kickstart/fedora_15_i386.cfg
	/root/bin/kickstart/fedora_16_i386_ks.cfg
	/root/bin/kickstart/fedora_17_i386_ks.cfg
	/root/bin/kickstart/fedora_18_i386_ks.cfg
	/root/bin/kickstart/fedora_19_i386_ks.cfg
	/root/bin/kickstart/fedora_1_i386.cfg
	/root/bin/kickstart/fedora_20_i386_ks.cfg
	/root/bin/kickstart/fedora_2_i386.cfg
	/root/bin/kickstart/fedora_3_i386.cfg
	/root/bin/kickstart/fedora_4_i386.cfg
	/root/bin/kickstart/fedora_5_i386.cfg
	/root/bin/kickstart/fedora_6_i386.cfg
	/root/bin/kickstart/fedora_7_i386.cfg
	/root/bin/kickstart/fedora_8_i386.cfg
	/root/bin/kickstart/fedora_9_i386.cfg
	/root/bin/kickstart/preseed_ubuntu.cfg
	/root/bin/kickstart/readme.txt
	/root/bin/kickstart/redhat_7_2_ks.cfg
	/root/bin/kickstart/redhat_7_3_ks.cfg
	/root/bin/kickstart/redhat_8_0_ks.cfg
	/root/bin/kickstart/redhat_9_0_ks.cfg
	/root/bin/kickstart/rhel3_9_i386.cfg
	/root/bin/kickstart/rhel4_0_i386_ks.cfg
	/root/bin/kickstart/rhel4_1_i386_ks.cfg
	/root/bin/kickstart/rhel4_2_i386_ks.cfg
	/root/bin/kickstart/rhel4_3_i386_ks.cfg
	/root/bin/kickstart/rhel4_4_i386_ks.cfg
	/root/bin/kickstart/rhel4_5_i386_ks.cfg
	/root/bin/kickstart/rhel4_6_i386_ks.cfg
	/root/bin/kickstart/rhel4_7_i386_ks.cfg
	/root/bin/kickstart/rhel4_8_i386_ks.cfg
	/root/bin/kickstart/rhel5_0_i386_ks.cfg
	/root/bin/kickstart/rhel5_10_i386_ks.cfg
	/root/bin/kickstart/rhel5_1_i386_ks.cfg
	/root/bin/kickstart/rhel5_2_i386_ks.cfg
	/root/bin/kickstart/rhel5_2_x86_64.cfg
	/root/bin/kickstart/rhel5_3_i386_ks.cfg
	/root/bin/kickstart/rhel5_4_i386_ks.cfg
	/root/bin/kickstart/rhel5_5_i386_ks.cfg
	/root/bin/kickstart/rhel5_6_i386_ks.cfg
	/root/bin/kickstart/rhel5_6_x86_64.cfg
	/root/bin/kickstart/rhel5_7_i386_ks.cfg
	/root/bin/kickstart/rhel5_8_i386_ks.cfg
	/root/bin/kickstart/rhel5_9_i386_ks.cfg
	/root/bin/kickstart/rhel6_0_x86_64.cfg
	/root/bin/kickstart/rhel6_1_x86_64.cfg
	/root/bin/kickstart/rhel6_2_i386.cfg
	/root/bin/kickstart/rhel6_2_x86_64.cfg
	/root/bin/kickstart/rhel6_3_i386.cfg
	/root/bin/kickstart/rhel6_4_i386.cfg
	/root/bin/kickstart/rhel6_5_x86_64.cfg
	/root/bin/kickstart/sed_mdf_line_edit.sh
	/root/bin/kickstart/winnt_xp.sif

snippet kolla_
	/root/bin/kolla/start.sh

snippet l2tpd_client_
	/root/bin/l2tpd_client/readme.txt
	/root/bin/l2tpd_client/testvpn.l2tpd
	/root/bin/l2tpd_client/testvpn_2.l2tpd
	/root/bin/l2tpd_client/xl2tpd.conf

snippet libvirt_
	/root/bin/libvirt/delete_all.py
	/root/bin/libvirt/get_all.py
	/root/bin/libvirt/list_details.py

snippet logstash_
	/root/bin/logstash/elasticsearch.conf
	/root/bin/logstash/file.conf
	/root/bin/logstash/glob_file.conf
	/root/bin/logstash/index_name.conf
	/root/bin/logstash/simplest.conf

snippet lr_onekey_
	/root/bin/lr_onekey/install_lr_ci_package.pl
	/root/bin/lr_onekey/install_system_rpm.pl

snippet lrc_
	/root/bin/lrc/list_to_pair.py
	/root/bin/lrc/lrc_parse.py
	/root/bin/lrc/mp3_2_wav.py
	/root/bin/lrc/rename_demo.py
	/root/bin/lrc/wave_split.py

snippet mapreduce_

snippet matplotlib_
	/root/bin/matplotlib/0_array.py

snippet md5_db_
	/root/bin/md5_db/insert.py
	/root/bin/md5_db/insert_v2.py
	/root/bin/md5_db/md5_module.py
	/root/bin/md5_db/md5_sum.sql
	/root/bin/md5_db/search.py
	/root/bin/md5_db/select.py
	/root/bin/md5_db/tools.txt

snippet md5_db_v2_
	/root/bin/md5_db_v2/0_create_table.py
	/root/bin/md5_db_v2/1_insert_data.py
	/root/bin/md5_db_v2/2_select_data.py

snippet meicheng_
	/root/bin/meicheng/asua_meicheng.pl
	/root/bin/meicheng/new.py
	/root/bin/meicheng/ssh_meicheng.pl
	/root/bin/meicheng/ssh_usage.py

snippet mjpg-streamer_
	/root/bin/mjpg-streamer/0_start_simple.sh
	/root/bin/mjpg-streamer/1_socat_local.sh

snippet ml_
	/root/bin/ml/kmeans_.py
	/root/bin/ml/rand_points.py

snippet mock_
	/root/bin/mock/demo1.py

snippet mongodb_
	/root/bin/mongodb/append_a_colume.py
	/root/bin/mongodb/delete_a_value.py
	/root/bin/mongodb/find.txt
	/root/bin/mongodb/get_all_url.py
	/root/bin/mongodb/mongo_save_doc.py
	/root/bin/mongodb/mongo_search_filter.py
	/root/bin/mongodb/oss4aix_import.py
	/root/bin/mongodb/read_a_value.py
	/root/bin/mongodb/update_a_value.py
	/root/bin/mongodb/write_a_value.py

snippet motiontrack_
	/root/bin/motiontrack/gen_png_pic_gray_xy.pl
	/root/bin/motiontrack/install.sh
	/root/bin/motiontrack/opencv_rect.py

snippet mount_iso_rpc_
	/root/bin/mount_iso_rpc/__init__.py
	/root/bin/mount_iso_rpc/__main__.py
	/root/bin/mount_iso_rpc/client.py
	/root/bin/mount_iso_rpc/dispatcher.py
	/root/bin/mount_iso_rpc/server.py
	/root/bin/mount_iso_rpc/utils.py

snippet mybridge_common_usage_
	/root/bin/mybridge_common_usage/0_delete_net.sh
	/root/bin/mybridge_common_usage/0_list.sh
	/root/bin/mybridge_common_usage/0_start_net.sh
	/root/bin/mybridge_common_usage/10_delete_net.sh
	/root/bin/mybridge_common_usage/10_list.sh
	/root/bin/mybridge_common_usage/10_start_net.sh
	/root/bin/mybridge_common_usage/12_delete_net.sh
	/root/bin/mybridge_common_usage/12_list.sh
	/root/bin/mybridge_common_usage/12_start_net.sh
	/root/bin/mybridge_common_usage/14_delete_net.sh
	/root/bin/mybridge_common_usage/14_list.sh
	/root/bin/mybridge_common_usage/14_start_net.sh
	/root/bin/mybridge_common_usage/16_delete_net.sh
	/root/bin/mybridge_common_usage/16_list.sh
	/root/bin/mybridge_common_usage/16_start_net.sh
	/root/bin/mybridge_common_usage/18_delete_net.sh
	/root/bin/mybridge_common_usage/18_list.sh
	/root/bin/mybridge_common_usage/18_start_net.sh
	/root/bin/mybridge_common_usage/2_delete_net.sh
	/root/bin/mybridge_common_usage/2_list.sh
	/root/bin/mybridge_common_usage/2_start_net.sh
	/root/bin/mybridge_common_usage/4_delete_net.sh
	/root/bin/mybridge_common_usage/4_list.sh
	/root/bin/mybridge_common_usage/4_start_net.sh
	/root/bin/mybridge_common_usage/6_delete_net.sh
	/root/bin/mybridge_common_usage/6_list.sh
	/root/bin/mybridge_common_usage/6_start_net.sh
	/root/bin/mybridge_common_usage/8_delete_net.sh
	/root/bin/mybridge_common_usage/8_list.sh
	/root/bin/mybridge_common_usage/8_start_net.sh
	/root/bin/mybridge_common_usage/delete_all.sh

snippet mysql_
	/root/bin/mysql/change_pass_root.sh
	/root/bin/mysql/create_db.sh
	/root/bin/mysql/create_db_EOF.sh
	/root/bin/mysql/create_multi_user.sh
	/root/bin/mysql/get_db_meta.sh
	/root/bin/mysql/orm.txt

snippet neutron_tools_
	/root/bin/neutron_tools/get_phy_net_card.pl

snippet nginx_
	/root/bin/nginx/linux_src.conf
	/root/bin/nginx/simplest.conf
	/root/bin/nginx/start.sh
	/root/bin/nginx/static_file.conf
	/root/bin/nginx/stop.sh

snippet nltk_
	/root/bin/nltk/brown_demo.py
	/root/bin/nltk/file_to_text.py
	/root/bin/nltk/gutenberg_demo.py
	/root/bin/nltk/kaoyan_corpus.py
	/root/bin/nltk/news_demo.py
	/root/bin/nltk/sents_demo.py

snippet nodejs_
	/root/bin/nodejs/array.js
	/root/bin/nodejs/cherrio_demo.js
	/root/bin/nodejs/for.js
	/root/bin/nodejs/fs_fstat.js
	/root/bin/nodejs/hello.js
	/root/bin/nodejs/readme.txt
	/root/bin/nodejs/while.js
	/root/bin/nodejs/a.js

snippet nosql_
	/root/bin/nosql/redis_demo.py

snippet numpy_
	/root/bin/numpy/rand_img.py

snippet openldap_
	/root/bin/openldap/change_passwd.py
	/root/bin/openldap/docker-enter
	/root/bin/openldap/login.py
	/root/bin/openldap/login_ldap_v0.py
	/root/bin/openldap/login_password.py
	/root/bin/openldap/login_v2.py
	/root/bin/openldap/login_v3.py
	/root/bin/openldap/login_v5.py
	/root/bin/openldap/login_v6.py
	/root/bin/openldap/openldap.sh
	/root/bin/openldap/search.py
	/root/bin/openldap/simplebrowse_admin.py
	/root/bin/openldap/simplebrowse_ano.py
	/root/bin/openldap/simplest.sh
	/root/bin/openldap/sync_system.pl
	/root/bin/openldap/uid_search.py

snippet openstack_bash_comp_
	/root/bin/openstack_bash_comp/README.md
	/root/bin/openstack_bash_comp/complete-os-rc
	/root/bin/openstack_bash_comp/install-os-tools.sh
	/root/bin/openstack_bash_comp/os-functions
	/root/bin/openstack_bash_comp/os-tools
	/root/bin/openstack_bash_comp/readme.txt

snippet openstack_client_
	/root/bin/openstack_client/cinder_volume_list.py
	/root/bin/openstack_client/glance_client.py
	/root/bin/openstack_client/keystone_client_demo.py
	/root/bin/openstack_client/keystone_creds.py
	/root/bin/openstack_client/nova_client.py
	/root/bin/openstack_client/nova_client_create_snapshot.py
	/root/bin/openstack_client/nova_create.py
	/root/bin/openstack_client/novaclient_init.py
	/root/bin/openstack_client/snapshot.txt

snippet openstack_client_2016_
	/root/bin/openstack_client_2016/client_conf.py
	/root/bin/openstack_client_2016/create_intance.py
	/root/bin/openstack_client_2016/instance_auto_mount_volume.py
	/root/bin/openstack_client_2016/list_cinder.py
	/root/bin/openstack_client_2016/list_glance.py
	/root/bin/openstack_client_2016/list_nova_flavors.py
	/root/bin/openstack_client_2016/list_nova_floating.py
	/root/bin/openstack_client_2016/list_nova_keypairs.py
	/root/bin/openstack_client_2016/list_nova_network.py
	/root/bin/openstack_client_2016/list_nova_servers.py

snippet openstack_deploy_

snippet openstack_fake_
	/root/bin/openstack_fake/281_tailong.py
	/root/bin/openstack_fake/NovaThousandsDriver.py
	/root/bin/openstack_fake/Powerpc262Driver.py
	/root/bin/openstack_fake/_accordion_nav.html
	/root/bin/openstack_fake/add_nova_compute_node.sh
	/root/bin/openstack_fake/bashrc
	/root/bin/openstack_fake/change_logo.sh
	/root/bin/openstack_fake/change_logo_redhat.sh
	/root/bin/openstack_fake/change_logo_st.sh
	/root/bin/openstack_fake/change_logo_syscloud.sh
	/root/bin/openstack_fake/cinder_create.sh
	/root/bin/openstack_fake/cinder_deploy.sh
	/root/bin/openstack_fake/cinder_test.sh
	/root/bin/openstack_fake/deploy.sh
	/root/bin/openstack_fake/deploy2.sh
	/root/bin/openstack_fake/expiration.sh
	/root/bin/openstack_fake/fake.py
	/root/bin/openstack_fake/function_cache.sh
	/root/bin/openstack_fake/function_stat.sh
	/root/bin/openstack_fake/get_ok_cmd.sh
	/root/bin/openstack_fake/get_process.php
	/root/bin/openstack_fake/logo_rect.png
	/root/bin/openstack_fake/logo_square_.png
	/root/bin/openstack_fake/my_fakedriver.py
	/root/bin/openstack_fake/mydashboard_deploy.sh
	/root/bin/openstack_fake/mydashboard_deploy_v2.sh
	/root/bin/openstack_fake/mydashboard_sync.sh
	/root/bin/openstack_fake/nfs.py
	/root/bin/openstack_fake/nova_loop_bench.sh
	/root/bin/openstack_fake/pip_install_proxy.sh
	/root/bin/openstack_fake/po_i18n_mo_django.sh
	/root/bin/openstack_fake/powerpc.py
	/root/bin/openstack_fake/qemu_tools.py
	/root/bin/openstack_fake/scp.py
	/root/bin/openstack_fake/secret_key.py
	/root/bin/openstack_fake/sed_change.sh
	/root/bin/openstack_fake/socat_info.py
	/root/bin/openstack_fake/socat_info_class.py
	/root/bin/openstack_fake/socat_info_shell.sh
	/root/bin/openstack_fake/ssh_scp_client.py
	/root/bin/openstack_fake/sshclient.py
	/root/bin/openstack_fake/sync.sh
	/root/bin/openstack_fake/todo.txt
	/root/bin/openstack_fake/tool.js
	/root/bin/openstack_fake/update_2_kilo.sh
	/root/bin/openstack_fake/update_chenghao_1_syscl_ui_i_keep_kilo.sh
	/root/bin/openstack_fake/update_chenghao_2__tailong.sh
	/root/bin/openstack_fake/update_chenghao_3_my_logo.sh
	/root/bin/openstack_fake/update_chenghao_4_chinese_i18n.sh
	/root/bin/openstack_fake/update_chenghao_5_multi_vios.sh
	/root/bin/openstack_fake/update_chenghao_6_tips_tshooting.sh
	/root/bin/openstack_fake/update_chenghao_7_tailong_chinese.sh
	/root/bin/openstack_fake/white.png
	/root/bin/openstack_fake/gray.png
	/root/bin/openstack_fake/nohup.out

snippet openstack_keystone_
	/root/bin/openstack_keystone/0_ENV_var.sh
	/root/bin/openstack_keystone/1_keystone_0_yum.sh
	/root/bin/openstack_keystone/1_keystone_1_conf.sh
	/root/bin/openstack_keystone/1_keystone_3_wsgi.sh
	/root/bin/openstack_keystone/1_keystone_4_add_data.sh
	/root/bin/openstack_keystone/add_admin2.sh
	/root/bin/openstack_keystone/add_user.sh
	/root/bin/openstack_keystone/amqp_debug.sh
	/root/bin/openstack_keystone/endpointcloudkitty.sh
	/root/bin/openstack_keystone/keystone_crudini.sh
	/root/bin/openstack_keystone/set_all_debug.sh

snippet openstack_kilo_deploy_
	/root/bin/openstack_kilo_deploy/rdo-release.repo_my_local
	/root/bin/openstack_kilo_deploy/libvirt.tar.gz

snippet openstack_mitaka_
	/root/bin/openstack_mitaka/delete.sh
	/root/bin/openstack_mitaka/delete_net.sh
	/root/bin/openstack_mitaka/list.sh
	/root/bin/openstack_mitaka/mitaka_3_node
	/root/bin/openstack_mitaka/start.sh
	/root/bin/openstack_mitaka/start_net.sh

snippet openstack_newton_
	/root/bin/openstack_newton/Vagrantfile
	/root/bin/openstack_newton/allinone.sh
	/root/bin/openstack_newton/mirror.py
	/root/bin/openstack_newton/readme.txt

snippet openstack_ocata_
	/root/bin/openstack_ocata/allinone.sh
	/root/bin/openstack_ocata/mirror.py
	/root/bin/openstack_ocata/readme.txt

snippet oslo_
	/root/bin/oslo/forever_retry_uncaught_exceptions_demo.py
	/root/bin/oslo/oslo_processutils_demo.py
	/root/bin/oslo/timeutils_demo.py

snippet ovs_
	/root/bin/ovs/0_libvirt_ovs_br_gen.py

snippet packstack_
	/root/bin/packstack/anaconda-ks.cfg
	/root/bin/packstack/cinder_vg_create.sh
	/root/bin/packstack/eth0_netcard.sh
	/root/bin/packstack/flavor_create.sh
	/root/bin/packstack/glance_import.sh
	/root/bin/packstack/keystone_exp.sh
	/root/bin/packstack/mysql_pass.sql
	/root/bin/packstack/mysql_skip.sh
	/root/bin/packstack/nova_create_instance.sh
	/root/bin/packstack/openstack_install.sh
	/root/bin/packstack/openstack_uninstall.sh
	/root/bin/packstack/packstack-answers-allinone.txt
	/root/bin/packstack/rabbitmq-signing-key-public.asc
	/root/bin/packstack/readme.txt
	/root/bin/packstack/output.txt

snippet pcap_http_
	/root/bin/pcap_http/pcap-http.py
	/root/bin/pcap_http/readme.txt

snippet phantomjs_
	/root/bin/phantomjs/BeautifulSoup_click_next_page.py
	/root/bin/phantomjs/beautifulSoup.py
	/root/bin/phantomjs/h3c_login.py
	/root/bin/phantomjs/inject.js
	/root/bin/phantomjs/jquery_inject.js
	/root/bin/phantomjs/kernel.js
	/root/bin/phantomjs/kernel_newest.js
	/root/bin/phantomjs/phantomjs.py
	/root/bin/phantomjs/selenium_download_bing.py
	/root/bin/phantomjs/selenium_email_decrypt.py
	/root/bin/phantomjs/selenium_test.py

snippet photo_md5_
	/root/bin/photo_md5/0_create_table.py
	/root/bin/photo_md5/model.py
	/root/bin/photo_md5/3_dump_all.py
	/root/bin/photo_md5/import_dir.py
	/root/bin/photo_md5/insert_data.py
	/root/bin/photo_md5/iso_read_utf8.py
	/root/bin/photo_md5/main.py
	/root/bin/photo_md5/tools.py
	/root/bin/photo_md5/find_by_photo.py
	/root/bin/photo_md5/search_photo_by_md5_filename.py

snippet process_watch_
	/root/bin/process_watch/start_win_process.py
	/root/bin/process_watch/windows_watch.py

snippet pydevd_
	/root/bin/pydevd/demo.py

snippet qa_db_orm_
	/root/bin/qa_db_orm/models_answer.py
	/root/bin/qa_db_orm/seg_update.py
	/root/bin/qa_db_orm/test_answer.py
	/root/bin/qa_db_orm/tools.txt
	/root/bin/qa_db_orm/models_question.py
	/root/bin/qa_db_orm/index_question.py
	/root/bin/qa_db_orm/search.py
	/root/bin/qa_db_orm/models_question.pyc
	/root/bin/qa_db_orm/test_question.py

snippet qa_post_
	/root/bin/qa_post/all.sh
	/root/bin/qa_post/get_answer_from_ice.sh
	/root/bin/qa_post/lib_db.php
	/root/bin/qa_post/list.php
	/root/bin/qa_post/mongo_get_all_question.py
	/root/bin/qa_post/question

snippet qianbao_
	/root/bin/qianbao/checkout.sh
	/root/bin/qianbao/checkout_out_ip.sh
	/root/bin/qianbao/hosts
	/root/bin/qianbao/list.txt

snippet queue_
	/root/bin/queue/redis_consume.py
	/root/bin/queue/redis_product.py

snippet rabbiqmq_
	/root/bin/rabbiqmq/rabbitmq_sniffer_.py
	/root/bin/rabbiqmq/rabbitmqtrace.py

snippet random_
	/root/bin/random/Makefile
	/root/bin/random/RandCreateFileDir.cpp
	/root/bin/random/RandPartOfFile.pl
	/root/bin/random/boost_random_number.cpp
	/root/bin/random/createFileLength.cpp
	/root/bin/random/createFileLength_v3.pl
	/root/bin/random/create_100000_files_from_cur_dir.pl
	/root/bin/random/email_gen.py
	/root/bin/random/faker_demo_data.py
	/root/bin/random/gen_rand_mysql_table.pl
	/root/bin/random/include_demo.py
	/root/bin/random/ini_file_2_ul_li.php
	/root/bin/random/mysql_rand__data_fill.txt
	/root/bin/random/octave_rand_matrix.ot
	/root/bin/random/passwd_gen.py
	/root/bin/random/postal_address.py
	/root/bin/random/prime_math.pl
	/root/bin/random/randArticle.php
	/root/bin/random/randPath.cpp
	/root/bin/random/randStr.cpp
	/root/bin/random/rand_address.php
	/root/bin/random/rand_address.pl
	/root/bin/random/rand_article.cpp
	/root/bin/random/rand_article.sh
	/root/bin/random/rand_chinese_string.cpp
	/root/bin/random/rand_create_zip_file.cpp
	/root/bin/random/rand_crop.pl
	/root/bin/random/rand_function_cpp_src.pl
	/root/bin/random/rand_gen_bmp_bitmap.cpp
	/root/bin/random/rand_gen_struct.pl
	/root/bin/random/rand_graph.cpp
	/root/bin/random/rand_guid.pl
	/root/bin/random/rand_huanqiuweb_company_info.php
	/root/bin/random/rand_huge_many_cpp_src.pl
	/root/bin/random/rand_ini.cpp
	/root/bin/random/rand_mac_gen
	/root/bin/random/rand_mac_gen.pl
	/root/bin/random/rand_mac_print_v2.cpp
	/root/bin/random/rand_matrix_2_c.pl
	/root/bin/random/rand_mbr.cpp
	/root/bin/random/rand_net_package.sh
	/root/bin/random/rand_open_file.pl
	/root/bin/random/rand_partion.cpp
	/root/bin/random/rand_str.php
	/root/bin/random/rand_word.cpp
	/root/bin/random/rand_word.pl
	/root/bin/random/rand_word.pm
	/root/bin/random/randline.py
	/root/bin/random/randomImg_IMAGEMAGICK.cc
	/root/bin/random/randomImg_IMAGEMAGICK.cpp
	/root/bin/random/random_class_inheritance.cpp
	/root/bin/random/random_get_url.pl
	/root/bin/random/random_line.cpp
	/root/bin/random/random_shuffle.cpp
	/root/bin/random/readme_qzj.txt
	/root/bin/random/rect_rand.cpp
	/root/bin/random/regex_demo.py
	/root/bin/random/shell_bash_RANDOM.sh
	/root/bin/random/shuffle_rand_line.pl
	/root/bin/random/str_rand_email.pl
	/root/bin/random/symmetry_matrix_rand.pl
	/root/bin/random/template_specialization_rand.cpp
	/root/bin/random/tftpboot_rand_mac_gen.pl
	/root/bin/random/true_color_bmp_bitmap.cpp
	/root/bin/random/urandom.sh
	/root/bin/random/url_gen.py
	/root/bin/random/user_agent_rand.pl
	/root/bin/random/utime_mtime_random_change.pl
	/root/bin/random/uuid_generator.py
	/root/bin/random/uuid_random.pl
	/root/bin/random/website_url_rand.pl
	/root/bin/random/random_name.py

snippet rap_centos7.3_
	/root/bin/rap_centos7.3/initialize.sql
	/root/bin/rap_centos7.3/run_centos7.3.sh
	/root/bin/rap_centos7.3/tomcat_start.sh

snippet raven_
	/root/bin/raven/client_.py

snippet register_php_
	/root/bin/register_php/curl_register.sh
	/root/bin/register_php/user.sql
	/root/bin/register_php/user_login.php
	/root/bin/register_php/user_register.php
	/root/bin/register_php/user_status.php
	/root/bin/register_php/user_test.sh
	/root/bin/register_php/user_uploadinfo.php

snippet requests_
	/root/bin/requests/capture_screen.py
	/root/bin/requests/extract.py
	/root/bin/requests/get.py
	/root/bin/requests/header_agent.py
	/root/bin/requests/html_save_file.py
	/root/bin/requests/post_file.py
	/root/bin/requests/readme.txt
	/root/bin/requests/save_file.php
	/root/bin/requests/save_to_mongod.py
	/root/bin/requests/get_2.py
	/root/bin/requests/tmp
	/root/bin/requests/a.js

snippet rrdtools_
	/root/bin/rrdtools/ds_print.py
	/root/bin/rrdtools/readme.txt

snippet rrdtools_netcard_
	/root/bin/rrdtools_netcard/create.py
	/root/bin/rrdtools_netcard/graph.py
	/root/bin/rrdtools_netcard/update.py
	/root/bin/rrdtools_netcard/Flow.rrd

snippet rsync_back_

snippet s3_
	/root/bin/s3/boto_demo.py

snippet scrapy_

snippet selenium_
	/root/bin/selenium/bench_all.py
	/root/bin/selenium/bing_bench_chrome_.py
	/root/bin/selenium/chrome.py
	/root/bin/selenium/chrome_download_bing_in_win.py
	/root/bin/selenium/get_by_xpath.py
	/root/bin/selenium/login_xpath_zhihu.py
	/root/bin/selenium/safari_demo.py
	/root/bin/selenium/screenshot_png.py
	/root/bin/selenium/selenium_Firefox_.py
	/root/bin/selenium/selenium_phantomjs_demo.py

snippet shadowsocks_
	/root/bin/shadowsocks/proxy.json
	/root/bin/shadowsocks/ss.json

snippet sitestar_
	/root/bin/sitestar/0_backup_sql.sh
	/root/bin/sitestar/1_mysql_restore.sh
	/root/bin/sitestar/create_db.sql
	/root/bin/sitestar/get_db.sh
	/root/bin/sitestar/init.sh
	/root/bin/sitestar/python_php_unserial.py
	/root/bin/sitestar/readme.txt

snippet snippets_
	/root/bin/snippets/Makefile
	/root/bin/snippets/change_sinppet_to_atom.py
	/root/bin/snippets/change_to_keywords.py
	/root/bin/snippets/django.snippets
	/root/bin/snippets/htmldjango.snippets
	/root/bin/snippets/java.snippets
	/root/bin/snippets/perl.snippets
	/root/bin/snippets/php.snippets
	/root/bin/snippets/scala.snippets
	/root/bin/snippets/sh.snippets
	/root/bin/snippets/README.rd
	/root/bin/snippets/markdown.snippets
	/root/bin/snippets/python.snippets
	/root/bin/snippets/vue.snippets
	/root/bin/snippets/html_bootstrap.snippets
	/root/bin/snippets/snippet_keywords_append.py
	/root/bin/snippets/generate_dir.py

snippet solr_
	/root/bin/solr/0_install.sh
	/root/bin/solr/1_add_my_daily.py
	/root/bin/solr/2015_10_26_week_done.txt
	/root/bin/solr/add_doc.py
	/root/bin/solr/bootstrap.php
	/root/bin/solr/query.php
	/root/bin/solr/query_daily.py
	/root/bin/solr/readme.txt
	/root/bin/solr/schema.xml
	/root/bin/solr/server.xml
	/root/bin/solr/solr_api.pl
	/root/bin/solr/solr_install.sh
	/root/bin/solr/solr_php_question_.php
	/root/bin/solr/solr_test.py
	/root/bin/solr/test.config.php
	/root/bin/solr/web.xml.txt

snippet spark_
	/root/bin/spark/0_get_master_slave.sh
	/root/bin/spark/0_iptable.sh
	/root/bin/spark/0_java_install.sh
	/root/bin/spark/1_set_hostname.sh
	/root/bin/spark/3_spark_install.sh
	/root/bin/spark/4_distribution.sh
	/root/bin/spark/4_ssh_key_copy.sh
	/root/bin/spark/6_start.sh
	/root/bin/spark/bashrc.sh
	/root/bin/spark/hosts
	/root/bin/spark/hosts_greshem
	/root/bin/spark/hosts_wu
	/root/bin/spark/spark-env.sh

snippet ssh_
	/root/bin/ssh/ssh.py

snippet ssh_paramiko_
	/root/bin/ssh_paramiko/0_login_with_pass.py
	/root/bin/ssh_paramiko/2_login_with_key.py
	/root/bin/ssh_paramiko/3_channel_except.py
	/root/bin/ssh_paramiko/4_channel_scp_file.py

snippet supervisord.d_
	/root/bin/supervisord.d/Makefile
	/root/bin/supervisord.d/TEMPLATE.ini.tpl
	/root/bin/supervisord.d/dnsmasq.ini
	/root/bin/supervisord.d/horizon.ini
	/root/bin/supervisord.d/http_33444.ini
	/root/bin/supervisord.d/phddns.ini
	/root/bin/supervisord.d/polipo.ini
	/root/bin/supervisord.d/readme.sh
	/root/bin/supervisord.d/shadowsock_sslocal.ini
	/root/bin/supervisord.d/sshuttle.ini

snippet syscloud_
	/root/bin/syscloud/f23.ovpn
	/root/bin/syscloud/gen_hosts.sh
	/root/bin/syscloud/get_alive_syscloud.sh
	/root/bin/syscloud/get_all_rabbit_client.pl
	/root/bin/syscloud/osd_add_local_one_disk.sh
	/root/bin/syscloud/packstack_set_passwd_tgbygv.sh
	/root/bin/syscloud/service_restart.sh
	/root/bin/syscloud/sshpasswd_beijin.sh
	/root/bin/syscloud/syscloud_ssh_no_passwd.sh

snippet tailong_
	/root/bin/tailong/0_start.sh
	/root/bin/tailong/1_project_user_create.sh
	/root/bin/tailong/2_endpoint.sh

snippet templates_
	/root/bin/templates/r1compute1.xml

snippet tyd_sync_
	/root/bin/tyd_sync/du.list
	/root/bin/tyd_sync/oz_sync.sh
	/root/bin/tyd_sync/pay_info.db.sh
	/root/bin/tyd_sync/sync_all.sh
	/root/bin/tyd_sync/tdy.db_sync.sh

snippet vagrant_
	/root/bin/vagrant/readme.txt

snippet virsh_
	/root/bin/virsh/create_interface.py
	/root/bin/virsh/create_net.sh
	/root/bin/virsh/my_net.xml

snippet virt_install_cfg_driver_
	/root/bin/virt_install_cfg_driver/README.md
	/root/bin/virt_install_cfg_driver/cfg_drv.sh
	/root/bin/virt_install_cfg_driver/kvm-install-vm
	/root/bin/virt_install_cfg_driver/virsh_iso.sh

snippet vlan_
	/root/bin/vlan/vlan_bench.sh

snippet vsftpd_
	/root/bin/vsftpd/0_init.sh
	/root/bin/vsftpd/append_user.sh
	/root/bin/vsftpd/change_to_db_hash.sh
	/root/bin/vsftpd/chroot_list
	/root/bin/vsftpd/ftpusers
	/root/bin/vsftpd/ftpusers.bak
	/root/bin/vsftpd/pam.d_vsftpd
	/root/bin/vsftpd/user_list
	/root/bin/vsftpd/vsftpd.conf

snippet wav_tools_
	/root/bin/wav_tools/broadcasting.py
	/root/bin/wav_tools/lfilter.py
	/root/bin/wav_tools/mp3_2_wav.py
	/root/bin/wav_tools/noise_wave_gen.py
	/root/bin/wav_tools/repeat_audio.py
	/root/bin/wav_tools/scipy_wav.py
	/root/bin/wav_tools/sine_wave_gen.py
	/root/bin/wav_tools/tone_generation.py
	/root/bin/wav_tools/wav_info_merge.py
	/root/bin/wav_tools/wave_split_with_lrc.py

snippet wdtree_
	/root/bin/wdtree/datafeed.php
	/root/bin/wdtree/datafeed_raw.php
	/root/bin/wdtree/datafeed_wordnet.php
	/root/bin/wdtree/dump_root_node.php
	/root/bin/wdtree/dump_tree.php
	/root/bin/wdtree/get1.php
	/root/bin/wdtree/lazy-load-tree-sample.htm
	/root/bin/wdtree/load_like.php
	/root/bin/wdtree/wget_curl_test.sh

snippet whoosh_
	/root/bin/whoosh/query.py
	/root/bin/whoosh/whoosh_example.py
	/root/bin/whoosh/words_related.py

snippet wsgi_
	/root/bin/wsgi/print_env.py

snippet wzcloud_deploy_
	/root/bin/wzcloud_deploy/0_download.sh
	/root/bin/wzcloud_deploy/0_tar_src.sh
	/root/bin/wzcloud_deploy/1_billing_deploy.sh
	/root/bin/wzcloud_deploy/2_deploy_vue.sh
	/root/bin/wzcloud_deploy/3_vzcloud_reset_api_file_srv.sh
	/root/bin/wzcloud_deploy/4_neutron_route_limit.sh
	/root/bin/wzcloud_deploy/5_collectd.sh
	/root/bin/wzcloud_deploy/6_influxdb.sh
	/root/bin/wzcloud_deploy/7_grafana.sh
	/root/bin/wzcloud_deploy/check_all.sh
	/root/bin/wzcloud_deploy/one_key_deploy.sh
	/root/bin/wzcloud_deploy/setting.sh.tpl
	/root/bin/wzcloud_deploy/start_all.sh

snippet vzhucloud_
	/root/bin/vzhucloud/list
	/root/bin/vzhucloud/1_get_post_views.py
	/root/bin/vzhucloud/2_code_generator.py

snippet xunfei_
	/root/bin/xunfei/deploy.sh
	/root/bin/xunfei/readme.txt
	/root/bin/xunfei/tts_sample.c

snippet yum_repo_tools_
	/root/bin/yum_repo_tools/cdh_5.5.1.repo
	/root/bin/yum_repo_tools/centos71_extra.repo
	/root/bin/yum_repo_tools/centos7_1.repo
	/root/bin/yum_repo_tools/change.sh
	/root/bin/yum_repo_tools/cloudera-manager.repo
	/root/bin/yum_repo_tools/cuda.repo
	/root/bin/yum_repo_tools/epel.repo
	/root/bin/yum_repo_tools/rdo-release.repo
	/root/bin/yum_repo_tools/zabbix.repo

snippet zabbix_centos7_
	/root/bin/zabbix_centos7/0_zabbix_server.py
	/root/bin/zabbix_centos7/1_php_web_usge.py
	/root/bin/zabbix_centos7/3_zabbix_agentd_usage.py
	/root/bin/zabbix_centos7/get_all_hosts.py
	/root/bin/zabbix_centos7/readme.txt
	/root/bin/zabbix_centos7/tshooting.txt
	/root/bin/zabbix_centos7/zabbix_agentd.conf
	/root/bin/zabbix_centos7/zabbix_install_emo.sh

snippet zhongyin_java_
	/root/bin/zhongyin_java/env.txt
	/root/bin/zhongyin_java/hosts
	/root/bin/zhongyin_java/readme.txt
	/root/bin/zhongyin_java/ssh_nat_usage.py
	/root/bin/zhongyin_java/sshuttle_zhongying_16.sh
	/root/bin/zhongyin_java/sshuttle_zhongying_18.sh
	/root/bin/zhongyin_java/sshuttle_zhongying_33.sh
	/root/bin/zhongyin_java/start.sh
	/root/bin/zhongyin_java/vpn.py

snippet zhongyin_perl_
	/root/bin/zhongyin_perl/dec_all_pl.sh
	/root/bin/zhongyin_perl/gre_cur_commandid.pl
	/root/bin/zhongyin_perl/gre_get_tables.pl
	/root/bin/zhongyin_perl/gre_hourid.pl
	/root/bin/zhongyin_perl/decrypt_all.sh

snippet zhudiwen_emotion_query_
	/root/bin/zhudiwen_emotion_query/emo_query.php

snippet zim_
	/root/bin/zim/zimHttpServer.pl
	/root/bin/zim/zim_server.py

snippet zookeeper_
	/root/bin/zookeeper/deploy_solrcould.sh
	/root/bin/zookeeper/deploy_zk.sh

snippet qa_robot_
	/root/bin/qa_robot/qa_.py
	/root/bin/qa_robot/question_search.py
	/root/bin/qa_robot/readme.txt
	/root/bin/qa_robot/woosh_search.py
	/root/bin/qa_robot/keyword_get.py

snippet grafana_
	/root/bin/grafana/grafana.ini.example
	/root/bin/grafana/README
	/root/bin/grafana/Host-Overview.json.gz
	/root/bin/grafana/MySql-Overview.json.gz
	/root/bin/grafana/Physical-Host-Overview.json.gz
	/root/bin/grafana/install.sh

snippet photos2geojson_
	/root/bin/photos2geojson/LICENSE
	/root/bin/photos2geojson/MANIFEST.in
	/root/bin/photos2geojson/Makefile
	/root/bin/photos2geojson/README.md
	/root/bin/photos2geojson/setup.py
	/root/bin/photos2geojson/readme.txt

snippet orm_

snippet django_orm_simple_
	/root/bin/django_orm_simple/README.md
	/root/bin/django_orm_simple/manage.py
	/root/bin/django_orm_simple/main.py
	/root/bin/django_orm_simple/settings.py
	/root/bin/django_orm_simple/readme.txt
	/root/bin/django_orm_simple/db.sqlite3
	/root/bin/django_orm_simple/settings.pyc

snippet markdown_template_
	/root/bin/markdown_template/README.md
	/root/bin/markdown_template/soft_simple_usage.md
	/root/bin/markdown_template/templte_1.md
	/root/bin/markdown_template/tianshu_chinese.md

snippet argparse_demo_
	/root/bin/argparse_demo/argparse_autogen_demo.py
	/root/bin/argparse_demo/group_.py
	/root/bin/argparse_demo/list_all.py
	/root/bin/argparse_demo/submand_demo.py
	/root/bin/argparse_demo/test.py
	/root/bin/argparse_demo/group2_command.py
	/root/bin/argparse_demo/group3_command.py
	/root/bin/argparse_demo/readme.txt
	/root/bin/argparse_demo/submand2_demo.py

snippet diary_
	/root/bin/diary/all.csv
	/root/bin/diary/user.pyc
	/root/bin/diary/diary_etl.py
	/root/bin/diary/user.py
	/root/bin/diary/diary_date.py
	/root/bin/diary/user.txt

snippet subcommand_
	/root/bin/subcommand/argparse_command.py
	/root/bin/subcommand/cliff_cloud.py
	/root/bin/subcommand/demo_subcommand.py

snippet geo_
	/root/bin/geo/2_address.py

snippet markdown_demo_
	/root/bin/markdown_demo/README.md

snippet vue_snippets_
	/root/bin/vue_snippets/get_code.py

snippet entry_points_
	/root/bin/entry_points/setup.py
	/root/bin/entry_points/validation.py
	/root/bin/entry_points/README

snippet django_blog_
	/root/bin/django_blog/manage.py
	/root/bin/django_blog/db.sqlite3
	/root/bin/django_blog/fake_api_generator.py
	/root/bin/django_blog/gen_json.py

snippet bootstrap_v2_
	/root/bin/bootstrap_v2/bootstrap_v2.html
	/root/bin/bootstrap_v2/layout_v1.html

snippet gantt_
	/root/bin/gantt/devoops.gantt
	/root/bin/gantt/wzcloud.gantt.png
	/root/bin/gantt/devoops.gantt.png
	/root/bin/gantt/render.sh
	/root/bin/gantt/wzcloud.gantt

snippet geoip_
	/root/bin/geoip/ip_2_addr.py

snippet nosetest_
	/root/bin/nosetest/page_demo.py
	/root/bin/nosetest/start.sh

snippet django_startproject_
	/root/bin/django_startproject/0_gen.sh
	/root/bin/django_startproject/cookiecutter.json


