
snippet notify_send.cheat_cross
	REFERENCE: notify-send.cheat 

snippet send.cheat_notify_cross
	REFERENCE: notify-send.cheat 

snippet hardware_info.cheat_cross
	REFERENCE: hardware-info.cheat 

snippet info.cheat_hardware_cross
	REFERENCE: hardware-info.cheat 

snippet ssh_keygen.cheat_cross
	REFERENCE: ssh-keygen.cheat 

snippet keygen.cheat_ssh_cross
	REFERENCE: ssh-keygen.cheat 

snippet id.cheat_copy_ssh_cross
	REFERENCE: ssh-copy-id.cheat 

snippet id.cheat_ssh_copy_cross
	REFERENCE: ssh-copy-id.cheat 

snippet copy_id.cheat_ssh_cross
	REFERENCE: ssh-copy-id.cheat 

snippet copy_ssh_id.cheat_cross
	REFERENCE: ssh-copy-id.cheat 

snippet ssh_id.cheat_copy_cross
	REFERENCE: ssh-copy-id.cheat 

snippet ssh_copy_id.cheat_cross
	REFERENCE: ssh-copy-id.cheat 

snippet dl.cheat_youtube_cross
	REFERENCE: youtube-dl.cheat 

snippet youtube_dl.cheat_cross
	REFERENCE: youtube-dl.cheat 

snippet cache.cheat_apt_cross
	REFERENCE: apt-cache.cheat 

snippet apt_cache.cheat_cross
	REFERENCE: apt-cache.cheat 

snippet mode.cheat_org_cross
	REFERENCE: org-mode.cheat 

snippet org_mode.cheat_cross
	REFERENCE: org-mode.cheat 

snippet get.cheat_apt_cross
	REFERENCE: apt-get.cheat 

snippet apt_get.cheat_cross
	REFERENCE: apt-get.cheat 
